Importing IMF GDP Per capita data to use as target values\
Data include GDP per capita for every country for all years available.

In [40]:
import pandas as pd
import time
import numpy as np
from datetime import date


from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant

from sklearn.tree import DecisionTreeRegressor

import altair as alt
from vega_datasets import data

In [41]:
imf_target_values_import=pd.read_excel(open('/Users/stephenontko/Documents/University of Michigan/UMSI/UMSI MADS/UMSI MADS 2023/SIADS 699 Capstone/Data/IMF/imf-dm-export-20230215.xlsx','rb'),sheet_name='NGDPDPC')

imf_target_values_import = imf_target_values_import.iloc[1:,:]
print(imf_target_values_import)

    GDP per capita, current prices\n (U.S. dollars per capita)    1980.0  \
1                                          Afghanistan           no data
2                                              Albania           728.359
3                                              Algeria          2268.607
4                                              Andorra           no data
5                                               Angola           745.119
..                                                 ...               ...
227                           Other advanced economies          6886.485
228                                 Sub-Saharan Africa           no data
229                                              World          2862.333
230                                                NaN               NaN
231                                         Â©IMF, 2022               NaN

       1981.0    1982.0    1983.0    1984.0    1985.0    1986.0     1987.0  \
1     no data   no data   no data   no data   no data   no data    no data
2     817.734   824.542   815.529   788.332   788.801   855.724    832.245
3    2305.505  2254.328  2316.679  2432.717  2753.697  2698.915   2705.111
4     no data   no data   no data   no data   no data   no data    no data
5      679.02    661.52   671.804   693.779   758.525   690.446    769.563
..        ...       ...       ...       ...       ...       ...        ...
227  6930.571  6792.923  6699.744  6948.341  6861.781  8292.104  10106.092
228   no data   no data   no data   no data   no data   no data    no data
229   2876.22  2772.215  2797.085  2846.673   2920.23  3376.821   3820.734
230       NaN       NaN       NaN       NaN       NaN       NaN        NaN
231       NaN       NaN       NaN       NaN       NaN       NaN        NaN

        1988.0  ...     2018.0     2019.0     2020.0     2021.0     2022.0  \
1      no data  ...    582.323    586.204    611.268    no data    no data
2      805.046  ...   5257.714   5345.058   5268.239     6373.3   6369.009
3     2143.742  ...   4118.839   3953.576   3304.865   3659.531   4151.437
4      no data  ...  42229.903  40688.491  36973.845   41873.06   40722.63
5      812.794  ...   3465.062   2805.261    1873.11   2352.128   3790.704
..         ...  ...        ...        ...        ...        ...        ...
227  11787.179  ...   44142.03   43022.85  42555.028  48965.722   49580.11
228    no data  ...   1760.388   1727.391   1591.065   1746.345    1849.62
229   4222.994  ...  11489.302  11558.645  11155.514  12616.281  13396.102
230        NaN  ...        NaN        NaN        NaN        NaN        NaN
231        NaN  ...        NaN        NaN        NaN        NaN        NaN

        2023.0     2024.0     2025.0     2026.0     2027.0
1      no data    no data    no data    no data    no data
2     6591.682   6968.694   7470.082   7958.016   8469.507
3     4162.176   4242.401   4371.569   4523.644   4637.342
4    40643.312  41732.561  42833.362  43788.262  44630.354
5     3997.713   4071.392    4144.01   4222.687   4308.014
..         ...        ...        ...        ...        ...
227  51398.605  53529.015  55708.932  57993.545   60331.76
228   1933.069   2043.649   2160.323   2287.835    2421.53
229  13923.716  14522.871  15149.837  15810.007  16490.798
230        NaN        NaN        NaN        NaN        NaN
231        NaN        NaN        NaN        NaN        NaN

[231 rows x 49 columns]

In [42]:
imf_target_values_import.index.name = 'Country'

file_model_df = imf_target_values_import.copy()

file_model_df.index.name = 'Country'

file_model_df['Country Name'] = file_model_df['GDP per capita, current prices\n (U.S. dollars per capita)']
file_model_df.index = file_model_df['Country Name']
file_model_df=file_model_df.drop(columns = ['Country Name','GDP per capita, current prices\n (U.S. dollars per capita)'])

file_model_df.set_axis([int(x) for x in file_model_df.columns],axis = 'columns', inplace=True)

file_model_df=file_model_df.replace('no data',0)
file_model_df=file_model_df.fillna(0)
file_model_df = file_model_df.loc[file_model_df.index.notna()]


country_exclusion_list = [
'Africa (Region)',
'Asia and Pacific',
'Australia and New Zealand',
'Caribbean',
'Central America',
'Central Asia and the Caucasus',
'East Asia',
'Eastern Europe ', 
'Europe',
'Middle East (Region)',
'Myanmar',
'North Africa',
'North America',
'Pacific Islands ', 
'South America',
'South Asia',
'Southeast Asia',
'Sub-Saharan Africa (Region) ',
'Western Europe',
'Western Hemisphere (Region)',
'ASEAN-5',
'Advanced economies',
'Emerging and Developing Asia',
'Emerging and Developing Europe',
'Emerging market and developing economies',
'Euro area',
'European Union',
'Latin America and the Caribbean',
'Major advanced economies (G7)',
'Middle East and Central Asia',
'Other advanced economies',
'Sub-Saharan Africa',
'World',
'nan',
'NaN',
'Â©IMF, 2022'
]


file_model_df.rename(index={'nan':pd.NA},inplace=True)
file_model_df = file_model_df[~file_model_df.index.isin(country_exclusion_list)].dropna()


# file_model_df.to_csv('/Users/stephenontko/Documents/University of Michigan/UMSI/UMSI MADS/UMSI MADS 2023/SIADS 699 Capstone/Data/imf_gdp_pc_target_values.csv',index=False)
# file_model_df.to_csv('imf_gdp_pc_target_values.csv',index=False)

print(file_model_df)

                        1980      1981      1982      1983      1984  \
Country Name
Afghanistan            0.000     0.000     0.000     0.000     0.000
Albania              728.359   817.734   824.542   815.529   788.332
Algeria             2268.607  2305.505  2254.328  2316.679  2432.717
Andorra                0.000     0.000     0.000     0.000     0.000
Angola               745.119   679.020   661.520   671.804   693.779
...                      ...       ...       ...       ...       ...
Vietnam              652.593   318.521   414.347   612.565  1044.409
West Bank and Gaza     0.000     0.000     0.000     0.000     0.000
Yemen                  0.000     0.000     0.000     0.000     0.000
Zambia               718.795   718.743   672.013   562.441   448.532
Zimbabwe               0.000     0.000     0.000     0.000     0.000

                        1985      1986      1987      1988      1989  ...  \
Country Name                                                          ...
Afghanistan            0.000     0.000     0.000     0.000     0.000  ...
Albania              788.801   855.724   832.245   805.046   860.784  ...
Algeria             2753.697  2698.915  2705.111  2143.742  2127.866  ...
Andorra                0.000     0.000     0.000     0.000     0.000  ...
Angola               758.525   690.446   769.563   812.794   920.268  ...
...                      ...       ...       ...       ...       ...  ...
Vietnam              318.956   705.990   856.910   464.581   123.364  ...
West Bank and Gaza     0.000     0.000     0.000     0.000     0.000  ...
Yemen                  0.000     0.000     0.000     0.000     0.000  ...
Zambia               412.851   276.151   332.268   543.316   561.832  ...
Zimbabwe               0.000     0.000     0.000     0.000     0.000  ...

                         2018       2019       2020       2021       2022  \
Country Name
Afghanistan           582.323    586.204    611.268      0.000      0.000
Albania              5257.714   5345.058   5268.239   6373.300   6369.009
Algeria              4118.839   3953.576   3304.865   3659.531   4151.437
Andorra             42229.903  40688.491  36973.845  41873.060  40722.630
Angola               3465.062   2805.261   1873.110   2352.128   3790.704
...                       ...        ...        ...        ...        ...
Vietnam              3201.686   3398.214   3514.365   3717.800   4162.938
West Bank and Gaza   3353.225   3442.754   3044.744   3450.571   3517.363
Yemen                 747.223    739.947    623.233    644.153    873.903
Zambia               1480.420   1272.238    959.148   1095.465   1348.360
Zimbabwe             2523.249   1542.748   1526.155   2121.568   2420.220

                         2023       2024       2025       2026       2027
Country Name
Afghanistan             0.000      0.000      0.000      0.000      0.000
Albania              6591.682   6968.694   7470.082   7958.016   8469.507
Algeria              4162.176   4242.401   4371.569   4523.644   4637.342
Andorra             40643.312  41732.561  42833.362  43788.262  44630.354
Angola               3997.713   4071.392   4144.010   4222.687   4308.014
...                       ...        ...        ...        ...        ...
Vietnam              4682.834   5118.215   5582.533   6078.369   6600.184
West Bank and Gaza   3543.669   3605.521   3656.034   3699.916   3770.865
Yemen                 871.574    916.509    981.884   1068.479   1172.853
Zambia               1395.030   1456.592   1521.680   1594.513   1671.731
Zimbabwe             2307.733   2348.676   2310.474   2262.523   2320.701

[196 rows x 48 columns]

Processing Files in Folders for endogenous variables:

In [43]:
# course_file_path = '/Users/stephenontko/Documents/University of Michigan/UMSI/UMSI MADS/UMSI MADS 2023/SIADS 699 Capstone/Data/IMF/'

#files in folders:
files = [
         'ED_02-07-2023 04-41-04-68_timeSeries/ED_02-07-2023 04-41-04-68_timeSeries.csv'
         ,'FDI_07-14-2022 10-45-25-27_timeSeries/FDI_07-14-2022 10-45-25-27_timeSeries.csv'
         ,'FM_02-07-2023 04-43-40-20_timeSeries/FM_02-07-2023 04-43-40-20_timeSeries.csv'
         ,'FSIRE_02-04-2023 08-23-40-70_timeSeries/FSIRE_02-04-2023 08-23-40-70_timeSeries.csv'
         ,'HPDD_04-11-2020 23-37-06-60_timeSeries/HPDD_04-11-2020 23-37-06-60_timeSeries.csv'
         ] 

#countries or non-countries not in scope
country_exclusion_list = [
'Advanced Economies',
'Advanced Markets',
'Advanced G20',
'Africa',
'Africa (Region)',
'All Countries',
'American Samoa',
'Anguilla',
'Asia and Pacific',
'Australia and New Zealand',
'Belgium-Luxembourg',
'Bermuda',
'Bonaire, St. Eustatius and Saba',
'Bouvet Island',
'British Indian Ocean Territory',
'British Virgin Islands',
'Caribbean',
'CEMAC',
'Central America',
'Central Asia and the Caucasus',
'Central African Economic and Monetary Community',
'CFA franc zone',
'Common Market of Eastern and Southern Africa (COMESA)',
'Cayman Islands',
'Central and South Asia',
'Christmas Island',
'Cocos (Keeling) Islands',
'Cook Islands',
'CuraÃ§ao, Kingdom of the Netherlands',
'CuraÃ§ao and Sint Maarten',
'Cuba',
'Czechoslovakia',
'East African Community (EAC -5)',
'Economic Community of West African States (ECOWAS)',
'Economies of Persian Gulf',
'East Asia',
'Eastern Caribbean Currency Union',
'Eastern Caribbean Currency Union (ECCU)'
'Eastern Europe ', 
'Emerging G20',
'Emerging Market and Middle-Income Asia ',
'Emerging Market and Middle-Income Economies ',
'Emerging Market and Middle-Income Europe ',
'Emerging Market and Middle-Income Latin America ',
'Emerging Market and Middle-Income Middle East and North Africa and Pakistan',
'Emerging and Developing Countries',
'Emerging and Developing Economies',
'Emerging Markets',
'Europe',
'European Central Bank',
'Faroe Islands',
'French Polynesia',
'French Territories: French Polynesia',
'French Territories: New Caledonia',
'Falkland Islands (Malvinas)',
'French Southern Territories',
'G20',
'G7',
'Gibraltar',
'Greenland',
'Guadeloupe',
'Guernsey',
'Guam',
'Guiana, French',
'Heard Island and McDonald Islands',
'Holy See',
'International Organizations',
'International Organizations and SEFER',
'Isle of Man',
'Jersey',
"Korea, Dem. People's Rep. of",
"Korea, Democratic People's Rep. of",
'Low-Income and Developing Countries',
'Low-Income Developing Asia ',
'Low-Income Developing Latin America',
'Low-Income Developing Others ',
'Low-Income Developing Sub-Saharan Africa',
'Low-Income Oil Producers',
'Liechtenstein',
'Mayotte',
'Monaco',
'Martinique',
'Middle East (Region)',
'Montserrat',
'Netherlands Antilles',
'New Caledonia',
'Niue',
'Norfolk Island',
'North Atlantic and Caribbean',
'North and Central America',
'Northern Mariana Islands',
'Not Specified (including Confidential)',
'North Africa',
'North America',
'Oceania and Polar Regions',
'Other Near and Middle East Economies',
'Pitcairn Islands',
'Pacific Islands ', 
'Reunion',
'Saint Helena',
'Saint Pierre and Miquelon',
'South Georgia and Sandwich Islands',
'Serbia and Montenegro',
'Sint Maarten, Kingdom of the Netherlands',
'South America',
'South Asia',
'Southeast Asia',
'Sub-Saharan Africa (Region) ',
'Tokelau',
'US Pacific Islands',
'United States Virgin Islands',
'Wallis and Futuna Islands',
'Western Sahara',
'Western Europe',
'Western Hemisphere (Region)',
'ASEAN-5',
'Advanced economies',
'Emerging and Developing Asia',
'Emerging and Developing Europe',
'Emerging market and developing economies',
'Emerging and Developing Economies',
'Euro area',
'Euro Area',
'European Union',
'Latin America and the Caribbean',
'Major advanced economies (G7)',
'Middle East and Central Asia',
'Other advanced economies',
'SSA countries in fragile and conflict-affected situations',
'SSA low-income countries',
'SSA low-income countries excluding countries in fragile situations',
'SSA middle-income countries',
'SSA middle-income countries excluding South Africa and Nigeria',
'SSA oil-exporting countries',
'SSA oil-exporting countries excluding Nigeria',
'SSA oil-importing countries',
'SSA oil-importing countries excluding South Africa',
'Southern African Customs Union (SACU)',
'Southern African Development Community (SADC)',
'Sub-Saharan Africa excluding Nigeria and South Africa',
'Sub-saharan Africa',
'Sub-Saharan Africa',
'Swaziland',
'Turks and Caicos Islands',
'Virgin Islands, British',
'West African Economic and Monetary Union (WAEMU)',
'Western Hemisphere',
'World',
'World Minus 25 Significant Financial Centers',
'Yugoslavia',
'nan',
'NaN',
'Â©IMF, 2022'
]

data_df = pd.DataFrame()

In [44]:
for file in files[:]:
    start_time = time.perf_counter()
    print(file)
#     file_df = pd.read_csv(course_file_path+file)#'/Users/stephenontko/Documents/University of Michigan/UMSI/UMSI MADS/UMSI MADS 2023/SIADS 699 Capstone/Data/imf_gdp_pc_target_values.csv')
    file_df = pd.read_csv(file)
    file_df = file_df[file_df['Attribute']=='Value']
    file_df = file_df[~file_df['Country Name'].isin(country_exclusion_list)]
    
    #edit country names for target value country mapping
    
    file_df=file_df.replace('Afghanistan, Islamic Republic of','Afghanistan')
    file_df=file_df.replace('Afghanistan, Islamic Rep. of','Afghanistan')
    file_df=file_df.replace('Afghanistan, I.R. of','Afghanistan')
    file_df=file_df.replace('Andorra, Principality of','Andorra')
    file_df=file_df.replace('Armenia, Rep. of','Armenia')
    file_df=file_df.replace('Armenia, Republic of','Armenia')
    file_df=file_df.replace('Aruba, Kingdom of the Netherlands','Aruba')
    file_df=file_df.replace('Azerbaijan, Rep. of','Azerbaijan')
    file_df=file_df.replace('Azerbaijan, Republic of','Azerbaijan')
    file_df=file_df.replace('The Bahamas','Bahamas, The')
    file_df=file_df.replace('Bahrain, Kingdom of','Bahrain')
    file_df=file_df.replace('Belarus, Rep. of','Belarus')
    file_df=file_df.replace('Bosnia & Herzegovina','Bosnia and Herzegovina')
    file_df=file_df.replace('Burma ','Burma')
    file_df=file_df.replace('Central African Rep.','Central African Republic')
    file_df=file_df.replace('Equatorial Guinea, Rep. of','Equatorial Guinea')
    file_df=file_df.replace('Eritrea, The State of','Eritrea')
    file_df=file_df.replace('Cape Verde','Cabo Verde')
    file_df=file_df.replace('Comoros, Union of the','Comoros')
    file_df=file_df.replace('Congo, Rep. of','Congo, Republic of ')
    file_df=file_df.replace("Cote d'Ivoire","CÃ´te d'Ivoire")
    file_df=file_df.replace("Democratic Republic of the Congo","Congo, Dem. Rep. of the")
    file_df=file_df.replace("Congo, Democratic Republic of","Congo, Dem. Rep. of the")
    file_df=file_df.replace("Congo, Dem. Rep. of","Congo, Dem. Rep. of the")
    file_df=file_df.replace("Congo, Republic of","Congo, Republic of ")
    file_df=file_df.replace("China","China, People's Republic of")
    file_df=file_df.replace("China,P.R.: Mainland","China, People's Republic of")
    file_df=file_df.replace("China, P.R.: Hong Kong","Hong Kong SAR")
    file_df=file_df.replace("China,P.R.:Hong Kong","Hong Kong SAR")
    file_df=file_df.replace("China, P.R.: Macao","Macao SAR")
    file_df=file_df.replace("China, P.R.: Mainland","China, People's Republic of")
    file_df=file_df.replace('Croatia, Rep. of','Croatia')
    file_df=file_df.replace('Czech Rep.','Czech Republic')
    file_df=file_df.replace('Dominican Rep.','Dominican Republic')
    file_df=file_df.replace('Egypt, Arab Rep. of','Egypt')
    file_df=file_df.replace('Estonia, Rep. of','Estonia')
    file_df=file_df.replace('Ethiopia, The Federal Dem. Rep. of','Ethiopia')
    file_df=file_df.replace('Fiji, Rep. of','Fiji')
    file_df=file_df.replace("Eswatini, Kingdom of","Eswatini")
    file_df=file_df.replace('Iran, Islamic Rep. of','Iran')
    file_df=file_df.replace('Iran, Islamic Republic of','Iran')
    file_df=file_df.replace('Iran, I.R. of','Iran')
    file_df=file_df.replace('Kazakhstan, Rep. of','Kazakhstan')
    file_df=file_df.replace('Korea, Rep. of','Korea, Republic of')
    file_df=file_df.replace('Korea','Korea, Republic of')
    file_df=file_df.replace('Kosovo, Rep. of','Kosovo')
    file_df=file_df.replace('Kosovo, Republic of','Kosovo')
    file_df=file_df.replace('Kyrgyz Rep.','Kyrgyz Republic')
    file_df=file_df.replace("Lao People's Dem. Rep.",'Lao P.D.R.')
    file_df=file_df.replace("Lao People's Dem.Rep",'Lao P.D.R.')
    file_df=file_df.replace('Lesotho, Kingdom of','Lesotho')
    file_df=file_df.replace("Lao People's Democratic Republic","Lao P.D.R.")
    file_df=file_df.replace("Marshall Islands, Republic of","Marshall Islands")
    file_df=file_df.replace("Micronesia, Federated States of","Micronesia, Fed. States of")
    file_df=file_df.replace("Micronesia","Micronesia, Fed. States of")
    file_df=file_df.replace('Madagascar, Rep. of','Madagascar')
    file_df=file_df.replace('Marshall Islands, Rep. of the','Marshall Islands')
    file_df=file_df.replace('Mauritania, Islamic Rep. of','Mauritania')
    file_df=file_df.replace('Moldova, Rep. of','Moldova')
    file_df=file_df.replace('Montenegro, Rep. of','Montenegro')
    file_df=file_df.replace('Mozambique, Rep. of','Mozambique')
    file_df=file_df.replace('Myanmar','Burma')
    file_df=file_df.replace('Nauru, Rep. of','Nauru')
    file_df=file_df.replace('Netherlands, The','Netherlands')
    file_df=file_df.replace('North Macedonia, Republic of','North Macedonia ')
    file_df=file_df.replace('North Macedonia, Republic of ','North Macedonia ')
    file_df=file_df.replace('North Macedonia','North Macedonia ')
    file_df=file_df.replace('Palau, Rep. of','Palau')
    file_df=file_df.replace('Poland, Rep. of','Poland')
    file_df=file_df.replace('Russia','Russian Federation')
    file_df=file_df.replace('San Marino, Rep. of','San Marino')
    file_df=file_df.replace('St. Kitts and Nevis ','Saint Kitts and Nevis')
    file_df=file_df.replace('St. Kitts and Nevis','Saint Kitts and Nevis')
    file_df=file_df.replace('St. Lucia','Saint Lucia')
    file_df=file_df.replace('St. Vincent and the Grenadines','Saint Vincent and the Grenadines')
    file_df=file_df.replace('St. Vincent & Grens.','Saint Vincent and the Grenadines')
    file_df=file_df.replace('St. Lucia','Saint Lucia')
    file_df=file_df.replace("Sao Tome and Principe","SÃ£o TomÃ© and PrÃ­ncipe")
    file_df=file_df.replace("Sao Tome & Principe","SÃ£o TomÃ© and PrÃ­ncipe")
    file_df=file_df.replace("South Sudan","South Sudan, Republic of")
    file_df=file_df.replace('Serbia, Rep. of','Serbia')
    file_df=file_df.replace('Serbia, Republic of','Serbia')
    file_df=file_df.replace('Slovak Rep.','Slovak Republic')
    file_df=file_df.replace('Slovenia, Rep. of','Slovenia')
    file_df=file_df.replace('South Sudan, Rep. of','South Sudan, Republic of')
    file_df=file_df.replace('Syrian Arab Rep.','Syria')
    file_df=file_df.replace('Syrian Arab Republic','Syria')
    file_df=file_df.replace('SÃ£o TomÃ© and PrÃ­ncipe, Dem. Rep. of','SÃ£o TomÃ© and PrÃ­ncipe')
    file_df=file_df.replace("Timor-Leste, Dem. Rep. of","Timor-Leste")
    file_df=file_df.replace('Tajikistan, Rep. of','Tajikistan')
    file_df=file_df.replace('Taiwan Province of China','Taiwan')
    file_df=file_df.replace('Taiwan Prov.of China','Taiwan')
    file_df=file_df.replace('Tanzania, United Rep. of','Tanzania')
    file_df=file_df.replace('TÃ¼rkiye, Rep of','TÃ¼rkiye, Republic of')
    file_df=file_df.replace('Turkey','TÃ¼rkiye, Republic of')
    file_df=file_df.replace('Uzbekistan, Rep. of','Uzbekistan')
    file_df=file_df.replace('Venezuela, Rep. Bolivariana de','Venezuela')
    file_df=file_df.replace('Venezuela, Republica Bolivariana de','Venezuela')
    file_df=file_df.replace('Venezuela, Rep. Bol.','Venezuela')
    file_df=file_df.replace('Yemen Arab Rep.','Yemen')
    file_df=file_df.replace("Yemen, People's Dem. Rep. of",'Yemen')
    file_df=file_df.replace('Yemen, Rep. of','Yemen')
    file_df=file_df.replace('Yemen, Republic of','Yemen')
    
    print(file_df)
    print(file_df.columns)
    indicator_codes = file_df['Indicator Code'].unique()
    print(indicator_codes)
    # print(file_df[file_df['Indicator Code']==indicator_codes[0]])
    # print(file_df[file_df['Indicator Code']==indicator_codes[1]])
    # print(file_df[file_df['Indicator Code']==indicator_codes[2]])
    folder_df = pd.DataFrame(columns=['Country Name','Country Code','Indicator Name'
                                      ,'Indicator Code','Year','Feature Value'])
    for ind_code in indicator_codes[:]:
        print(ind_code)
        var_df = file_df[file_df['Indicator Code']==ind_code]
        print(var_df.columns)    
        years = []
        for col in var_df.columns:
            try:
                if type(int(col)) is int:
                # print(col)
                    years.append(col)
            except:
                continue
        print(years)
        if file == 'FSIRE_02-04-2023 08-23-40-70_timeSeries/FSIRE_02-04-2023 08-23-40-70_timeSeries.csv':
            var_df = var_df[['Country Name','Country Code','Indicator Name','Indicator Code','Financial Institution Code']+years]
            var_df['Indicator Code'] = var_df['Indicator Code']+'_'+var_df['Financial Institution Code']
            var_df = var_df[['Country Name','Country Code','Indicator Name','Indicator Code']+years]
            var_df=var_df.set_index(['Country Name', 'Country Code','Indicator Name','Indicator Code']).stack().reset_index()
            var_df.rename(columns={var_df.columns[-2]:'Year',var_df.columns[-1]:'Feature Value'},inplace=True)
            var_df['Feature Value'] = var_df['Feature Value'].astype(float)
            var_df=var_df.groupby(['Country Name','Country Code','Indicator Name','Indicator Code','Year'],as_index = False).agg({'Feature Value': np.mean})#.reset_index()#['Feature Value'].sum().reset_index()
            print(var_df)
        else:
            var_df = var_df[['Country Name','Country Code','Indicator Name','Indicator Code']+years]
            var_df=var_df.set_index(['Country Name', 'Country Code','Indicator Name','Indicator Code']).stack().reset_index()
            var_df.rename(columns={var_df.columns[-2]:'Year',var_df.columns[-1]:'Feature Value'},inplace=True)
        print(var_df)
        print(var_df.columns)
        # dt_col_results = dt_col_results.append(iter_df)
        folder_df = folder_df.append(var_df)
        
#     folder_df.to_csv(course_file_path+file.split('/')[0]+'/'+file.split('_')[0]+'_df.csv',index=True)
#     folder_df.to_csv(file.split('/')[0]+'/'+file.split('_')[0]+'_df.csv',index=True)
    print(var_df)
    end_time = time.perf_counter()
    print('Process time: ',f"{end_time-start_time:0.4f} seconds {(end_time-start_time)/60:0.4f} minutes.")

ED_02-07-2023 04-41-04-68_timeSeries/ED_02-07-2023 04-41-04-68_timeSeries.csv
    Country Name  Country Code                Indicator Name Indicator Code  \
0          Aruba           314              Extensive Margin  between_theil
1          Aruba           314              Intensive Margin   within_theil
2          Aruba           314  Export Diversification Index    total_theil
3    Afghanistan           512              Extensive Margin  between_theil
4    Afghanistan           512              Intensive Margin   within_theil
..           ...           ...                           ...            ...
592    Guatemala           258  Export Diversification Index    total_theil
593     Paraguay           288  Export Diversification Index    total_theil
597        Qatar           453              Extensive Margin  between_theil
598        Qatar           453              Intensive Margin   within_theil
599        Qatar           453  Export Diversification Index    total_theil

    Attribute      1962      1963      1964      1965      1966  ...  \
0       Value  0.000000  0.000000  0.000000  0.000000  0.000000  ...
1       Value  0.000000  0.000000  0.000000  0.000000  0.000000  ...
2       Value  0.000000  0.000000  0.000000  0.000000  0.000000  ...
3       Value  2.394701  2.368089  2.367696  2.343592  2.351351  ...
4       Value  2.029116  2.158685  1.994214  2.024486  2.013949  ...
..        ...       ...       ...       ...       ...       ...  ...
592     Value  4.707393  4.267221  4.150590  4.090267  3.923687  ...
593     Value  3.603461  3.517582  3.405848  3.480945  3.503561  ...
597     Value  3.123720  3.074951  3.097192  3.095478  3.101460  ...
598     Value  3.134509  3.215969  3.162455  3.185275  3.182510  ...
599     Value  6.258228  6.290920  6.259647  6.280753  6.283969  ...

         2006      2007      2008      2009      2010      2011      2012  \
0    0.166674  0.149586  0.146131  0.145250  0.144235  0.142486  0.147954
1    3.152677  3.069457  3.184297  3.265303  2.606357  3.366221  3.626411
2    3.319351  3.219043  3.330428  3.410553  2.750593  3.508707  3.774365
3    1.495373  0.963080  0.874777  0.073746  0.940795  0.708670  1.046305
4    1.578098  1.901421  1.819626  2.122250  1.825413  2.227599  2.097973
..        ...       ...       ...       ...       ...       ...       ...
592  2.588180  2.399790  2.337047  2.381829  2.381486  2.419809  2.392621
593  3.287074  3.597474  3.704320  3.441611  3.977151  3.997689  3.661558
597  0.778714  0.646611  0.732192  0.495551  0.298532  0.204289  0.125707
598  3.932373  4.095988  4.114094  4.154017  4.320113  4.471357  4.720556
599  4.711087  4.742599  4.846286  4.649569  4.618646  4.675646  4.846263

         2013      2014  Unnamed: 58
0    0.146088  0.142486          NaN
1    3.995109  4.566748          NaN
2    4.141197  4.709233          NaN
3    1.296252  1.053562          NaN
4    1.877015  2.233554          NaN
..        ...       ...          ...
592  2.319026  2.348547          NaN
593  3.831030  3.757314          NaN
597  0.137855  0.133098          NaN
598  4.534800  4.542950          NaN
599  4.672656  4.676048          NaN

[552 rows x 59 columns]
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Attribute', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', 'Unnamed: 58'],
      dtype='object')
['between_theil' 'within_theil' 'total_theil']
between_theil
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Attribute', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', 'Unnamed: 58'],
      dtype='object')
['1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014']
     Country Name  Country Code    Indicator Name Indicator Code  Year  \
0           Aruba           314  Extensive Margin  between_theil  1962
1           Aruba           314  Extensive Margin  between_theil  1963
2           Aruba           314  Extensive Margin  between_theil  1964
3           Aruba           314  Extensive Margin  between_theil  1965
4           Aruba           314  Extensive Margin  between_theil  1966
...           ...           ...               ...            ...   ...
9747        Qatar           453  Extensive Margin  between_theil  2010
9748        Qatar           453  Extensive Margin  between_theil  2011
9749        Qatar           453  Extensive Margin  between_theil  2012
9750        Qatar           453  Extensive Margin  between_theil  2013
9751        Qatar           453  Extensive Margin  between_theil  2014

      Feature Value
0          0.000000
1          0.000000
2          0.000000
3          0.000000
4          0.000000
...             ...
9747       0.298532
9748       0.204289
9749       0.125707
9750       0.137855
9751       0.133098

[9752 rows x 6 columns]
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Year', 'Feature Value'],
      dtype='object')
within_theil
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Attribute', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', 'Unnamed: 58'],
      dtype='object')
['1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014']
     Country Name  Country Code    Indicator Name Indicator Code  Year  \
0           Aruba           314  Intensive Margin   within_theil  1962
1           Aruba           314  Intensive Margin   within_theil  1963
2           Aruba           314  Intensive Margin   within_theil  1964
3           Aruba           314  Intensive Margin   within_theil  1965
4           Aruba           314  Intensive Margin   within_theil  1966
...           ...           ...               ...            ...   ...
9747        Qatar           453  Intensive Margin   within_theil  2010
9748        Qatar           453  Intensive Margin   within_theil  2011
9749        Qatar           453  Intensive Margin   within_theil  2012
9750        Qatar           453  Intensive Margin   within_theil  2013
9751        Qatar           453  Intensive Margin   within_theil  2014

      Feature Value
0          0.000000
1          0.000000
2          0.000000
3          0.000000
4          0.000000
...             ...
9747       4.320113
9748       4.471357
9749       4.720556
9750       4.534800
9751       4.542950

[9752 rows x 6 columns]
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Year', 'Feature Value'],
      dtype='object')
total_theil
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Attribute', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', 'Unnamed: 58'],
      dtype='object')
['1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014']
     Country Name  Country Code                Indicator Name Indicator Code  \
0           Aruba           314  Export Diversification Index    total_theil
1           Aruba           314  Export Diversification Index    total_theil
2           Aruba           314  Export Diversification Index    total_theil
3           Aruba           314  Export Diversification Index    total_theil
4           Aruba           314  Export Diversification Index    total_theil
...           ...           ...                           ...            ...
9747        Qatar           453  Export Diversification Index    total_theil
9748        Qatar           453  Export Diversification Index    total_theil
9749        Qatar           453  Export Diversification Index    total_theil
9750        Qatar           453  Export Diversification Index    total_theil
9751        Qatar           453  Export Diversification Index    total_theil

      Year  Feature Value
0     1962       0.000000
1     1963       0.000000
2     1964       0.000000
3     1965       0.000000
4     1966       0.000000
...    ...            ...
9747  2010       4.618646
9748  2011       4.675646
9749  2012       4.846263
9750  2013       4.672656
9751  2014       4.676048

[9752 rows x 6 columns]
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Year', 'Feature Value'],
      dtype='object')
     Country Name  Country Code                Indicator Name Indicator Code  \
0           Aruba           314  Export Diversification Index    total_theil
1           Aruba           314  Export Diversification Index    total_theil
2           Aruba           314  Export Diversification Index    total_theil
3           Aruba           314  Export Diversification Index    total_theil
4           Aruba           314  Export Diversification Index    total_theil
...           ...           ...                           ...            ...
9747        Qatar           453  Export Diversification Index    total_theil
9748        Qatar           453  Export Diversification Index    total_theil
9749        Qatar           453  Export Diversification Index    total_theil
9750        Qatar           453  Export Diversification Index    total_theil
9751        Qatar           453  Export Diversification Index    total_theil

      Year  Feature Value
0     1962       0.000000
1     1963       0.000000
2     1964       0.000000
3     1965       0.000000
4     1966       0.000000
...    ...            ...
9747  2010       4.618646
9748  2011       4.675646
9749  2012       4.846263
9750  2013       4.672656
9751  2014       4.676048

[9752 rows x 6 columns]
Process time:  0.1117 seconds 0.0019 minutes.
FDI_07-14-2022 10-45-25-27_timeSeries/FDI_07-14-2022 10-45-25-27_timeSeries.csv
               Country Name Country Code  \
0     Saint Kitts and Nevis          361
1     Saint Kitts and Nevis          361
2     Saint Kitts and Nevis          361
3     Saint Kitts and Nevis          361
4               Saint Lucia          362
...                     ...          ...
1723               Eswatini          734
1724               Eswatini          734
1725               Eswatini          734
1726       North Macedonia           962
1727               Eswatini          734

                               Indicator Name Indicator Code Attribute  \
0         Financial Institutions Access Index      FD_FIA_IX     Value
1               Financial Markets Depth Index      FD_FMD_IX     Value
2              Financial Markets Access Index      FD_FMA_IX     Value
3          Financial Markets Efficiency Index      FD_FME_IX     Value
4                 Financial Development Index       FD_FD_IX     Value
...                                       ...            ...       ...
1723                  Financial Markets Index       FD_FM_IX     Value
1724  Financial Institutions Efficiency Index      FD_FIE_IX     Value
1725           Financial Markets Access Index      FD_FMA_IX     Value
1726       Financial Institutions Depth Index      FD_FID_IX     Value
1727       Financial Markets Efficiency Index      FD_FME_IX     Value

          1980      1981      1982      1983      1984  ...      2012  \
0     0.846664  0.824914  0.823843  0.852250  0.797403  ...  0.838957
1     0.000000  0.000000  0.000000  0.000000  0.000000  ...  0.000000
2     0.000000  0.000000  0.000000  0.000000  0.000000  ...  0.000000
3     0.000000  0.000000  0.000000  0.000000  0.000000  ...  0.000000
4     0.323961  0.268215  0.279433  0.297599  0.277282  ...  0.334259
...        ...       ...       ...       ...       ...  ...       ...
1723  0.028392  0.031048  0.026905  0.028012  0.027044  ...  0.012180
1724  0.511340  0.534104  0.463992  0.489357  0.489357  ...  0.536200
1725  0.000000  0.000000  0.000000  0.000000  0.000000  ...  0.000000
1726  0.000000  0.000000  0.000000  0.000000  0.000000  ...  0.165475
1727  0.008924  0.009759  0.008457  0.008805  0.008501  ...  0.018653

          2013      2014      2015      2016      2017      2018      2019  \
0     0.929568  0.904279  0.905623  0.860849  0.801587  0.843580  0.860783
1     0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
2     0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
3     0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
4     0.328747  0.323991  0.307775  0.284290  0.304860  0.306857  0.323987
...        ...       ...       ...       ...       ...       ...       ...
1723  0.012180  0.012180  0.012180  0.012180  0.012180  0.012180  0.012180
1724  0.549582  0.556770  0.559388  0.501009  0.497329  0.565136  0.504577
1725  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1726  0.165845  0.174589  0.183512  0.181650  0.189284  0.193791  0.202329
1727  0.018653  0.018653  0.018653  0.018653  0.018653  0.018653  0.018653

          2020  Unnamed: 46
0     0.881367          NaN
1     0.000000          NaN
2     0.000000          NaN
3     0.000000          NaN
4     0.327964          NaN
...        ...          ...
1723  0.012180          NaN
1724  0.511554          NaN
1725  0.000000          NaN
1726  0.219623          NaN
1727  0.018653          NaN

[1638 rows x 47 columns]
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Attribute', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', 'Unnamed: 46'],
      dtype='object')
['FD_FIA_IX' 'FD_FMD_IX' 'FD_FMA_IX' 'FD_FME_IX' 'FD_FD_IX' 'FD_FI_IX'
 'FD_FM_IX' 'FD_FID_IX' 'FD_FIE_IX']
FD_FIA_IX
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Attribute', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', 'Unnamed: 46'],
      dtype='object')
['1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']
               Country Name Country Code                       Indicator Name  \
0     Saint Kitts and Nevis          361  Financial Institutions Access Index
1     Saint Kitts and Nevis          361  Financial Institutions Access Index
2     Saint Kitts and Nevis          361  Financial Institutions Access Index
3     Saint Kitts and Nevis          361  Financial Institutions Access Index
4     Saint Kitts and Nevis          361  Financial Institutions Access Index
...                     ...          ...                                  ...
7457       North Macedonia           962  Financial Institutions Access Index
7458       North Macedonia           962  Financial Institutions Access Index
7459       North Macedonia           962  Financial Institutions Access Index
7460       North Macedonia           962  Financial Institutions Access Index
7461       North Macedonia           962  Financial Institutions Access Index

     Indicator Code  Year  Feature Value
0         FD_FIA_IX  1980       0.846664
1         FD_FIA_IX  1981       0.824914
2         FD_FIA_IX  1982       0.823843
3         FD_FIA_IX  1983       0.852250
4         FD_FIA_IX  1984       0.797403
...             ...   ...            ...
7457      FD_FIA_IX  2016       0.548222
7458      FD_FIA_IX  2017       0.552874
7459      FD_FIA_IX  2018       0.537754
7460      FD_FIA_IX  2019       0.544985
7461      FD_FIA_IX  2020       0.515396

[7462 rows x 6 columns]
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Year', 'Feature Value'],
      dtype='object')
FD_FMD_IX
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Attribute', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', 'Unnamed: 46'],
      dtype='object')
['1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']
               Country Name Country Code                 Indicator Name  \
0     Saint Kitts and Nevis          361  Financial Markets Depth Index
1     Saint Kitts and Nevis          361  Financial Markets Depth Index
2     Saint Kitts and Nevis          361  Financial Markets Depth Index
3     Saint Kitts and Nevis          361  Financial Markets Depth Index
4     Saint Kitts and Nevis          361  Financial Markets Depth Index

/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)

FD_FD_IX
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Attribute', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', 'Unnamed: 46'],
      dtype='object')
['1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']
     Country Name Country Code               Indicator Name Indicator Code  \
0     Saint Lucia          362  Financial Development Index       FD_FD_IX
1     Saint Lucia          362  Financial Development Index       FD_FD_IX
2     Saint Lucia          362  Financial Development Index       FD_FD_IX
3     Saint Lucia          362  Financial Development Index       FD_FD_IX
4     Saint Lucia          362  Financial Development Index       FD_FD_IX
...           ...          ...                          ...            ...
7457     Eswatini          734  Financial Development Index       FD_FD_IX
7458     Eswatini          734  Financial Development Index       FD_FD_IX
7459     Eswatini          734  Financial Development Index       FD_FD_IX
7460     Eswatini          734  Financial Development Index       FD_FD_IX
7461     Eswatini          734  Financial Development Index       FD_FD_IX

      Year  Feature Value
0     1980       0.323961
1     1981       0.268215
2     1982       0.279433
3     1983       0.297599
4     1984       0.277282
...    ...            ...
7457  2016       0.155751
7458  2017       0.149794
7459  2018       0.163487
7460  2019       0.151423
7461  2020       0.155151

[7462 rows x 6 columns]
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Year', 'Feature Value'],
      dtype='object')
FD_FI_IX
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Attribute', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', 'Unnamed: 46'],
      dtype='object')
['1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']
          Country Name Country Code                Indicator Name  \
0          Saint Lucia          362  Financial Institutions Index
1          Saint Lucia          362  Financial Institutions Index
2          Saint Lucia          362  Financial Institutions Index
3          Saint Lucia          362  Financial Institutions Index
4          Saint Lucia          362  Financial Institutions Index
...                ...          ...                           ...
7457  North Macedonia           962  Financial Institutions Index
7458  North Macedonia           962  Financial Institutions Index
7459  North Macedonia           962  Financial Institutions Index
7460  North Macedonia           962  Financial Institutions Index
7461  North Macedonia           962  Financial Institutions Index

     Indicator Code  Year  Feature Value
0          FD_FI_IX  1980       0.452415
1          FD_FI_IX  1981       0.379131
2          FD_FI_IX  1982       0.395325
3          FD_FI_IX  1983       0.417260
4          FD_FI_IX  1984       0.390151
...             ...   ...            ...
7457       FD_FI_IX  2016       0.484705
7458       FD_FI_IX  2017       0.488927
7459       FD_FI_IX  2018       0.490640
7460       FD_FI_IX  2019       0.500252
7461       FD_FI_IX  2020       0.489336

[7462 rows x 6 columns]
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Year', 'Feature Value'],
      dtype='object')
FD_FM_IX
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Attribute', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', 'Unnamed: 46'],
      dtype='object')
['1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']
     Country Name Country Code           Indicator Name Indicator Code  Year  \
0     Saint Lucia          362  Financial Markets Index       FD_FM_IX  1980
1     Saint Lucia          362  Financial Markets Index       FD_FM_IX  1981
2     Saint Lucia          362  Financial Markets Index       FD_FM_IX  1982
3     Saint Lucia          362  Financial Markets Index       FD_FM_IX  1983
4     Saint Lucia          362  Financial Markets Index       FD_FM_IX  1984
...           ...          ...                      ...            ...   ...
7457     Eswatini          734  Financial Markets Index       FD_FM_IX  2016
7458     Eswatini          734  Financial Markets Index       FD_FM_IX  2017
7459     Eswatini          734  Financial Markets Index       FD_FM_IX  2018
7460     Eswatini          734  Financial Markets Index       FD_FM_IX  2019
7461     Eswatini          734  Financial Markets Index       FD_FM_IX  2020

      Feature Value
0          0.183899
1          0.147690
2          0.153529
3          0.167275
4          0.154478
...             ...
7457       0.012180
7458       0.012180
7459       0.012180
7460       0.012180
7461       0.012180

[7462 rows x 6 columns]
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Year', 'Feature Value'],
      dtype='object')
FD_FID_IX
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Attribute', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', 'Unnamed: 46'],
      dtype='object')
['1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']
          Country Name Country Code                      Indicator Name  \
0          Saint Lucia          362  Financial Institutions Depth Index
1          Saint Lucia          362  Financial Institutions Depth Index
2          Saint Lucia          362  Financial Institutions Depth Index
3          Saint Lucia          362  Financial Institutions Depth Index
4          Saint Lucia          362  Financial Institutions Depth Index
...                ...          ...                                 ...
7457  North Macedonia           962  Financial Institutions Depth Index
7458  North Macedonia           962  Financial Institutions Depth Index
7459  North Macedonia           962  Financial Institutions Depth Index
7460  North Macedonia           962  Financial Institutions Depth Index
7461  North Macedonia           962  Financial Institutions Depth Index

     Indicator Code  Year  Feature Value
0         FD_FID_IX  1980       0.196086
1         FD_FID_IX  1981       0.194376
2         FD_FID_IX  1982       0.219412
3         FD_FID_IX  1983       0.215425
4         FD_FID_IX  1984       0.193354
...             ...   ...            ...
7457      FD_FID_IX  2016       0.181650
7458      FD_FID_IX  2017       0.189284
7459      FD_FID_IX  2018       0.193791
7460      FD_FID_IX  2019       0.202329
7461      FD_FID_IX  2020       0.219623

[7462 rows x 6 columns]
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Year', 'Feature Value'],
      dtype='object')
FD_FIE_IX
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Attribute', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', 'Unnamed: 46'],
      dtype='object')
['1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']
     Country Name Country Code                           Indicator Name  \
0     Saint Lucia          362  Financial Institutions Efficiency Index
1     Saint Lucia          362  Financial Institutions Efficiency Index
2     Saint Lucia          362  Financial Institutions Efficiency Index
3     Saint Lucia          362  Financial Institutions Efficiency Index
4     Saint Lucia          362  Financial Institutions Efficiency Index
...           ...          ...                                      ...
7457     Eswatini          734  Financial Institutions Efficiency Index
7458     Eswatini          734  Financial Institutions Efficiency Index
7459     Eswatini          734  Financial Institutions Efficiency Index
7460     Eswatini          734  Financial Institutions Efficiency Index
7461     Eswatini          734  Financial Institutions Efficiency Index

     Indicator Code  Year  Feature Value
0         FD_FIE_IX  1980       0.759693
1         FD_FIE_IX  1981       0.620401
2         FD_FIE_IX  1982       0.620401
3         FD_FIE_IX  1983       0.663441
4         FD_FIE_IX  1984       0.640796
...             ...   ...            ...
7457      FD_FIE_IX  2016       0.501009
7458      FD_FIE_IX  2017       0.497329
7459      FD_FIE_IX  2018       0.565136
7460      FD_FIE_IX  2019       0.504577
7461      FD_FIE_IX  2020       0.511554

[7462 rows x 6 columns]
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Year', 'Feature Value'],
      dtype='object')
     Country Name Country Code                           Indicator Name  \
0     Saint Lucia          362  Financial Institutions Efficiency Index
1     Saint Lucia          362  Financial Institutions Efficiency Index
2     Saint Lucia          362  Financial Institutions Efficiency Index
3     Saint Lucia          362  Financial Institutions Efficiency Index
4     Saint Lucia          362  Financial Institutions Efficiency Index
...           ...          ...                                      ...
7457     Eswatini          734  Financial Institutions Efficiency Index
7458     Eswatini          734  Financial Institutions Efficiency Index
7459     Eswatini          734  Financial Institutions Efficiency Index
7460     Eswatini          734  Financial Institutions Efficiency Index
7461     Eswatini          734  Financial Institutions Efficiency Index

     Indicator Code  Year  Feature Value
0         FD_FIE_IX  1980       0.759693
1         FD_FIE_IX  1981       0.620401
2         FD_FIE_IX  1982       0.620401
3         FD_FIE_IX  1983       0.663441
4         FD_FIE_IX  1984       0.640796
...             ...   ...            ...
7457      FD_FIE_IX  2016       0.501009
7458      FD_FIE_IX  2017       0.497329
7459      FD_FIE_IX  2018       0.565136
7460      FD_FIE_IX  2019       0.504577
7461      FD_FIE_IX  2020       0.511554

[7462 rows x 6 columns]
Process time:  0.1697 seconds 0.0028 minutes.
FM_02-07-2023 04-43-40-20_timeSeries/FM_02-07-2023 04-43-40-20_timeSeries.csv
                  Country Name Country Code  \
0                 Saudi Arabia          456
1                      Senegal          722
2                    Singapore          576
3              Slovak Republic          936
4                     Slovenia          961
...                        ...          ...
1326                    Kosovo          967
1327                   Somalia          726
1328                   Somalia          726
1329                   Somalia          726
1330  South Sudan, Republic of          733

                                         Indicator Name      Indicator Code  \
0                                    Revenue (% of GDP)      GGR_G01_GDP_PT
1                                    Revenue (% of GDP)      GGR_G01_GDP_PT
2                                    Revenue (% of GDP)      GGR_G01_GDP_PT
3                                    Revenue (% of GDP)      GGR_G01_GDP_PT
4                                    Revenue (% of GDP)      GGR_G01_GDP_PT
...                                                 ...                 ...
1326  Cyclically adjusted primary balance (% of pote...   GGCBP_G01_PGDP_PT
1327                             Expenditure (% of GDP)      G_X_G01_GDP_PT
1328  Net lending/borrowing (also referred as overal...   GGXCNL_G01_GDP_PT
1329  Primary net lending/borrowing (also referred a...  GGXONLB_G01_GDP_PT
1330                                Net debt (% of GDP)   GGXWDN_G01_GDP_PT

     Attribute       1991       1992       1993       1994       1995  ...  \
0        Value        NaN  33.044276  28.404664  25.482488  27.290390  ...
1        Value        NaN        NaN        NaN        NaN  16.847701  ...
2        Value  16.531886  17.229641  18.874708  19.628940  18.603862  ...
3        Value        NaN        NaN        NaN        NaN        NaN  ...
4        Value        NaN        NaN        NaN        NaN        NaN  ...
...        ...        ...        ...        ...        ...        ...  ...
1326     Value        NaN        NaN        NaN        NaN        NaN  ...
1327     Value        NaN        NaN        NaN        NaN        NaN  ...
1328     Value        NaN        NaN        NaN        NaN        NaN  ...
1329     Value        NaN        NaN        NaN        NaN        NaN  ...
1330     Value        NaN        NaN        NaN        NaN        NaN  ...

           2019       2020       2021       2022       2023       2024  \
0     30.755807  29.633898  30.887862  32.346565  31.581509  31.818027
1     20.339180  20.159126  19.441824  20.468319  21.350780  22.022914
2     17.838123  17.851729  18.416780  17.594515  16.623986  17.736902
3     39.365005  39.851302  40.682910  41.304294  40.552609  38.368888
4     43.631872  43.312080  43.753425  43.043058  43.258018  43.721793
...         ...        ...        ...        ...        ...        ...
1326  -3.385460  -5.650596  -1.053550  -0.539439  -1.574641  -1.672577
1327   4.848989   6.860344   6.032915   7.044753   6.603777   5.851722
1328   0.367763   0.359198  -1.096679  -0.026106  -0.296328  -1.853651
1329   0.367763   0.384905  -1.084265  -0.015454  -0.185132  -1.682217
1330  27.970391  36.257560  64.627325  52.241979  29.685433  23.193810

           2025       2026       2027  Unnamed: 42
0     31.775408  31.545483  31.485860          NaN
1     23.232586  22.882770  23.378558          NaN
2     18.272275  18.594369  18.725402          NaN
3     37.951909  37.897979  37.514229          NaN
4     43.808213  43.934361  44.056988          NaN
...         ...        ...        ...          ...
1326  -1.744248  -1.720559  -1.683145          NaN
1327   6.136309   6.346297   6.563509          NaN
1328  -1.726839  -1.577282  -1.481488          NaN
1329  -1.529818  -1.357570  -1.244269          NaN
1330  21.172863  20.296090  19.582940          NaN

[1214 rows x 43 columns]
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Attribute', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024',
       '2025', '2026', '2027', 'Unnamed: 42'],
      dtype='object')
['GGR_G01_GDP_PT' 'GGCB_G01_PGDP_PT' 'GGCBP_G01_PGDP_PT'
 'GGXONLB_G01_GDP_PT' 'G_XWDG_G01_GDP_PT' 'GGXCNL_G01_GDP_PT'
 'G_X_G01_GDP_PT' 'GGXWDN_G01_GDP_PT']
GGR_G01_GDP_PT
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Attribute', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024',
       '2025', '2026', '2027', 'Unnamed: 42'],
      dtype='object')
['1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024', '2025', '2026', '2027']
      Country Name Country Code      Indicator Name  Indicator Code  Year  \
0     Saudi Arabia          456  Revenue (% of GDP)  GGR_G01_GDP_PT  1992
1     Saudi Arabia          456  Revenue (% of GDP)  GGR_G01_GDP_PT  1993
2     Saudi Arabia          456  Revenue (% of GDP)  GGR_G01_GDP_PT  1994
3     Saudi Arabia          456  Revenue (% of GDP)  GGR_G01_GDP_PT  1995
4     Saudi Arabia          456  Revenue (% of GDP)  GGR_G01_GDP_PT  1996
...            ...          ...                 ...             ...   ...
6341         Nauru          836  Revenue (% of GDP)  GGR_G01_GDP_PT  2023
6342         Nauru          836  Revenue (% of GDP)  GGR_G01_GDP_PT  2024
6343         Nauru          836  Revenue (% of GDP)  GGR_G01_GDP_PT  2025
6344         Nauru          836  Revenue (% of GDP)  GGR_G01_GDP_PT  2026
6345         Nauru          836  Revenue (% of GDP)  GGR_G01_GDP_PT  2027

      Feature Value
0         33.044276
1         28.404664
2         25.482488
3         27.290390
4         30.095592
...             ...
6341     124.271832
6342     119.270012
6343     115.158734
6344     110.664850
6345     107.912677

[6346 rows x 6 columns]
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Year', 'Feature Value'],
      dtype='object')
GGCB_G01_PGDP_PT
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Attribute', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024',
       '2025', '2026', '2027', 'Unnamed: 42'],
      dtype='object')

/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)

     Country Name Country Code          Indicator Name  Indicator Code  Year  \
0      Azerbaijan          912  Expenditure (% of GDP)  G_X_G01_GDP_PT  1995
1      Azerbaijan          912  Expenditure (% of GDP)  G_X_G01_GDP_PT  1996
2      Azerbaijan          912  Expenditure (% of GDP)  G_X_G01_GDP_PT  1997
3      Azerbaijan          912  Expenditure (% of GDP)  G_X_G01_GDP_PT  1998
4      Azerbaijan          912  Expenditure (% of GDP)  G_X_G01_GDP_PT  1999
...           ...          ...                     ...             ...   ...
6309      Somalia          726  Expenditure (% of GDP)  G_X_G01_GDP_PT  2023
6310      Somalia          726  Expenditure (% of GDP)  G_X_G01_GDP_PT  2024
6311      Somalia          726  Expenditure (% of GDP)  G_X_G01_GDP_PT  2025
6312      Somalia          726  Expenditure (% of GDP)  G_X_G01_GDP_PT  2026
6313      Somalia          726  Expenditure (% of GDP)  G_X_G01_GDP_PT  2027

      Feature Value
0         18.665198
1         19.749892
2         20.190720
3         18.721498
4         19.504771
...             ...
6309       6.603777
6310       5.851722
6311       6.136309
6312       6.346297
6313       6.563509

[6314 rows x 6 columns]
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Year', 'Feature Value'],
      dtype='object')
GGXWDN_G01_GDP_PT
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Attribute', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024',
       '2025', '2026', '2027', 'Unnamed: 42'],
      dtype='object')
['1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024', '2025', '2026', '2027']
                  Country Name Country Code       Indicator Name  \
0                         Iran          429  Net debt (% of GDP)
1                         Iran          429  Net debt (% of GDP)
2                         Iran          429  Net debt (% of GDP)
3                         Iran          429  Net debt (% of GDP)
4                         Iran          429  Net debt (% of GDP)
...                        ...          ...                  ...
2602  South Sudan, Republic of          733  Net debt (% of GDP)
2603  South Sudan, Republic of          733  Net debt (% of GDP)
2604  South Sudan, Republic of          733  Net debt (% of GDP)
2605  South Sudan, Republic of          733  Net debt (% of GDP)
2606  South Sudan, Republic of          733  Net debt (% of GDP)

         Indicator Code  Year  Feature Value
0     GGXWDN_G01_GDP_PT  1997      34.023398
1     GGXWDN_G01_GDP_PT  1998      31.642564
2     GGXWDN_G01_GDP_PT  1999      22.972453
3     GGXWDN_G01_GDP_PT  2000      16.566514
4     GGXWDN_G01_GDP_PT  2001      12.788907
...                 ...   ...            ...
2602  GGXWDN_G01_GDP_PT  2023      29.685433
2603  GGXWDN_G01_GDP_PT  2024      23.193810
2604  GGXWDN_G01_GDP_PT  2025      21.172863
2605  GGXWDN_G01_GDP_PT  2026      20.296090
2606  GGXWDN_G01_GDP_PT  2027      19.582940

[2607 rows x 6 columns]
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Year', 'Feature Value'],
      dtype='object')
                  Country Name Country Code       Indicator Name  \
0                         Iran          429  Net debt (% of GDP)
1                         Iran          429  Net debt (% of GDP)
2                         Iran          429  Net debt (% of GDP)
3                         Iran          429  Net debt (% of GDP)
4                         Iran          429  Net debt (% of GDP)
...                        ...          ...                  ...
2602  South Sudan, Republic of          733  Net debt (% of GDP)
2603  South Sudan, Republic of          733  Net debt (% of GDP)
2604  South Sudan, Republic of          733  Net debt (% of GDP)
2605  South Sudan, Republic of          733  Net debt (% of GDP)
2606  South Sudan, Republic of          733  Net debt (% of GDP)

         Indicator Code  Year  Feature Value
0     GGXWDN_G01_GDP_PT  1997      34.023398
1     GGXWDN_G01_GDP_PT  1998      31.642564
2     GGXWDN_G01_GDP_PT  1999      22.972453
3     GGXWDN_G01_GDP_PT  2000      16.566514
4     GGXWDN_G01_GDP_PT  2001      12.788907
...                 ...   ...            ...
2602  GGXWDN_G01_GDP_PT  2023      29.685433
2603  GGXWDN_G01_GDP_PT  2024      23.193810
2604  GGXWDN_G01_GDP_PT  2025      21.172863
2605  GGXWDN_G01_GDP_PT  2026      20.296090
2606  GGXWDN_G01_GDP_PT  2027      19.582940

[2607 rows x 6 columns]
Process time:  0.1524 seconds 0.0025 minutes.
FSIRE_02-04-2023 08-23-40-70_timeSeries/FSIRE_02-04-2023 08-23-40-70_timeSeries.csv
      Country Name  Country Code  \
0          Austria           122
1          Austria           122
2           Bhutan           514
3           Bhutan           514
4           Bhutan           514
...            ...           ...
16034      Vietnam           582
16035      Vietnam           582
16036      Vietnam           582
16037      Vietnam           582
16038      Vietnam           582

                                          Indicator Name Indicator Code  \
0      Number of domestic subsidiaries of domesticall...        DSD_NUM
1      Number of domestic branches of domestically in...        IBD_NUM
2      Number of domestic subsidiaries of domesticall...        ISD_NUM
3                Number of reporting entities, Number of         TE_NUM
4      Number of domestically incorporated foreign co...         IE_NUM
...                                                  ...            ...
16034                    Total Assets, Domestic Currency         TA_XDC
16035                    Total Assets, Domestic Currency         TA_XDC
16036                    Total Assets, Domestic Currency         TA_XDC
16037                    Total Assets, Domestic Currency         TA_XDC
16038                    Total Assets, Domestic Currency         TA_XDC

                              Financial Institution Name  \
0      Reporting entities covered in the sector of de...
1      Reporting entities covered in the sector of de...
2      Reporting entities covered in the sector of de...
3      Reporting entities covered in the sector of de...
4      Reporting entities covered in the sector of de...
...                                                  ...
16034  Reporting entities covered in the sector of de...
16035  Reporting entities covered in the sector of de...
16036  Reporting entities covered in the sector of de...
16037  Reporting entities covered in the sector of de...
16038  Reporting entities covered in the sector of de...

      Financial Institution Code Attribute  2000  2001  2002  ...   2014  \
0                     FS_ODX_IPM     Value   NaN   NaN   NaN  ...    2.0
1                     FS_ODX_IPC     Value   NaN   NaN   NaN  ...  765.0
2                      FS_ODX_IP     Value   NaN   NaN   NaN  ...    NaN
3                     FS_ODX_IGS     Value   NaN   NaN   NaN  ...    NaN
4                       FS_ODX_I     Value   NaN   NaN   NaN  ...    NaN
...                          ...       ...   ...   ...   ...  ...    ...
16034                 FS_ODX_IPC     Value   NaN   NaN   NaN  ...    NaN
16035                  FS_ODX_IG     Value   NaN   NaN   NaN  ...    NaN
16036                   FS_ODX_I     Value   NaN   NaN   NaN  ...    NaN
16037                FS_ODX_IGCU     Value   NaN   NaN   NaN  ...    NaN
16038                 FS_ODX_IGC     Value   NaN   NaN   NaN  ...    NaN

        2015  2016  2017  2018  2019  2020          2021  2022  Unnamed: 30
0        3.0   NaN   NaN   NaN   NaN   NaN           NaN   NaN          NaN
1      733.0   NaN   NaN   NaN   NaN   NaN           NaN   NaN          NaN
2        NaN   NaN   NaN   NaN   NaN   NaN           NaN   NaN          NaN
3        NaN   NaN   NaN   NaN   NaN   NaN           NaN   NaN          NaN
4        NaN   NaN   NaN   NaN   NaN   NaN           NaN   NaN          NaN
...      ...   ...   ...   ...   ...   ...           ...   ...          ...
16034    NaN   NaN   NaN   NaN   NaN   NaN  8.781739e+15   NaN          NaN
16035    NaN   NaN   NaN   NaN   NaN   NaN  6.500752e+15   NaN          NaN
16036    NaN   NaN   NaN   NaN   NaN   NaN  1.544132e+16   NaN          NaN
16037    NaN   NaN   NaN   NaN   NaN   NaN  4.916793e+13   NaN          NaN
16038    NaN   NaN   NaN   NaN   NaN   NaN  6.451584e+15   NaN          NaN

[16039 rows x 31 columns]
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Financial Institution Name', 'Financial Institution Code', 'Attribute',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '2022', 'Unnamed: 30'],
      dtype='object')
['DSD_NUM' 'IBD_NUM' 'ISD_NUM' 'TE_NUM' 'IE_NUM' 'ISF_NUM' 'FG_NUM'
 'IA_XDC' 'DE_NUM' 'DBF_NUM' 'DBD_NUM' 'DA_EUR' 'IA_EUR' 'FA_EUR' 'FB_NUM'
 'DA_XDC' 'IBF_NUM' 'DSF_NUM' 'FA_XDC' 'TA_XDC' 'TA_EUR' 'NISF_NUM'
 'NDSF_NUM' 'NDSD_NUM' 'NISD_NUM' 'IA_USD' 'DA_USD' 'FA_USD' 'TA_USD']
DSD_NUM
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Financial Institution Name', 'Financial Institution Code', 'Attribute',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '2022', 'Unnamed: 30'],
      dtype='object')
['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022']
     Country Name  Country Code  \
0         Albania           914
1         Albania           914
2         Albania           914
3         Algeria           612
4         Algeria           612
...           ...           ...
4299      Vietnam           582
4300      Vietnam           582
4301      Vietnam           582
4302      Vietnam           582
4303      Vietnam           582

                                         Indicator Name       Indicator Code  \
0     Number of domestic subsidiaries of domesticall...     DSD_NUM_FS_OFX_I
1     Number of domestic subsidiaries of domesticall...   DSD_NUM_FS_OFX_IFA
2     Number of domestic subsidiaries of domesticall...  DSD_NUM_FS_OFX_IOFI
3     Number of domestic subsidiaries of domesticall...     DSD_NUM_FS_ODX_D
4     Number of domestic subsidiaries of domesticall...     DSD_NUM_FS_ODX_D
...                                                 ...                  ...
4299  Number of domestic subsidiaries of domesticall...    DSD_NUM_FS_ODX_IP
4300  Number of domestic subsidiaries of domesticall...     DSD_NUM_FS_ODX_X
4301  Number of domestic subsidiaries of domesticall...     DSD_NUM_FS_OFX_I
4302  Number of domestic subsidiaries of domesticall...   DSD_NUM_FS_OFX_IFA
4303  Number of domestic subsidiaries of domesticall...  DSD_NUM_FS_OFX_IOFI

      Year  Feature Value
0     2020            0.0
1     2020            0.0
2     2020            0.0
3     2009            0.0
4     2010            0.0
...    ...            ...
4299  2017            0.0
4300  2017            0.0
4301  2017            0.0
4302  2017            0.0
4303  2017            0.0

[4304 rows x 6 columns]
     Country Name  Country Code  \
0         Albania           914
1         Albania           914
2         Albania           914
3         Algeria           612
4         Algeria           612
...           ...           ...
4299      Vietnam           582
4300      Vietnam           582
4301      Vietnam           582
4302      Vietnam           582
4303      Vietnam           582

                                         Indicator Name       Indicator Code  \
0     Number of domestic subsidiaries of domesticall...     DSD_NUM_FS_OFX_I
1     Number of domestic subsidiaries of domesticall...   DSD_NUM_FS_OFX_IFA
2     Number of domestic subsidiaries of domesticall...  DSD_NUM_FS_OFX_IOFI
3     Number of domestic subsidiaries of domesticall...     DSD_NUM_FS_ODX_D
4     Number of domestic subsidiaries of domesticall...     DSD_NUM_FS_ODX_D
...                                                 ...                  ...
4299  Number of domestic subsidiaries of domesticall...    DSD_NUM_FS_ODX_IP
4300  Number of domestic subsidiaries of domesticall...     DSD_NUM_FS_ODX_X
4301  Number of domestic subsidiaries of domesticall...     DSD_NUM_FS_OFX_I
4302  Number of domestic subsidiaries of domesticall...   DSD_NUM_FS_OFX_IFA
4303  Number of domestic subsidiaries of domesticall...  DSD_NUM_FS_OFX_IOFI

      Year  Feature Value
0     2020            0.0
1     2020            0.0
2     2020            0.0
3     2009            0.0
4     2010            0.0
...    ...            ...
4299  2017            0.0
4300  2017            0.0
4301  2017            0.0
4302  2017            0.0
4303  2017            0.0

[4304 rows x 6 columns]
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Year', 'Feature Value'],
      dtype='object')
IBD_NUM
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Financial Institution Name', 'Financial Institution Code', 'Attribute',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '2022', 'Unnamed: 30'],
      dtype='object')
['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022']
     Country Name  Country Code  \
0         Albania           914
1         Albania           914
2         Albania           914
3         Algeria           612
4         Algeria           612
...           ...           ...
4205      Vietnam           582
4206      Vietnam           582
4207      Vietnam           582
4208      Vietnam           582
4209      Vietnam           582

                                         Indicator Name       Indicator Code  \
0     Number of domestic branches of domestically in...     IBD_NUM_FS_OFX_I
1     Number of domestic branches of domestically in...   IBD_NUM_FS_OFX_IFA
2     Number of domestic branches of domestically in...  IBD_NUM_FS_OFX_IOFI
3     Number of domestic branches of domestically in...     IBD_NUM_FS_ODX_D
4     Number of domestic branches of domestically in...     IBD_NUM_FS_ODX_D
...                                                 ...                  ...
4205  Number of domestic branches of domestically in...   IBD_NUM_FS_ODX_IPC
4206  Number of domestic branches of domestically in...     IBD_NUM_FS_ODX_X
4207  Number of domestic branches of domestically in...     IBD_NUM_FS_OFX_I
4208  Number of domestic branches of domestically in...   IBD_NUM_FS_OFX_IFA
4209  Number of domestic branches of domestically in...  IBD_NUM_FS_OFX_IOFI

      Year  Feature Value
0     2020            0.0
1     2020            0.0
2     2020            0.0
3     2009            0.0
4     2010            0.0
...    ...            ...
4205  2021           96.0
4206  2017            0.0
4207  2017            0.0
4208  2017            0.0
4209  2017            0.0

[4210 rows x 6 columns]
     Country Name  Country Code  \
0         Albania           914
1         Albania           914
2         Albania           914
3         Algeria           612
4         Algeria           612
...           ...           ...
4205      Vietnam           582
4206      Vietnam           582
4207      Vietnam           582
4208      Vietnam           582
4209      Vietnam           582

                                         Indicator Name       Indicator Code  \
0     Number of domestic branches of domestically in...     IBD_NUM_FS_OFX_I
1     Number of domestic branches of domestically in...   IBD_NUM_FS_OFX_IFA
2     Number of domestic branches of domestically in...  IBD_NUM_FS_OFX_IOFI
3     Number of domestic branches of domestically in...     IBD_NUM_FS_ODX_D
4     Number of domestic branches of domestically in...     IBD_NUM_FS_ODX_D
...                                                 ...                  ...
4205  Number of domestic branches of domestically in...   IBD_NUM_FS_ODX_IPC
4206  Number of domestic branches of domestically in...     IBD_NUM_FS_ODX_X
4207  Number of domestic branches of domestically in...     IBD_NUM_FS_OFX_I
4208  Number of domestic branches of domestically in...   IBD_NUM_FS_OFX_IFA
4209  Number of domestic branches of domestically in...  IBD_NUM_FS_OFX_IOFI

      Year  Feature Value
0     2020            0.0
1     2020            0.0
2     2020            0.0
3     2009            0.0
4     2010            0.0
...    ...            ...
4205  2021           96.0
4206  2017            0.0
4207  2017            0.0
4208  2017            0.0
4209  2017            0.0

[4210 rows x 6 columns]
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Year', 'Feature Value'],
      dtype='object')
ISD_NUM
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Financial Institution Name', 'Financial Institution Code', 'Attribute',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '2022', 'Unnamed: 30'],
      dtype='object')
['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022']
     Country Name  Country Code  \
0         Albania           914
1         Albania           914
2         Albania           914
3         Algeria           612
4         Algeria           612
...           ...           ...
3499      Vietnam           582
3500      Vietnam           582
3501      Vietnam           582
3502      Vietnam           582
3503      Vietnam           582

                                         Indicator Name       Indicator Code  \
0     Number of domestic subsidiaries of domesticall...     ISD_NUM_FS_OFX_I
1     Number of domestic subsidiaries of domesticall...   ISD_NUM_FS_OFX_IFA
2     Number of domestic subsidiaries of domesticall...  ISD_NUM_FS_OFX_IOFI
3     Number of domestic subsidiaries of domesticall...     ISD_NUM_FS_ODX_D
4     Number of domestic subsidiaries of domesticall...     ISD_NUM_FS_ODX_D
...                                                 ...                  ...
3499  Number of domestic subsidiaries of domesticall...    ISD_NUM_FS_ODX_IP
3500  Number of domestic subsidiaries of domesticall...     ISD_NUM_FS_ODX_X
3501  Number of domestic subsidiaries of domesticall...     ISD_NUM_FS_OFX_I
3502  Number of domestic subsidiaries of domesticall...   ISD_NUM_FS_OFX_IFA
3503  Number of domestic subsidiaries of domesticall...  ISD_NUM_FS_OFX_IOFI

      Year  Feature Value
0     2020            0.0
1     2020            0.0
2     2020            0.0
3     2009            0.0
4     2010            0.0
...    ...            ...
3499  2017            0.0
3500  2017            0.0
3501  2017            0.0
3502  2017            0.0
3503  2017            0.0

[3504 rows x 6 columns]
     Country Name  Country Code  \
0         Albania           914
1         Albania           914
2         Albania           914
3         Algeria           612

/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Financial Institution Name', 'Financial Institution Code', 'Attribute',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '2022', 'Unnamed: 30'],
      dtype='object')
['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022']
            Country Name  Country Code  \
0                Albania           914
1                Albania           914
2                Albania           914
3                Albania           914
4                Albania           914
...                  ...           ...
4440             Vietnam           582
4441             Vietnam           582
4442             Vietnam           582
4443  West Bank and Gaza           487
4444  West Bank and Gaza           487

                                         Indicator Name       Indicator Code  \
0     Number of foreign branches of domestically con...     DBF_NUM_FS_OFX_I
1     Number of foreign branches of domestically con...     DBF_NUM_FS_OFX_I
2     Number of foreign branches of domestically con...   DBF_NUM_FS_OFX_IFA
3     Number of foreign branches of domestically con...   DBF_NUM_FS_OFX_IFA
4     Number of foreign branches of domestically con...   DBF_NUM_FS_OFX_IIC
...                                                 ...                  ...
4440  Number of foreign branches of domestically con...     DBF_NUM_FS_OFX_I
4441  Number of foreign branches of domestically con...   DBF_NUM_FS_OFX_IFA
4442  Number of foreign branches of domestically con...  DBF_NUM_FS_OFX_IOFI
4443  Number of foreign branches of domestically con...     DBF_NUM_FS_OFX_I
4444  Number of foreign branches of domestically con...   DBF_NUM_FS_OFX_IIC

      Year  Feature Value
0     2016            1.0
1     2020            0.0
2     2016            1.0
3     2020            0.0
4     2016            2.0
...    ...            ...
4440  2017            0.0
4441  2017            0.0
4442  2017            0.0
4443  2014            0.0
4444  2014            1.0

[4445 rows x 6 columns]
            Country Name  Country Code  \
0                Albania           914
1                Albania           914
2                Albania           914
3                Albania           914
4                Albania           914
...                  ...           ...
4440             Vietnam           582
4441             Vietnam           582
4442             Vietnam           582
4443  West Bank and Gaza           487
4444  West Bank and Gaza           487

                                         Indicator Name       Indicator Code  \
0     Number of foreign branches of domestically con...     DBF_NUM_FS_OFX_I
1     Number of foreign branches of domestically con...     DBF_NUM_FS_OFX_I
2     Number of foreign branches of domestically con...   DBF_NUM_FS_OFX_IFA
3     Number of foreign branches of domestically con...   DBF_NUM_FS_OFX_IFA
4     Number of foreign branches of domestically con...   DBF_NUM_FS_OFX_IIC
...                                                 ...                  ...
4440  Number of foreign branches of domestically con...     DBF_NUM_FS_OFX_I
4441  Number of foreign branches of domestically con...   DBF_NUM_FS_OFX_IFA
4442  Number of foreign branches of domestically con...  DBF_NUM_FS_OFX_IOFI
4443  Number of foreign branches of domestically con...     DBF_NUM_FS_OFX_I
4444  Number of foreign branches of domestically con...   DBF_NUM_FS_OFX_IIC

      Year  Feature Value
0     2016            1.0
1     2020            0.0
2     2016            1.0
3     2020            0.0
4     2016            2.0
...    ...            ...
4440  2017            0.0
4441  2017            0.0
4442  2017            0.0
4443  2014            0.0
4444  2014            1.0

[4445 rows x 6 columns]
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Year', 'Feature Value'],
      dtype='object')
DBD_NUM
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Financial Institution Name', 'Financial Institution Code', 'Attribute',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '2022', 'Unnamed: 30'],
      dtype='object')
['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022']
            Country Name  Country Code  \
0                Albania           914
1                Albania           914
2                Albania           914
3                Algeria           612
4                Algeria           612
...                  ...           ...
5682  West Bank and Gaza           487
5683  West Bank and Gaza           487
5684  West Bank and Gaza           487
5685  West Bank and Gaza           487
5686  West Bank and Gaza           487

                                         Indicator Name       Indicator Code  \
0     Number of domestic branches of domestically co...     DBD_NUM_FS_OFX_I
1     Number of domestic branches of domestically co...   DBD_NUM_FS_OFX_IFA
2     Number of domestic branches of domestically co...  DBD_NUM_FS_OFX_IOFI
3     Number of domestic branches of domestically co...     DBD_NUM_FS_ODX_D
4     Number of domestic branches of domestically co...     DBD_NUM_FS_ODX_D
...                                                 ...                  ...
5682  Number of domestic branches of domestically co...   DBD_NUM_FS_ODX_IPC
5683  Number of domestic branches of domestically co...   DBD_NUM_FS_ODX_IPC
5684  Number of domestic branches of domestically co...   DBD_NUM_FS_ODX_IPC
5685  Number of domestic branches of domestically co...     DBD_NUM_FS_OFX_I
5686  Number of domestic branches of domestically co...   DBD_NUM_FS_OFX_IIC

      Year  Feature Value
0     2020            0.0
1     2020            0.0
2     2020            0.0
3     2009            0.0
4     2010            0.0
...    ...            ...
5682  2015          156.0
5683  2016          187.0
5684  2018          227.0
5685  2014            0.0
5686  2014          120.0

[5687 rows x 6 columns]
            Country Name  Country Code  \
0                Albania           914
1                Albania           914
2                Albania           914
3                Algeria           612
4                Algeria           612
...                  ...           ...
5682  West Bank and Gaza           487
5683  West Bank and Gaza           487
5684  West Bank and Gaza           487
5685  West Bank and Gaza           487
5686  West Bank and Gaza           487

                                         Indicator Name       Indicator Code  \
0     Number of domestic branches of domestically co...     DBD_NUM_FS_OFX_I
1     Number of domestic branches of domestically co...   DBD_NUM_FS_OFX_IFA
2     Number of domestic branches of domestically co...  DBD_NUM_FS_OFX_IOFI
3     Number of domestic branches of domestically co...     DBD_NUM_FS_ODX_D
4     Number of domestic branches of domestically co...     DBD_NUM_FS_ODX_D
...                                                 ...                  ...
5682  Number of domestic branches of domestically co...   DBD_NUM_FS_ODX_IPC
5683  Number of domestic branches of domestically co...   DBD_NUM_FS_ODX_IPC
5684  Number of domestic branches of domestically co...   DBD_NUM_FS_ODX_IPC
5685  Number of domestic branches of domestically co...     DBD_NUM_FS_OFX_I
5686  Number of domestic branches of domestically co...   DBD_NUM_FS_OFX_IIC

      Year  Feature Value
0     2020            0.0
1     2020            0.0
2     2020            0.0
3     2009            0.0
4     2010            0.0
...    ...            ...
5682  2015          156.0
5683  2016          187.0
5684  2018          227.0
5685  2014            0.0
5686  2014          120.0

[5687 rows x 6 columns]
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Year', 'Feature Value'],
      dtype='object')
DA_EUR
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Financial Institution Name', 'Financial Institution Code', 'Attribute',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '2022', 'Unnamed: 30'],
      dtype='object')
['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022']
     Country Name  Country Code  \
0         Austria           122
1         Austria           122
2         Austria           122
3         Austria           122
4         Austria           122
...           ...           ...
1339        Spain           184
1340        Spain           184
1341        Spain           184
1342        Spain           184
1343        Spain           184

                                         Indicator Name      Indicator Code  \
0     Total assets of domestically controlled report...     DA_EUR_FS_ODX_D
1     Total assets of domestically controlled report...     DA_EUR_FS_ODX_D
2     Total assets of domestically controlled report...     DA_EUR_FS_ODX_D
3     Total assets of domestically controlled report...     DA_EUR_FS_ODX_D
4     Total assets of domestically controlled report...     DA_EUR_FS_ODX_I
...                                                 ...                 ...
1339  Total assets of domestically controlled report...  DA_EUR_FS_OFX_IOFI
1340  Total assets of domestically controlled report...   DA_EUR_FS_OFX_IPF
1341  Total assets of domestically controlled report...   DA_EUR_FS_OFX_IPF
1342  Total assets of domestically controlled report...   DA_EUR_FS_OFX_IPF
1343  Total assets of domestically controlled report...   DA_EUR_FS_OFX_IPF

      Year  Feature Value
0     2009   0.000000e+00
1     2010   0.000000e+00
2     2011   0.000000e+00
3     2012   0.000000e+00
4     2009   8.176654e+11
...    ...            ...
1339  2015   5.682440e+11
1340  2010   8.703400e+10
1341  2014   1.225890e+11
1342  2015   1.217640e+11
1343  2021   1.559380e+11

[1344 rows x 6 columns]
     Country Name  Country Code  \
0         Austria           122
1         Austria           122
2         Austria           122
3         Austria           122
4         Austria           122
...           ...           ...
1339        Spain           184
1340        Spain           184
1341        Spain           184
1342        Spain           184
1343        Spain           184

                                         Indicator Name      Indicator Code  \
0     Total assets of domestically controlled report...     DA_EUR_FS_ODX_D
1     Total assets of domestically controlled report...     DA_EUR_FS_ODX_D
2     Total assets of domestically controlled report...     DA_EUR_FS_ODX_D
3     Total assets of domestically controlled report...     DA_EUR_FS_ODX_D
4     Total assets of domestically controlled report...     DA_EUR_FS_ODX_I
...                                                 ...                 ...
1339  Total assets of domestically controlled report...  DA_EUR_FS_OFX_IOFI
1340  Total assets of domestically controlled report...   DA_EUR_FS_OFX_IPF
1341  Total assets of domestically controlled report...   DA_EUR_FS_OFX_IPF
1342  Total assets of domestically controlled report...   DA_EUR_FS_OFX_IPF
1343  Total assets of domestically controlled report...   DA_EUR_FS_OFX_IPF

      Year  Feature Value
0     2009   0.000000e+00
1     2010   0.000000e+00
2     2011   0.000000e+00
3     2012   0.000000e+00
4     2009   8.176654e+11
...    ...            ...
1339  2015   5.682440e+11
1340  2010   8.703400e+10
1341  2014   1.225890e+11
1342  2015   1.217640e+11
1343  2021   1.559380e+11

[1344 rows x 6 columns]
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Year', 'Feature Value'],
      dtype='object')
IA_EUR
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Financial Institution Name', 'Financial Institution Code', 'Attribute',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '2022', 'Unnamed: 30'],
      dtype='object')
['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022']
    Country Name  Country Code  \
0        Austria           122
1        Austria           122
2        Austria           122
3        Austria           122
4        Austria           122
..           ...           ...
722        Spain           184
723        Spain           184
724        Spain           184
725        Spain           184
726        Spain           184

                                        Indicator Name         Indicator Code  \
0    Total assets of domestically incorporated fore...        IA_EUR_FS_ODX_D
1    Total assets of domestically incorporated fore...        IA_EUR_FS_ODX_D
2    Total assets of domestically incorporated fore...        IA_EUR_FS_ODX_D
3    Total assets of domestically incorporated fore...        IA_EUR_FS_ODX_D
4    Total assets of domestically incorporated fore...        IA_EUR_FS_ODX_I
..                                                 ...                    ...
722  Total assets of domestically incorporated fore...        IA_EUR_FS_OFX_I
723  Total assets of domestically incorporated fore...      IA_EUR_FS_OFX_IFA
724  Total assets of domestically incorporated fore...      IA_EUR_FS_OFX_IIC
725  Total assets of domestically incorporated fore...  IA_EUR_FS_OFX_IICNLIC
726  Total assets of domestically incorporated fore...     IA_EUR_FS_OFX_IOFI

     Year  Feature Value
0    2009   0.000000e+00
1    2010   0.000000e+00
2    2011   0.000000e+00
3    2012   0.000000e+00
4    2009   1.906649e+11
..    ...            ...
722  2010   0.000000e+00
723  2010   0.000000e+00
724  2021   5.500000e+07
725  2021   5.500000e+07
726  2010   0.000000e+00

[727 rows x 6 columns]
    Country Name  Country Code  \
0        Austria           122
1        Austria           122
2        Austria           122
3        Austria           122
4        Austria           122
..           ...           ...
722        Spain           184
723        Spain           184
724        Spain           184
725        Spain           184
726        Spain           184

                                        Indicator Name         Indicator Code  \
0    Total assets of domestically incorporated fore...        IA_EUR_FS_ODX_D
1    Total assets of domestically incorporated fore...        IA_EUR_FS_ODX_D
2    Total assets of domestically incorporated fore...        IA_EUR_FS_ODX_D
3    Total assets of domestically incorporated fore...        IA_EUR_FS_ODX_D
4    Total assets of domestically incorporated fore...        IA_EUR_FS_ODX_I
..                                                 ...                    ...
722  Total assets of domestically incorporated fore...        IA_EUR_FS_OFX_I
723  Total assets of domestically incorporated fore...      IA_EUR_FS_OFX_IFA
724  Total assets of domestically incorporated fore...      IA_EUR_FS_OFX_IIC
725  Total assets of domestically incorporated fore...  IA_EUR_FS_OFX_IICNLIC
726  Total assets of domestically incorporated fore...     IA_EUR_FS_OFX_IOFI

     Year  Feature Value
0    2009   0.000000e+00
1    2010   0.000000e+00
2    2011   0.000000e+00
3    2012   0.000000e+00
4    2009   1.906649e+11
..    ...            ...
722  2010   0.000000e+00
723  2010   0.000000e+00
724  2021   5.500000e+07
725  2021   5.500000e+07
726  2010   0.000000e+00

[727 rows x 6 columns]
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Year', 'Feature Value'],
      dtype='object')
FA_EUR
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Financial Institution Name', 'Financial Institution Code', 'Attribute',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '2022', 'Unnamed: 30'],
      dtype='object')
['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022']
    Country Name  Country Code                             Indicator Name  \
0        Austria           122  Total assets foreign bank branches, Euros
1        Austria           122  Total assets foreign bank branches, Euros
2        Austria           122  Total assets foreign bank branches, Euros
3        Austria           122  Total assets foreign bank branches, Euros
4        Austria           122  Total assets foreign bank branches, Euros
..           ...           ...                                        ...
358        Spain           184  Total assets foreign bank branches, Euros
359        Spain           184  Total assets foreign bank branches, Euros
360        Spain           184  Total assets foreign bank branches, Euros
361        Spain           184  Total assets foreign bank branches, Euros
362        Spain           184  Total assets foreign bank branches, Euros

       Indicator Code  Year  Feature Value
0     FA_EUR_FS_ODX_D  2009   0.000000e+00
1     FA_EUR_FS_ODX_D  2010   0.000000e+00
2     FA_EUR_FS_ODX_D  2011   0.000000e+00
3     FA_EUR_FS_ODX_D  2012   0.000000e+00
4     FA_EUR_FS_ODX_I  2009   1.166126e+10
..                ...   ...            ...
358   FA_EUR_FS_ODX_D  2010   0.000000e+00
359   FA_EUR_FS_ODX_I  2010   0.000000e+00
360  FA_EUR_FS_ODX_IG  2010   0.000000e+00
361  FA_EUR_FS_ODX_IP  2010   0.000000e+00
362   FA_EUR_FS_ODX_X  2010   0.000000e+00

[363 rows x 6 columns]
    Country Name  Country Code                             Indicator Name  \
0        Austria           122  Total assets foreign bank branches, Euros
1        Austria           122  Total assets foreign bank branches, Euros
2        Austria           122  Total assets foreign bank branches, Euros
3        Austria           122  Total assets foreign bank branches, Euros
4        Austria           122  Total assets foreign bank branches, Euros
..           ...           ...                                        ...
358        Spain           184  Total assets foreign bank branches, Euros
359        Spain           184  Total assets foreign bank branches, Euros
360        Spain           184  Total assets foreign bank branches, Euros
361        Spain           184  Total assets foreign bank branches, Euros
362        Spain           184  Total assets foreign bank branches, Euros

       Indicator Code  Year  Feature Value
0     FA_EUR_FS_ODX_D  2009   0.000000e+00
1     FA_EUR_FS_ODX_D  2010   0.000000e+00
2     FA_EUR_FS_ODX_D  2011   0.000000e+00
3     FA_EUR_FS_ODX_D  2012   0.000000e+00
4     FA_EUR_FS_ODX_I  2009   1.166126e+10
..                ...   ...            ...
358   FA_EUR_FS_ODX_D  2010   0.000000e+00
359   FA_EUR_FS_ODX_I  2010   0.000000e+00
360  FA_EUR_FS_ODX_IG  2010   0.000000e+00
361  FA_EUR_FS_ODX_IP  2010   0.000000e+00
362   FA_EUR_FS_ODX_X  2010   0.000000e+00

[363 rows x 6 columns]
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Year', 'Feature Value'],
      dtype='object')
FB_NUM

/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)

            Country Name  Country Code  \
0                Algeria           612
1                Algeria           612
2                Algeria           612
3                Algeria           612
4                Algeria           612
...                  ...           ...
2246  West Bank and Gaza           487
2247  West Bank and Gaza           487
2248  West Bank and Gaza           487
2249  West Bank and Gaza           487
2250  West Bank and Gaza           487

                                         Indicator Name     Indicator Code  \
0     Total assets foreign bank branches, Domestic C...    FA_XDC_FS_ODX_D
1     Total assets foreign bank branches, Domestic C...    FA_XDC_FS_ODX_D
2     Total assets foreign bank branches, Domestic C...    FA_XDC_FS_ODX_D
3     Total assets foreign bank branches, Domestic C...    FA_XDC_FS_ODX_D
4     Total assets foreign bank branches, Domestic C...    FA_XDC_FS_ODX_I
...                                                 ...                ...
2246  Total assets foreign bank branches, Domestic C...  FA_XDC_FS_ODX_IPC
2247  Total assets foreign bank branches, Domestic C...  FA_XDC_FS_ODX_IPC
2248  Total assets foreign bank branches, Domestic C...  FA_XDC_FS_ODX_IPC
2249  Total assets foreign bank branches, Domestic C...  FA_XDC_FS_ODX_IPC
2250  Total assets foreign bank branches, Domestic C...  FA_XDC_FS_ODX_IPC

      Year  Feature Value
0     2009   0.000000e+00
1     2010   0.000000e+00
2     2011   0.000000e+00
3     2012   0.000000e+00
4     2009   9.854240e+10
...    ...            ...
2246  2013   5.905836e+09
2247  2014   5.908301e+09
2248  2015   5.950895e+09
2249  2016   6.512083e+09
2250  2018   6.833460e+09

[2251 rows x 6 columns]
            Country Name  Country Code  \
0                Algeria           612
1                Algeria           612
2                Algeria           612
3                Algeria           612
4                Algeria           612
...                  ...           ...
2246  West Bank and Gaza           487
2247  West Bank and Gaza           487
2248  West Bank and Gaza           487
2249  West Bank and Gaza           487
2250  West Bank and Gaza           487

                                         Indicator Name     Indicator Code  \
0     Total assets foreign bank branches, Domestic C...    FA_XDC_FS_ODX_D
1     Total assets foreign bank branches, Domestic C...    FA_XDC_FS_ODX_D
2     Total assets foreign bank branches, Domestic C...    FA_XDC_FS_ODX_D
3     Total assets foreign bank branches, Domestic C...    FA_XDC_FS_ODX_D
4     Total assets foreign bank branches, Domestic C...    FA_XDC_FS_ODX_I
...                                                 ...                ...
2246  Total assets foreign bank branches, Domestic C...  FA_XDC_FS_ODX_IPC
2247  Total assets foreign bank branches, Domestic C...  FA_XDC_FS_ODX_IPC
2248  Total assets foreign bank branches, Domestic C...  FA_XDC_FS_ODX_IPC
2249  Total assets foreign bank branches, Domestic C...  FA_XDC_FS_ODX_IPC
2250  Total assets foreign bank branches, Domestic C...  FA_XDC_FS_ODX_IPC

      Year  Feature Value
0     2009   0.000000e+00
1     2010   0.000000e+00
2     2011   0.000000e+00
3     2012   0.000000e+00
4     2009   9.854240e+10
...    ...            ...
2246  2013   5.905836e+09
2247  2014   5.908301e+09
2248  2015   5.950895e+09
2249  2016   6.512083e+09
2250  2018   6.833460e+09

[2251 rows x 6 columns]
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Year', 'Feature Value'],
      dtype='object')
TA_XDC
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Financial Institution Name', 'Financial Institution Code', 'Attribute',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '2022', 'Unnamed: 30'],
      dtype='object')
['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022']
    Country Name  Country Code                   Indicator Name  \
0        Albania           914  Total Assets, Domestic Currency
1        Albania           914  Total Assets, Domestic Currency
2        Albania           914  Total Assets, Domestic Currency
3        Albania           914  Total Assets, Domestic Currency
4        Algeria           612  Total Assets, Domestic Currency
..           ...           ...                              ...
251      Vietnam           582  Total Assets, Domestic Currency
252      Vietnam           582  Total Assets, Domestic Currency
253      Vietnam           582  Total Assets, Domestic Currency
254      Vietnam           582  Total Assets, Domestic Currency
255      Vietnam           582  Total Assets, Domestic Currency

          Indicator Code  Year  Feature Value
0        TA_XDC_FS_ODX_I  2021   1.813312e+12
1       TA_XDC_FS_ODX_IP  2021   1.813312e+12
2      TA_XDC_FS_ODX_IPC  2021   1.799784e+12
3     TA_XDC_FS_ODX_IPCU  2021   1.352819e+10
4        TA_XDC_FS_ODX_I  2021   2.049526e+13
..                   ...   ...            ...
251    TA_XDC_FS_ODX_IGC  2021   6.451584e+15
252   TA_XDC_FS_ODX_IGCU  2021   4.916793e+13
253     TA_XDC_FS_ODX_IP  2021   8.940572e+15
254    TA_XDC_FS_ODX_IPC  2021   8.781739e+15
255  TA_XDC_FS_ODX_IPMFI  2021   1.588327e+14

[256 rows x 6 columns]
    Country Name  Country Code                   Indicator Name  \
0        Albania           914  Total Assets, Domestic Currency
1        Albania           914  Total Assets, Domestic Currency
2        Albania           914  Total Assets, Domestic Currency
3        Albania           914  Total Assets, Domestic Currency
4        Algeria           612  Total Assets, Domestic Currency
..           ...           ...                              ...
251      Vietnam           582  Total Assets, Domestic Currency
252      Vietnam           582  Total Assets, Domestic Currency
253      Vietnam           582  Total Assets, Domestic Currency
254      Vietnam           582  Total Assets, Domestic Currency
255      Vietnam           582  Total Assets, Domestic Currency

          Indicator Code  Year  Feature Value
0        TA_XDC_FS_ODX_I  2021   1.813312e+12
1       TA_XDC_FS_ODX_IP  2021   1.813312e+12
2      TA_XDC_FS_ODX_IPC  2021   1.799784e+12
3     TA_XDC_FS_ODX_IPCU  2021   1.352819e+10
4        TA_XDC_FS_ODX_I  2021   2.049526e+13
..                   ...   ...            ...
251    TA_XDC_FS_ODX_IGC  2021   6.451584e+15
252   TA_XDC_FS_ODX_IGCU  2021   4.916793e+13
253     TA_XDC_FS_ODX_IP  2021   8.940572e+15
254    TA_XDC_FS_ODX_IPC  2021   8.781739e+15
255  TA_XDC_FS_ODX_IPMFI  2021   1.588327e+14

[256 rows x 6 columns]
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Year', 'Feature Value'],
      dtype='object')
TA_EUR
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Financial Institution Name', 'Financial Institution Code', 'Attribute',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '2022', 'Unnamed: 30'],
      dtype='object')
['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022']
       Country Name  Country Code       Indicator Name      Indicator Code  \
0           Belgium           124  Total Assets, Euros     TA_EUR_FS_ODX_I
1           Belgium           124  Total Assets, Euros    TA_EUR_FS_ODX_IG
2           Belgium           124  Total Assets, Euros   TA_EUR_FS_ODX_IGC
3           Belgium           124  Total Assets, Euros    TA_EUR_FS_ODX_IP
4           Belgium           124  Total Assets, Euros   TA_EUR_FS_ODX_IPC
5           Belgium           124  Total Assets, Euros  TA_EUR_FS_ODX_IPCU
6           Belgium           124  Total Assets, Euros   TA_EUR_FS_ODX_IPI
7           Belgium           124  Total Assets, Euros   TA_EUR_FS_ODX_IPO
8            Greece           174  Total Assets, Euros     TA_EUR_FS_ODX_I
9            Greece           174  Total Assets, Euros    TA_EUR_FS_ODX_IP
10           Greece           174  Total Assets, Euros   TA_EUR_FS_ODX_IPC
11           Greece           174  Total Assets, Euros  TA_EUR_FS_ODX_IPCU
12          Ireland           178  Total Assets, Euros     TA_EUR_FS_ODX_I
13          Ireland           178  Total Assets, Euros    TA_EUR_FS_ODX_IG
14          Ireland           178  Total Assets, Euros   TA_EUR_FS_ODX_IGC
15          Ireland           178  Total Assets, Euros    TA_EUR_FS_ODX_IP
16          Ireland           178  Total Assets, Euros   TA_EUR_FS_ODX_IPC
17          Ireland           178  Total Assets, Euros   TA_EUR_FS_ODX_IPI
18          Ireland           178  Total Assets, Euros   TA_EUR_FS_ODX_IPO
19            Italy           136  Total Assets, Euros     TA_EUR_FS_ODX_I
20            Malta           181  Total Assets, Euros     TA_EUR_FS_ODX_I
21            Malta           181  Total Assets, Euros    TA_EUR_FS_ODX_IP
22            Malta           181  Total Assets, Euros   TA_EUR_FS_ODX_IPC
23       San Marino           135  Total Assets, Euros     TA_EUR_FS_ODX_I
24       San Marino           135  Total Assets, Euros     TA_EUR_FS_ODX_I
25       San Marino           135  Total Assets, Euros     TA_EUR_FS_ODX_I
26       San Marino           135  Total Assets, Euros     TA_EUR_FS_ODX_I
27       San Marino           135  Total Assets, Euros     TA_EUR_FS_ODX_I
28       San Marino           135  Total Assets, Euros     TA_EUR_FS_ODX_I
29       San Marino           135  Total Assets, Euros    TA_EUR_FS_ODX_IG
30       San Marino           135  Total Assets, Euros    TA_EUR_FS_ODX_IG
31       San Marino           135  Total Assets, Euros    TA_EUR_FS_ODX_IG
32       San Marino           135  Total Assets, Euros    TA_EUR_FS_ODX_IG
33       San Marino           135  Total Assets, Euros    TA_EUR_FS_ODX_IG
34       San Marino           135  Total Assets, Euros    TA_EUR_FS_ODX_IG
35       San Marino           135  Total Assets, Euros   TA_EUR_FS_ODX_IGC
36       San Marino           135  Total Assets, Euros   TA_EUR_FS_ODX_IGC
37       San Marino           135  Total Assets, Euros   TA_EUR_FS_ODX_IGC
38       San Marino           135  Total Assets, Euros   TA_EUR_FS_ODX_IGC
39       San Marino           135  Total Assets, Euros   TA_EUR_FS_ODX_IGC
40       San Marino           135  Total Assets, Euros   TA_EUR_FS_ODX_IGC
41       San Marino           135  Total Assets, Euros    TA_EUR_FS_ODX_IP
42       San Marino           135  Total Assets, Euros    TA_EUR_FS_ODX_IP
43       San Marino           135  Total Assets, Euros    TA_EUR_FS_ODX_IP
44       San Marino           135  Total Assets, Euros    TA_EUR_FS_ODX_IP
45       San Marino           135  Total Assets, Euros    TA_EUR_FS_ODX_IP
46       San Marino           135  Total Assets, Euros    TA_EUR_FS_ODX_IP
47       San Marino           135  Total Assets, Euros   TA_EUR_FS_ODX_IPC
48       San Marino           135  Total Assets, Euros   TA_EUR_FS_ODX_IPC
49       San Marino           135  Total Assets, Euros   TA_EUR_FS_ODX_IPC
50       San Marino           135  Total Assets, Euros   TA_EUR_FS_ODX_IPC
51       San Marino           135  Total Assets, Euros   TA_EUR_FS_ODX_IPC
52       San Marino           135  Total Assets, Euros   TA_EUR_FS_ODX_IPC
53  Slovak Republic           936  Total Assets, Euros     TA_EUR_FS_ODX_I
54  Slovak Republic           936  Total Assets, Euros    TA_EUR_FS_ODX_IG
55  Slovak Republic           936  Total Assets, Euros  TA_EUR_FS_ODX_IGDV
56  Slovak Republic           936  Total Assets, Euros    TA_EUR_FS_ODX_IP
57  Slovak Republic           936  Total Assets, Euros   TA_EUR_FS_ODX_IPC
58  Slovak Republic           936  Total Assets, Euros   TA_EUR_FS_ODX_IPS

    Year  Feature Value
0   2020   1.131974e+12
1   2020   1.711811e+11
2   2020   1.711811e+11
3   2020   9.607929e+11
4   2020   8.874230e+11
5   2020   2.277128e+10
6   2020   1.084615e+10
7   2020   3.975243e+10
8   2021   3.264596e+11
9   2021   3.264596e+11
10  2021   3.243859e+11
11  2021   2.073701e+09
12  2022   1.499738e+14
13  2022   1.499738e+14
14  2022   1.499738e+14
15  2022   4.887677e+14
16  2022   1.729843e+14
17  2022   2.911081e+14
18  2022   2.467531e+13
19  2021   3.141242e+12
20  2021   2.699698e+10
21  2021   2.699698e+10
22  2021   2.699698e+10
23  2016   5.306350e+09
24  2017   4.773590e+09
25  2018   4.591280e+09
26  2019   4.205910e+09
27  2020   4.181400e+09
28  2021   4.134860e+09
29  2016   1.583650e+09
30  2017   1.663730e+09
31  2018   1.554010e+09
32  2019   1.758420e+09
33  2020   1.672940e+09
34  2021   1.532160e+09
35  2016   1.583650e+09
36  2017   1.663730e+09
37  2018   1.554010e+09
38  2019   1.758420e+09
39  2020   1.672940e+09
40  2021   1.532160e+09
41  2016   3.722700e+09
42  2017   3.109860e+09
43  2018   3.037270e+09
44  2019   2.447490e+09
45  2020   2.508460e+09
46  2021   2.602700e+09
47  2016   3.722700e+09
48  2017   3.109860e+09
49  2018   3.037270e+09
50  2019   2.447490e+09
51  2020   2.508460e+09
52  2021   2.602700e+09
53  2021   1.054071e+11
54  2021   5.371090e+08
55  2021   5.371090e+08
56  2021   1.048700e+11
57  2021   1.013053e+11
58  2021   3.564734e+09
       Country Name  Country Code       Indicator Name      Indicator Code  \
0           Belgium           124  Total Assets, Euros     TA_EUR_FS_ODX_I
1           Belgium           124  Total Assets, Euros    TA_EUR_FS_ODX_IG
2           Belgium           124  Total Assets, Euros   TA_EUR_FS_ODX_IGC
3           Belgium           124  Total Assets, Euros    TA_EUR_FS_ODX_IP
4           Belgium           124  Total Assets, Euros   TA_EUR_FS_ODX_IPC
5           Belgium           124  Total Assets, Euros  TA_EUR_FS_ODX_IPCU
6           Belgium           124  Total Assets, Euros   TA_EUR_FS_ODX_IPI
7           Belgium           124  Total Assets, Euros   TA_EUR_FS_ODX_IPO
8            Greece           174  Total Assets, Euros     TA_EUR_FS_ODX_I
9            Greece           174  Total Assets, Euros    TA_EUR_FS_ODX_IP
10           Greece           174  Total Assets, Euros   TA_EUR_FS_ODX_IPC
11           Greece           174  Total Assets, Euros  TA_EUR_FS_ODX_IPCU
12          Ireland           178  Total Assets, Euros     TA_EUR_FS_ODX_I
13          Ireland           178  Total Assets, Euros    TA_EUR_FS_ODX_IG
14          Ireland           178  Total Assets, Euros   TA_EUR_FS_ODX_IGC
15          Ireland           178  Total Assets, Euros    TA_EUR_FS_ODX_IP
16          Ireland           178  Total Assets, Euros   TA_EUR_FS_ODX_IPC
17          Ireland           178  Total Assets, Euros   TA_EUR_FS_ODX_IPI
18          Ireland           178  Total Assets, Euros   TA_EUR_FS_ODX_IPO
19            Italy           136  Total Assets, Euros     TA_EUR_FS_ODX_I
20            Malta           181  Total Assets, Euros     TA_EUR_FS_ODX_I
21            Malta           181  Total Assets, Euros    TA_EUR_FS_ODX_IP
22            Malta           181  Total Assets, Euros   TA_EUR_FS_ODX_IPC
23       San Marino           135  Total Assets, Euros     TA_EUR_FS_ODX_I
24       San Marino           135  Total Assets, Euros     TA_EUR_FS_ODX_I
25       San Marino           135  Total Assets, Euros     TA_EUR_FS_ODX_I
26       San Marino           135  Total Assets, Euros     TA_EUR_FS_ODX_I
27       San Marino           135  Total Assets, Euros     TA_EUR_FS_ODX_I
28       San Marino           135  Total Assets, Euros     TA_EUR_FS_ODX_I
29       San Marino           135  Total Assets, Euros    TA_EUR_FS_ODX_IG
30       San Marino           135  Total Assets, Euros    TA_EUR_FS_ODX_IG
31       San Marino           135  Total Assets, Euros    TA_EUR_FS_ODX_IG
32       San Marino           135  Total Assets, Euros    TA_EUR_FS_ODX_IG
33       San Marino           135  Total Assets, Euros    TA_EUR_FS_ODX_IG
34       San Marino           135  Total Assets, Euros    TA_EUR_FS_ODX_IG
35       San Marino           135  Total Assets, Euros   TA_EUR_FS_ODX_IGC
36       San Marino           135  Total Assets, Euros   TA_EUR_FS_ODX_IGC
37       San Marino           135  Total Assets, Euros   TA_EUR_FS_ODX_IGC
38       San Marino           135  Total Assets, Euros   TA_EUR_FS_ODX_IGC
39       San Marino           135  Total Assets, Euros   TA_EUR_FS_ODX_IGC
40       San Marino           135  Total Assets, Euros   TA_EUR_FS_ODX_IGC
41       San Marino           135  Total Assets, Euros    TA_EUR_FS_ODX_IP
42       San Marino           135  Total Assets, Euros    TA_EUR_FS_ODX_IP
43       San Marino           135  Total Assets, Euros    TA_EUR_FS_ODX_IP
44       San Marino           135  Total Assets, Euros    TA_EUR_FS_ODX_IP
45       San Marino           135  Total Assets, Euros    TA_EUR_FS_ODX_IP
46       San Marino           135  Total Assets, Euros    TA_EUR_FS_ODX_IP
47       San Marino           135  Total Assets, Euros   TA_EUR_FS_ODX_IPC
48       San Marino           135  Total Assets, Euros   TA_EUR_FS_ODX_IPC
49       San Marino           135  Total Assets, Euros   TA_EUR_FS_ODX_IPC
50       San Marino           135  Total Assets, Euros   TA_EUR_FS_ODX_IPC
51       San Marino           135  Total Assets, Euros   TA_EUR_FS_ODX_IPC
52       San Marino           135  Total Assets, Euros   TA_EUR_FS_ODX_IPC
53  Slovak Republic           936  Total Assets, Euros     TA_EUR_FS_ODX_I
54  Slovak Republic           936  Total Assets, Euros    TA_EUR_FS_ODX_IG
55  Slovak Republic           936  Total Assets, Euros  TA_EUR_FS_ODX_IGDV
56  Slovak Republic           936  Total Assets, Euros    TA_EUR_FS_ODX_IP
57  Slovak Republic           936  Total Assets, Euros   TA_EUR_FS_ODX_IPC
58  Slovak Republic           936  Total Assets, Euros   TA_EUR_FS_ODX_IPS

    Year  Feature Value
0   2020   1.131974e+12
1   2020   1.711811e+11
2   2020   1.711811e+11
3   2020   9.607929e+11
4   2020   8.874230e+11
5   2020   2.277128e+10
6   2020   1.084615e+10
7   2020   3.975243e+10
8   2021   3.264596e+11
9   2021   3.264596e+11
10  2021   3.243859e+11
11  2021   2.073701e+09
12  2022   1.499738e+14
13  2022   1.499738e+14
14  2022   1.499738e+14
15  2022   4.887677e+14
16  2022   1.729843e+14
17  2022   2.911081e+14
18  2022   2.467531e+13
19  2021   3.141242e+12
20  2021   2.699698e+10
21  2021   2.699698e+10
22  2021   2.699698e+10
23  2016   5.306350e+09
24  2017   4.773590e+09
25  2018   4.591280e+09
26  2019   4.205910e+09
27  2020   4.181400e+09
28  2021   4.134860e+09
29  2016   1.583650e+09
30  2017   1.663730e+09
31  2018   1.554010e+09
32  2019   1.758420e+09
33  2020   1.672940e+09
34  2021   1.532160e+09
35  2016   1.583650e+09
36  2017   1.663730e+09
37  2018   1.554010e+09
38  2019   1.758420e+09
39  2020   1.672940e+09
40  2021   1.532160e+09
41  2016   3.722700e+09
42  2017   3.109860e+09
43  2018   3.037270e+09
44  2019   2.447490e+09
45  2020   2.508460e+09
46  2021   2.602700e+09
47  2016   3.722700e+09
48  2017   3.109860e+09
49  2018   3.037270e+09
50  2019   2.447490e+09
51  2020   2.508460e+09
52  2021   2.602700e+09
53  2021   1.054071e+11
54  2021   5.371090e+08
55  2021   5.371090e+08
56  2021   1.048700e+11
57  2021   1.013053e+11
58  2021   3.564734e+09
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Year', 'Feature Value'],
      dtype='object')
NISF_NUM
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Financial Institution Name', 'Financial Institution Code', 'Attribute',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '2022', 'Unnamed: 30'],
      dtype='object')

                   Country Name  Country Code     Indicator Name  \
0                      Portugal           182  Debt to GDP Ratio
1                         Qatar           453  Debt to GDP Ratio
2                       Romania           968  Debt to GDP Ratio
3            Russian Federation           922  Debt to GDP Ratio
4                        Rwanda           714  Debt to GDP Ratio
..                          ...           ...                ...
186                       Tonga           866  Debt to GDP Ratio
187  Micronesia, Fed. States of           868  Debt to GDP Ratio
188                    Mongolia           948  Debt to GDP Ratio
189                 Afghanistan           512  Debt to GDP Ratio
190                 Puerto Rico           359  Debt to GDP Ratio

    Indicator Code Attribute  1800  1801  1802  1803  1804  ...       2007  \
0       GGXWDG_GDP     Value   NaN   NaN   NaN   NaN   NaN  ...  68.439083
1       GGXWDG_GDP     Value   NaN   NaN   NaN   NaN   NaN  ...   8.927508
2       GGXWDG_GDP     Value   NaN   NaN   NaN   NaN   NaN  ...  12.651644
3       GGXWDG_GDP     Value   NaN   NaN   NaN   NaN   NaN  ...   8.010246
4       GGXWDG_GDP     Value   NaN   NaN   NaN   NaN   NaN  ...  26.709372
..             ...       ...   ...   ...   ...   ...   ...  ...        ...
186     GGXWDG_GDP     Value   NaN   NaN   NaN   NaN   NaN  ...        NaN
187     GGXWDG_GDP     Value   NaN   NaN   NaN   NaN   NaN  ...  25.727949
188     GGXWDG_GDP     Value   NaN   NaN   NaN   NaN   NaN  ...  40.736100
189     GGXWDG_GDP     Value   NaN   NaN   NaN   NaN   NaN  ...  20.239910
190     GGXWDG_GDP     Value   NaN   NaN   NaN   NaN   NaN  ...  36.897440

          2008       2009       2010        2011        2012        2013  \
0    71.666333  83.609401  96.183319  111.389679  126.209890  129.000844
1    11.095734  35.972303  41.842260   35.568812   36.563094   32.599240
2    13.387073  23.347557  30.535338   33.874314   37.630485   38.826068
3     7.425429   9.890471  10.559784   10.913245   11.761041   13.075516
4    20.903872  22.366127  22.556519   23.061183   21.461119   28.684382
..         ...        ...        ...         ...         ...         ...
186        NaN        NaN        NaN         NaN         NaN         NaN
187  28.272798  31.018950  29.237042   28.933187   27.710247   26.984258
188        NaN        NaN        NaN         NaN         NaN         NaN
189  18.369594  16.775564   7.901553    7.136649    6.625249    6.748725
190  40.764288  46.508189  48.338994   49.996896   53.732304   52.308336

           2014        2015  Unnamed: 221
0    130.165395  128.976822           NaN
1     31.676338   39.760044           NaN
2     40.495409   39.304125           NaN
3     15.893951   16.423032           NaN
4     31.126915   37.293894           NaN
..          ...         ...           ...
186         NaN         NaN           NaN
187   26.083883   26.345741           NaN
188         NaN         NaN           NaN
189    6.380300    6.246007           NaN
190   54.737133   52.976692           NaN

[187 rows x 222 columns]
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Attribute', '1800', '1801', '1802', '1803', '1804',
       ...
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       'Unnamed: 221'],
      dtype='object', length=222)
['GGXWDG_GDP']
GGXWDG_GDP
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Attribute', '1800', '1801', '1802', '1803', '1804',
       ...
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       'Unnamed: 221'],
      dtype='object', length=222)
['1800', '1801', '1802', '1803', '1804', '1805', '1806', '1807', '1808', '1809', '1810', '1811', '1812', '1813', '1814', '1815', '1816', '1817', '1818', '1819', '1820', '1821', '1822', '1823', '1824', '1825', '1826', '1827', '1828', '1829', '1830', '1831', '1832', '1833', '1834', '1835', '1836', '1837', '1838', '1839', '1840', '1841', '1842', '1843', '1844', '1845', '1846', '1847', '1848', '1849', '1850', '1851', '1852', '1853', '1854', '1855', '1856', '1857', '1858', '1859', '1860', '1861', '1862', '1863', '1864', '1865', '1866', '1867', '1868', '1869', '1870', '1871', '1872', '1873', '1874', '1875', '1876', '1877', '1878', '1879', '1880', '1881', '1882', '1883', '1884', '1885', '1886', '1887', '1888', '1889', '1890', '1891', '1892', '1893', '1894', '1895', '1896', '1897', '1898', '1899', '1900', '1901', '1902', '1903', '1904', '1905', '1906', '1907', '1908', '1909', '1910', '1911', '1912', '1913', '1914', '1915', '1916', '1917', '1918', '1919', '1920', '1921', '1922', '1923', '1924', '1925', '1926', '1927', '1928', '1929', '1930', '1931', '1932', '1933', '1934', '1935', '1936', '1937', '1938', '1939', '1940', '1941', '1942', '1943', '1944', '1945', '1946', '1947', '1948', '1949', '1950', '1951', '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
     Country Name  Country Code     Indicator Name Indicator Code  Year  \
0        Portugal           182  Debt to GDP Ratio     GGXWDG_GDP  1851
1        Portugal           182  Debt to GDP Ratio     GGXWDG_GDP  1852
2        Portugal           182  Debt to GDP Ratio     GGXWDG_GDP  1853
3        Portugal           182  Debt to GDP Ratio     GGXWDG_GDP  1854
4        Portugal           182  Debt to GDP Ratio     GGXWDG_GDP  1855
...           ...           ...                ...            ...   ...
9517  Puerto Rico           359  Debt to GDP Ratio     GGXWDG_GDP  2011
9518  Puerto Rico           359  Debt to GDP Ratio     GGXWDG_GDP  2012
9519  Puerto Rico           359  Debt to GDP Ratio     GGXWDG_GDP  2013
9520  Puerto Rico           359  Debt to GDP Ratio     GGXWDG_GDP  2014
9521  Puerto Rico           359  Debt to GDP Ratio     GGXWDG_GDP  2015

      Feature Value
0         29.472475
1         27.271156
2         23.163207
3         28.298822
4         26.918481
...             ...
9517      49.996896
9518      53.732304
9519      52.308336
9520      54.737133
9521      52.976692

[9522 rows x 6 columns]
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Year', 'Feature Value'],
      dtype='object')
     Country Name  Country Code     Indicator Name Indicator Code  Year  \
0        Portugal           182  Debt to GDP Ratio     GGXWDG_GDP  1851
1        Portugal           182  Debt to GDP Ratio     GGXWDG_GDP  1852
2        Portugal           182  Debt to GDP Ratio     GGXWDG_GDP  1853
3        Portugal           182  Debt to GDP Ratio     GGXWDG_GDP  1854
4        Portugal           182  Debt to GDP Ratio     GGXWDG_GDP  1855
...           ...           ...                ...            ...   ...
9517  Puerto Rico           359  Debt to GDP Ratio     GGXWDG_GDP  2011
9518  Puerto Rico           359  Debt to GDP Ratio     GGXWDG_GDP  2012
9519  Puerto Rico           359  Debt to GDP Ratio     GGXWDG_GDP  2013
9520  Puerto Rico           359  Debt to GDP Ratio     GGXWDG_GDP  2014
9521  Puerto Rico           359  Debt to GDP Ratio     GGXWDG_GDP  2015

      Feature Value
0         29.472475
1         27.271156
2         23.163207
3         28.298822
4         26.918481
...             ...
9517      49.996896
9518      53.732304
9519      52.308336
9520      54.737133
9521      52.976692

[9522 rows x 6 columns]
Process time:  0.0417 seconds 0.0007 minutes.

/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/818379670.py:153: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  folder_df = folder_df.append(var_df)

Combine All Features From All Files Into Single Dataframe/File

In [45]:

feature_df = pd.DataFrame(columns=['Country Name','Country Code','Indicator Name'
                                      ,'Indicator Code','Year','Feature Value','filename'])
for file_name in files:
    start_time = time.perf_counter()
    print(file_name)
#     print(course_file_path+file_name.split('/')[0]+'/'+file_name.split('_')[0])
#     df_file = pd.read_csv(course_file_path+file_name.split('/')[0]+'/'+file_name.split('_')[0]+'_df.csv')
    df_file = pd.read_csv(file_name.split('/')[0]+'/'+file_name.split('_')[0]+'_df.csv')
    print(df_file)
    print(df_file.columns)
#     df_file = df_file[['Country Name','Country Code','Indicator Name','Indicator Code','Year','Feature Value','filename']]
    df_file = df_file[['Country Name','Country Code','Indicator Name','Indicator Code','Year','Feature Value']]
    print(df_file)
    print(df_file.columns)
    feature_df = feature_df.append(df_file)
    # print(course_file_path+df_file.split('/')[0]+'/metadata_'+df_file.split('/')[1])
    # meta_of_df = pd.read_csv(course_file_path+df_file.split('/')[0]+'/metadata_'+df_file.split('/')[1])
    # meta_of_df = meta_of_df[meta_of_df['Country Name'].isnull() & meta_of_df['Metadata Attribute'].isin(['Dataset','Definition'])].iloc[:,7:8].head()
    # print(meta_of_df)

    # folder_df.to_csv(course_file_path+file.split('/')[0]+'/'+file.split('_')[0]+'_df.csv',index=True)
    folder_df.to_csv(file.split('/')[0]+'/'+file.split('_')[0]+'_df.csv',index=True)


    end_time = time.perf_counter()
    print('Process time: ',f"{end_time-start_time:0.4f} seconds {(end_time-start_time)/60:0.4f} minutes.")

# feature_df.to_csv('feature_yearly_data_'+str(date.today())+'.csv',index=True)
# feature_df.to_csv('feature_yearly_data_2023-04-01.csv',index=True)


print(feature_df)

ED_02-07-2023 04-41-04-68_timeSeries/ED_02-07-2023 04-41-04-68_timeSeries.csv
       Unnamed: 0 Country Name  Country Code                Indicator Name  \
0               0        Aruba           314              Extensive Margin
1               1        Aruba           314              Extensive Margin
2               2        Aruba           314              Extensive Margin
3               3        Aruba           314              Extensive Margin
4               4        Aruba           314              Extensive Margin
...           ...          ...           ...                           ...
29251        9747        Qatar           453  Export Diversification Index
29252        9748        Qatar           453  Export Diversification Index
29253        9749        Qatar           453  Export Diversification Index
29254        9750        Qatar           453  Export Diversification Index
29255        9751        Qatar           453  Export Diversification Index

      Indicator Code  Year  Feature Value
0      between_theil  1962       0.000000
1      between_theil  1963       0.000000
2      between_theil  1964       0.000000
3      between_theil  1965       0.000000
4      between_theil  1966       0.000000
...              ...   ...            ...
29251    total_theil  2010       4.618646
29252    total_theil  2011       4.675646
29253    total_theil  2012       4.846263
29254    total_theil  2013       4.672656
29255    total_theil  2014       4.676048

[29256 rows x 7 columns]
Index(['Unnamed: 0', 'Country Name', 'Country Code', 'Indicator Name',
       'Indicator Code', 'Year', 'Feature Value'],
      dtype='object')
      Country Name  Country Code                Indicator Name Indicator Code  \
0            Aruba           314              Extensive Margin  between_theil
1            Aruba           314              Extensive Margin  between_theil
2            Aruba           314              Extensive Margin  between_theil
3            Aruba           314              Extensive Margin  between_theil
4            Aruba           314              Extensive Margin  between_theil
...            ...           ...                           ...            ...
29251        Qatar           453  Export Diversification Index    total_theil
29252        Qatar           453  Export Diversification Index    total_theil
29253        Qatar           453  Export Diversification Index    total_theil
29254        Qatar           453  Export Diversification Index    total_theil
29255        Qatar           453  Export Diversification Index    total_theil

       Year  Feature Value
0      1962       0.000000
1      1963       0.000000
2      1964       0.000000
3      1965       0.000000
4      1966       0.000000
...     ...            ...
29251  2010       4.618646
29252  2011       4.675646
29253  2012       4.846263
29254  2013       4.672656
29255  2014       4.676048

[29256 rows x 6 columns]
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Year', 'Feature Value'],
      dtype='object')
Process time:  0.0634 seconds 0.0011 minutes.
FDI_07-14-2022 10-45-25-27_timeSeries/FDI_07-14-2022 10-45-25-27_timeSeries.csv
       Unnamed: 0           Country Name  Country Code  \
0               0  Saint Kitts and Nevis           361
1               1  Saint Kitts and Nevis           361
2               2  Saint Kitts and Nevis           361
3               3  Saint Kitts and Nevis           361
4               4  Saint Kitts and Nevis           361
...           ...                    ...           ...
67153        7457               Eswatini           734
67154        7458               Eswatini           734
67155        7459               Eswatini           734
67156        7460               Eswatini           734
67157        7461               Eswatini           734

                                Indicator Name Indicator Code  Year  \
0          Financial Institutions Access Index      FD_FIA_IX  1980
1          Financial Institutions Access Index      FD_FIA_IX  1981
2          Financial Institutions Access Index      FD_FIA_IX  1982
3          Financial Institutions Access Index      FD_FIA_IX  1983
4          Financial Institutions Access Index      FD_FIA_IX  1984
...                                        ...            ...   ...
67153  Financial Institutions Efficiency Index      FD_FIE_IX  2016
67154  Financial Institutions Efficiency Index      FD_FIE_IX  2017
67155  Financial Institutions Efficiency Index      FD_FIE_IX  2018
67156  Financial Institutions Efficiency Index      FD_FIE_IX  2019
67157  Financial Institutions Efficiency Index      FD_FIE_IX  2020

       Feature Value
0           0.846664
1           0.824914
2           0.823843
3           0.852250
4           0.797403
...              ...
67153       0.501009
67154       0.497329
67155       0.565136
67156       0.504577
67157       0.511554

[67158 rows x 7 columns]
Index(['Unnamed: 0', 'Country Name', 'Country Code', 'Indicator Name',
       'Indicator Code', 'Year', 'Feature Value'],
      dtype='object')
                Country Name  Country Code  \
0      Saint Kitts and Nevis           361
1      Saint Kitts and Nevis           361
2      Saint Kitts and Nevis           361
3      Saint Kitts and Nevis           361
4      Saint Kitts and Nevis           361
...                      ...           ...
67153               Eswatini           734
67154               Eswatini           734
67155               Eswatini           734
67156               Eswatini           734
67157               Eswatini           734

                                Indicator Name Indicator Code  Year  \
0          Financial Institutions Access Index      FD_FIA_IX  1980
1          Financial Institutions Access Index      FD_FIA_IX  1981
2          Financial Institutions Access Index      FD_FIA_IX  1982
3          Financial Institutions Access Index      FD_FIA_IX  1983
4          Financial Institutions Access Index      FD_FIA_IX  1984
...                                        ...            ...   ...
67153  Financial Institutions Efficiency Index      FD_FIE_IX  2016
67154  Financial Institutions Efficiency Index      FD_FIE_IX  2017
67155  Financial Institutions Efficiency Index      FD_FIE_IX  2018
67156  Financial Institutions Efficiency Index      FD_FIE_IX  2019
67157  Financial Institutions Efficiency Index      FD_FIE_IX  2020

       Feature Value
0           0.846664
1           0.824914
2           0.823843
3           0.852250
4           0.797403
...              ...
67153       0.501009
67154       0.497329
67155       0.565136
67156       0.504577
67157       0.511554

[67158 rows x 6 columns]
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Year', 'Feature Value'],
      dtype='object')
Process time:  0.0909 seconds 0.0015 minutes.
FM_02-07-2023 04-43-40-20_timeSeries/FM_02-07-2023 04-43-40-20_timeSeries.csv
       Unnamed: 0              Country Name  Country Code  \
0               0              Saudi Arabia           456
1               1              Saudi Arabia           456
2               2              Saudi Arabia           456
3               3              Saudi Arabia           456
4               4              Saudi Arabia           456
...           ...                       ...           ...
38375        2602  South Sudan, Republic of           733
38376        2603  South Sudan, Republic of           733
38377        2604  South Sudan, Republic of           733
38378        2605  South Sudan, Republic of           733
38379        2606  South Sudan, Republic of           733

            Indicator Name     Indicator Code  Year  Feature Value
0       Revenue (% of GDP)     GGR_G01_GDP_PT  1992      33.044276
1       Revenue (% of GDP)     GGR_G01_GDP_PT  1993      28.404664
2       Revenue (% of GDP)     GGR_G01_GDP_PT  1994      25.482488
3       Revenue (% of GDP)     GGR_G01_GDP_PT  1995      27.290390
4       Revenue (% of GDP)     GGR_G01_GDP_PT  1996      30.095592
...                    ...                ...   ...            ...
38375  Net debt (% of GDP)  GGXWDN_G01_GDP_PT  2023      29.685433
38376  Net debt (% of GDP)  GGXWDN_G01_GDP_PT  2024      23.193810
38377  Net debt (% of GDP)  GGXWDN_G01_GDP_PT  2025      21.172863
38378  Net debt (% of GDP)  GGXWDN_G01_GDP_PT  2026      20.296090
38379  Net debt (% of GDP)  GGXWDN_G01_GDP_PT  2027      19.582940

[38380 rows x 7 columns]
Index(['Unnamed: 0', 'Country Name', 'Country Code', 'Indicator Name',
       'Indicator Code', 'Year', 'Feature Value'],
      dtype='object')
                   Country Name  Country Code       Indicator Name  \
0                  Saudi Arabia           456   Revenue (% of GDP)
1                  Saudi Arabia           456   Revenue (% of GDP)
2                  Saudi Arabia           456   Revenue (% of GDP)
3                  Saudi Arabia           456   Revenue (% of GDP)
4                  Saudi Arabia           456   Revenue (% of GDP)
...                         ...           ...                  ...
38375  South Sudan, Republic of           733  Net debt (% of GDP)
38376  South Sudan, Republic of           733  Net debt (% of GDP)
38377  South Sudan, Republic of           733  Net debt (% of GDP)
38378  South Sudan, Republic of           733  Net debt (% of GDP)
38379  South Sudan, Republic of           733  Net debt (% of GDP)

          Indicator Code  Year  Feature Value
0         GGR_G01_GDP_PT  1992      33.044276
1         GGR_G01_GDP_PT  1993      28.404664
2         GGR_G01_GDP_PT  1994      25.482488
3         GGR_G01_GDP_PT  1995      27.290390
4         GGR_G01_GDP_PT  1996      30.095592
...                  ...   ...            ...
38375  GGXWDN_G01_GDP_PT  2023      29.685433
38376  GGXWDN_G01_GDP_PT  2024      23.193810
38377  GGXWDN_G01_GDP_PT  2025      21.172863
38378  GGXWDN_G01_GDP_PT  2026      20.296090
38379  GGXWDN_G01_GDP_PT  2027      19.582940

[38380 rows x 6 columns]
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Year', 'Feature Value'],
      dtype='object')

/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/2877803553.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  feature_df = feature_df.append(df_file)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/2877803553.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  feature_df = feature_df.append(df_file)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/2877803553.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  feature_df = feature_df.append(df_file)

Process time:  0.0755 seconds 0.0013 minutes.
FSIRE_02-04-2023 08-23-40-70_timeSeries/FSIRE_02-04-2023 08-23-40-70_timeSeries.csv
       Unnamed: 0   Country Name  Country Code  \
0               0        Albania           914
1               1        Albania           914
2               2        Albania           914
3               3        Algeria           612
4               4        Algeria           612
...           ...            ...           ...
76779           0  United States           111
76780           1  United States           111
76781           2  United States           111
76782           3  United States           111
76783           4  United States           111

                                          Indicator Name       Indicator Code  \
0      Number of domestic subsidiaries of domesticall...     DSD_NUM_FS_OFX_I
1      Number of domestic subsidiaries of domesticall...   DSD_NUM_FS_OFX_IFA
2      Number of domestic subsidiaries of domesticall...  DSD_NUM_FS_OFX_IOFI
3      Number of domestic subsidiaries of domesticall...     DSD_NUM_FS_ODX_D
4      Number of domestic subsidiaries of domesticall...     DSD_NUM_FS_ODX_D
...                                                  ...                  ...
76779                           Total Assets, US Dollars      TA_USD_FS_ODX_I
76780                           Total Assets, US Dollars     TA_USD_FS_ODX_IP
76781                           Total Assets, US Dollars    TA_USD_FS_ODX_IPC
76782                           Total Assets, US Dollars   TA_USD_FS_ODX_IPCU
76783                           Total Assets, US Dollars    TA_USD_FS_ODX_IPS

       Year  Feature Value
0      2020   0.000000e+00
1      2020   0.000000e+00
2      2020   0.000000e+00
3      2009   0.000000e+00
4      2010   0.000000e+00
...     ...            ...
76779  2021   2.421964e+13
76780  2021   2.421964e+13
76781  2021   2.152010e+13
76782  2021   2.059821e+12
76783  2021   6.397185e+11

[76784 rows x 7 columns]
Index(['Unnamed: 0', 'Country Name', 'Country Code', 'Indicator Name',
       'Indicator Code', 'Year', 'Feature Value'],
      dtype='object')
        Country Name  Country Code  \
0            Albania           914
1            Albania           914
2            Albania           914
3            Algeria           612
4            Algeria           612
...              ...           ...
76779  United States           111
76780  United States           111
76781  United States           111
76782  United States           111
76783  United States           111

                                          Indicator Name       Indicator Code  \
0      Number of domestic subsidiaries of domesticall...     DSD_NUM_FS_OFX_I
1      Number of domestic subsidiaries of domesticall...   DSD_NUM_FS_OFX_IFA
2      Number of domestic subsidiaries of domesticall...  DSD_NUM_FS_OFX_IOFI
3      Number of domestic subsidiaries of domesticall...     DSD_NUM_FS_ODX_D
4      Number of domestic subsidiaries of domesticall...     DSD_NUM_FS_ODX_D
...                                                  ...                  ...
76779                           Total Assets, US Dollars      TA_USD_FS_ODX_I
76780                           Total Assets, US Dollars     TA_USD_FS_ODX_IP
76781                           Total Assets, US Dollars    TA_USD_FS_ODX_IPC
76782                           Total Assets, US Dollars   TA_USD_FS_ODX_IPCU
76783                           Total Assets, US Dollars    TA_USD_FS_ODX_IPS

       Year  Feature Value
0      2020   0.000000e+00
1      2020   0.000000e+00
2      2020   0.000000e+00
3      2009   0.000000e+00
4      2010   0.000000e+00
...     ...            ...
76779  2021   2.421964e+13
76780  2021   2.421964e+13
76781  2021   2.152010e+13
76782  2021   2.059821e+12
76783  2021   6.397185e+11

[76784 rows x 6 columns]
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Year', 'Feature Value'],
      dtype='object')
Process time:  0.1238 seconds 0.0021 minutes.
HPDD_04-11-2020 23-37-06-60_timeSeries/HPDD_04-11-2020 23-37-06-60_timeSeries.csv
      Unnamed: 0 Country Name  Country Code     Indicator Name Indicator Code  \
0              0     Portugal           182  Debt to GDP Ratio     GGXWDG_GDP
1              1     Portugal           182  Debt to GDP Ratio     GGXWDG_GDP
2              2     Portugal           182  Debt to GDP Ratio     GGXWDG_GDP
3              3     Portugal           182  Debt to GDP Ratio     GGXWDG_GDP
4              4     Portugal           182  Debt to GDP Ratio     GGXWDG_GDP
...          ...          ...           ...                ...            ...
9517        9517  Puerto Rico           359  Debt to GDP Ratio     GGXWDG_GDP
9518        9518  Puerto Rico           359  Debt to GDP Ratio     GGXWDG_GDP
9519        9519  Puerto Rico           359  Debt to GDP Ratio     GGXWDG_GDP
9520        9520  Puerto Rico           359  Debt to GDP Ratio     GGXWDG_GDP
9521        9521  Puerto Rico           359  Debt to GDP Ratio     GGXWDG_GDP

      Year  Feature Value
0     1851      29.472475
1     1852      27.271156
2     1853      23.163207
3     1854      28.298822
4     1855      26.918481
...    ...            ...
9517  2011      49.996896
9518  2012      53.732304
9519  2013      52.308336
9520  2014      54.737133
9521  2015      52.976692

[9522 rows x 7 columns]
Index(['Unnamed: 0', 'Country Name', 'Country Code', 'Indicator Name',
       'Indicator Code', 'Year', 'Feature Value'],
      dtype='object')
     Country Name  Country Code     Indicator Name Indicator Code  Year  \
0        Portugal           182  Debt to GDP Ratio     GGXWDG_GDP  1851
1        Portugal           182  Debt to GDP Ratio     GGXWDG_GDP  1852
2        Portugal           182  Debt to GDP Ratio     GGXWDG_GDP  1853
3        Portugal           182  Debt to GDP Ratio     GGXWDG_GDP  1854
4        Portugal           182  Debt to GDP Ratio     GGXWDG_GDP  1855
...           ...           ...                ...            ...   ...
9517  Puerto Rico           359  Debt to GDP Ratio     GGXWDG_GDP  2011
9518  Puerto Rico           359  Debt to GDP Ratio     GGXWDG_GDP  2012
9519  Puerto Rico           359  Debt to GDP Ratio     GGXWDG_GDP  2013
9520  Puerto Rico           359  Debt to GDP Ratio     GGXWDG_GDP  2014
9521  Puerto Rico           359  Debt to GDP Ratio     GGXWDG_GDP  2015

      Feature Value
0         29.472475
1         27.271156
2         23.163207
3         28.298822
4         26.918481
...             ...
9517      49.996896
9518      53.732304
9519      52.308336
9520      54.737133
9521      52.976692

[9522 rows x 6 columns]
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Year', 'Feature Value'],
      dtype='object')
Process time:  0.0483 seconds 0.0008 minutes.
     Country Name Country Code     Indicator Name Indicator Code  Year  \
0           Aruba          314   Extensive Margin  between_theil  1962
1           Aruba          314   Extensive Margin  between_theil  1963
2           Aruba          314   Extensive Margin  between_theil  1964
3           Aruba          314   Extensive Margin  between_theil  1965
4           Aruba          314   Extensive Margin  between_theil  1966
...           ...          ...                ...            ...   ...
9517  Puerto Rico          359  Debt to GDP Ratio     GGXWDG_GDP  2011
9518  Puerto Rico          359  Debt to GDP Ratio     GGXWDG_GDP  2012
9519  Puerto Rico          359  Debt to GDP Ratio     GGXWDG_GDP  2013
9520  Puerto Rico          359  Debt to GDP Ratio     GGXWDG_GDP  2014
9521  Puerto Rico          359  Debt to GDP Ratio     GGXWDG_GDP  2015

     Feature Value filename
0              0.0      NaN
1              0.0      NaN
2              0.0      NaN
3              0.0      NaN
4              0.0      NaN
...            ...      ...
9517     49.996896      NaN
9518     53.732304      NaN
9519     52.308336      NaN
9520     54.737133      NaN
9521     52.976692      NaN

[221100 rows x 7 columns]

/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/2877803553.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  feature_df = feature_df.append(df_file)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/2877803553.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  feature_df = feature_df.append(df_file)

In [46]:

def process_data_for_model(train_year, inputdate):
    print('training year: ',train_year, ' date: ',inputdate)
#     data_df = pd.read_csv(course_file_path+'feature_yearly_data_'+str(inputdate)+'.csv')
    data_df = pd.read_csv('feature_yearly_data_'+str(inputdate)+'.csv')
    data_df=data_df[['Country Name','Indicator Code','Year','Feature Value']]
    train_data_df = data_df[data_df['Year'] <= train_year]
    train_data_df = train_data_df[['Country Name','Indicator Code','Feature Value']]
    train_data_df = pd.pivot_table(train_data_df, values = 'Feature Value'
                                   ,index = ['Country Name']
                                   ,columns = ['Indicator Code']
                                   ,aggfunc=np.mean).fillna(0).astype(float)
    print(train_data_df)
    print(train_data_df.columns)

#     train_data_df.to_csv(course_file_path+'train_feature_data_'+str(train_year)+'_'+str(inputdate)+'.csv',index=True)
#     train_data_df.to_csv('train_feature_data_'+str(train_year)+'_'+str(inputdate)+'.csv',index=True)

    
    test_data_df = data_df[data_df['Year'] <= train_year+1]
    test_data_df = test_data_df[['Country Name','Indicator Code','Feature Value']]
    test_data_df = test_data_df[['Country Name','Indicator Code','Feature Value']]
    test_data_df = pd.pivot_table(test_data_df, values = 'Feature Value'
                                   ,index = ['Country Name']
                                   ,columns = ['Indicator Code']
                                   ,aggfunc=np.mean).fillna(0).astype(float)
#     test_data_df.to_csv(course_file_path+'test_feature_data_'+str(train_year+1)+'_'+str(date.today())+'.csv',index=True)
#     test_data_df.to_csv('test_feature_data_'+str(train_year+1)+'_'+str(inputdate)+'.csv',index=True)
    
train_year = 2020
process_data_for_model(train_year, '2023-04-01')

training year:  2020  date:  2023-04-01
Indicator Code      DA_EUR_FS_ODX_D  DA_EUR_FS_ODX_I  DA_EUR_FS_ODX_ID  \
Country Name
Afghanistan                     0.0              0.0               0.0
Albania                         0.0              0.0               0.0
Algeria                         0.0              0.0               0.0
Andorra                         0.0              0.0               0.0
Angola                          0.0              0.0               0.0
...                             ...              ...               ...
Vietnam                         0.0              0.0               0.0
West Bank and Gaza              0.0              0.0               0.0
Yemen                           0.0              0.0               0.0
Zambia                          0.0              0.0               0.0
Zimbabwe                        0.0              0.0               0.0

Indicator Code      DA_EUR_FS_ODX_IG  DA_EUR_FS_ODX_IGB  DA_EUR_FS_ODX_IGC  \
Country Name
Afghanistan                      0.0                0.0                0.0
Albania                          0.0                0.0                0.0
Algeria                          0.0                0.0                0.0
Andorra                          0.0                0.0                0.0
Angola                           0.0                0.0                0.0
...                              ...                ...                ...
Vietnam                          0.0                0.0                0.0
West Bank and Gaza               0.0                0.0                0.0
Yemen                            0.0                0.0                0.0
Zambia                           0.0                0.0                0.0
Zimbabwe                         0.0                0.0                0.0

Indicator Code      DA_EUR_FS_ODX_IGCU  DA_EUR_FS_ODX_IGDV  DA_EUR_FS_ODX_IGI  \
Country Name
Afghanistan                        0.0                 0.0                0.0
Albania                            0.0                 0.0                0.0
Algeria                            0.0                 0.0                0.0
Andorra                            0.0                 0.0                0.0
Angola                             0.0                 0.0                0.0
...                                ...                 ...                ...
Vietnam                            0.0                 0.0                0.0
West Bank and Gaza                 0.0                 0.0                0.0
Yemen                              0.0                 0.0                0.0
Zambia                             0.0                 0.0                0.0
Zimbabwe                           0.0                 0.0                0.0

Indicator Code      DA_EUR_FS_ODX_IGM  ...  TE_NUM_FS_OFX_IIC  \
Country Name                           ...
Afghanistan                       0.0  ...                0.0
Albania                           0.0  ...               11.2
Algeria                           0.0  ...                0.0
Andorra                           0.0  ...                0.0
Angola                            0.0  ...                0.0
...                               ...  ...                ...
Vietnam                           0.0  ...                0.0
West Bank and Gaza                0.0  ...               10.0
Yemen                             0.0  ...                0.0
Zambia                            0.0  ...                0.0
Zimbabwe                          0.0  ...                0.0

Indicator Code      TE_NUM_FS_OFX_IICLIC  TE_NUM_FS_OFX_IICNLIC  \
Country Name
Afghanistan                          0.0                    0.0
Albania                              0.0                    0.0
Algeria                              0.0                    0.0
Andorra                              0.0                    0.0
Angola                               0.0                    0.0
...                                  ...                    ...
Vietnam                              0.0                    0.0
West Bank and Gaza                   0.0                    0.0
Yemen                                0.0                    0.0
Zambia                               0.0                    0.0
Zimbabwe                             0.0                    0.0

Indicator Code      TE_NUM_FS_OFX_IMMF  TE_NUM_FS_OFX_INIF  \
Country Name
Afghanistan                        0.0                 0.0
Albania                            0.0                 0.0
Algeria                            0.0                 0.0
Andorra                            0.0                 0.0
Angola                             0.0                 0.0
...                                ...                 ...
Vietnam                            0.0                 0.0
West Bank and Gaza                 0.0                 0.0
Yemen                              0.0                 0.0
Zambia                             0.0                 0.0
Zimbabwe                           0.0                 0.0

Indicator Code      TE_NUM_FS_OFX_IOFI  TE_NUM_FS_OFX_IPF  between_theil  \
Country Name
Afghanistan                        0.0                0.0       1.489971
Albania                           27.2                3.4       0.167637
Algeria                            7.5                0.0       0.567862
Andorra                            0.0                0.0       0.252954
Angola                             0.0                0.0       0.424755
...                                ...                ...            ...
Vietnam                            0.0                0.0       0.026836
West Bank and Gaza                 0.0                0.0       0.000000
Yemen                              0.0                0.0       0.673786
Zambia                             0.0                0.0       0.039895
Zimbabwe                           0.0                0.0       0.046913

Indicator Code      total_theil  within_theil
Country Name
Afghanistan            3.541961      2.051990
Albania                3.058120      2.890483
Algeria                5.107023      4.539161
Andorra                3.209480      2.956526
Angola                 5.483673      5.058918
...                         ...           ...
Vietnam                2.412327      2.385491
West Bank and Gaza     0.000000      0.000000
Yemen                  4.596802      3.923015
Zambia                 4.725789      4.685894
Zimbabwe               3.059015      3.012102

[196 rows x 833 columns]
Index(['DA_EUR_FS_ODX_D', 'DA_EUR_FS_ODX_I', 'DA_EUR_FS_ODX_ID',
       'DA_EUR_FS_ODX_IG', 'DA_EUR_FS_ODX_IGB', 'DA_EUR_FS_ODX_IGC',
       'DA_EUR_FS_ODX_IGCU', 'DA_EUR_FS_ODX_IGDV', 'DA_EUR_FS_ODX_IGI',
       'DA_EUR_FS_ODX_IGM',
       ...
       'TE_NUM_FS_OFX_IIC', 'TE_NUM_FS_OFX_IICLIC', 'TE_NUM_FS_OFX_IICNLIC',
       'TE_NUM_FS_OFX_IMMF', 'TE_NUM_FS_OFX_INIF', 'TE_NUM_FS_OFX_IOFI',
       'TE_NUM_FS_OFX_IPF', 'between_theil', 'total_theil', 'within_theil'],
      dtype='object', name='Indicator Code', length=833)

In [47]:
#prepare training data

train_model_df = file_model_df.copy()
test_model_df = file_model_df.copy()

def process_data_for_vif(train_year, inputdate):
    print('training year: ',train_year, ' date: ',inputdate)
    
    exclude_column_list = ['Xgdppc','PPPGDP']
    
    exclude_list = ['European Central Bank']

    train_y=train_model_df[[train_year]].replace('no data',0).fillna(0)
    test_y=test_model_df[[train_year+1]].replace('no data',0).fillna(0)

#     train_X = pd.read_csv(course_file_path+'train_feature_data_'+str(train_year)+'_'+str(inputdate)+'.csv')
    train_X = pd.read_csv('train_feature_data_'+str(train_year)+'_'+str(inputdate)+'.csv')
    train_X.index = train_X['Country Name']
    train_X = train_X.drop(columns =['Country Name'])
    train_X = train_X[~train_X.index.isin(exclude_list)]
    print(train_X)
    print(train_X.columns)
#     test_X = pd.read_csv(course_file_path+'test_feature_data_'+str(train_year+1)+'_'+str(inputdate)+'.csv')
    test_X = pd.read_csv('test_feature_data_'+str(train_year+1)+'_'+str(inputdate)+'.csv')
    test_X.index = test_X['Country Name']
    test_X = test_X.drop(columns =['Country Name'])
    test_X = test_X[~test_X.index.isin(exclude_list)]
    print(test_X)
    print(test_X.columns)
    code_names = train_X.columns
    
    return train_X, code_names#, train_y, test_X, test_y

train_year = 2020
filedate = '2023-04-01'

# train_X, train_y, test_X, test_y, code_names, filename =  process_data_for_model(train_year, filedate)
train_X, code_names =  process_data_for_vif(train_year, filedate)

training year:  2020  date:  2023-04-01
                    DA_EUR_FS_ODX_D  DA_EUR_FS_ODX_I  DA_EUR_FS_ODX_ID  \
Country Name
Afghanistan                     0.0              0.0               0.0
Albania                         0.0              0.0               0.0
Algeria                         0.0              0.0               0.0
Andorra                         0.0              0.0               0.0
Angola                          0.0              0.0               0.0
...                             ...              ...               ...
Vietnam                         0.0              0.0               0.0
West Bank and Gaza              0.0              0.0               0.0
Yemen                           0.0              0.0               0.0
Zambia                          0.0              0.0               0.0
Zimbabwe                        0.0              0.0               0.0

                    DA_EUR_FS_ODX_IG  DA_EUR_FS_ODX_IGB  DA_EUR_FS_ODX_IGC  \
Country Name
Afghanistan                      0.0                0.0                0.0
Albania                          0.0                0.0                0.0
Algeria                          0.0                0.0                0.0
Andorra                          0.0                0.0                0.0
Angola                           0.0                0.0                0.0
...                              ...                ...                ...
Vietnam                          0.0                0.0                0.0
West Bank and Gaza               0.0                0.0                0.0
Yemen                            0.0                0.0                0.0
Zambia                           0.0                0.0                0.0
Zimbabwe                         0.0                0.0                0.0

                    DA_EUR_FS_ODX_IGCU  DA_EUR_FS_ODX_IGDV  DA_EUR_FS_ODX_IGI  \
Country Name
Afghanistan                        0.0                 0.0                0.0
Albania                            0.0                 0.0                0.0
Algeria                            0.0                 0.0                0.0
Andorra                            0.0                 0.0                0.0
Angola                             0.0                 0.0                0.0
...                                ...                 ...                ...
Vietnam                            0.0                 0.0                0.0
West Bank and Gaza                 0.0                 0.0                0.0
Yemen                              0.0                 0.0                0.0
Zambia                             0.0                 0.0                0.0
Zimbabwe                           0.0                 0.0                0.0

                    DA_EUR_FS_ODX_IGM  ...  TE_NUM_FS_OFX_IIC  \
Country Name                           ...
Afghanistan                       0.0  ...                0.0
Albania                           0.0  ...               11.2
Algeria                           0.0  ...                0.0
Andorra                           0.0  ...                0.0
Angola                            0.0  ...                0.0
...                               ...  ...                ...
Vietnam                           0.0  ...                0.0
West Bank and Gaza                0.0  ...               10.0
Yemen                             0.0  ...                0.0
Zambia                            0.0  ...                0.0
Zimbabwe                          0.0  ...                0.0

                    TE_NUM_FS_OFX_IICLIC  TE_NUM_FS_OFX_IICNLIC  \
Country Name
Afghanistan                          0.0                    0.0
Albania                              0.0                    0.0
Algeria                              0.0                    0.0
Andorra                              0.0                    0.0
Angola                               0.0                    0.0
...                                  ...                    ...
Vietnam                              0.0                    0.0
West Bank and Gaza                   0.0                    0.0
Yemen                                0.0                    0.0
Zambia                               0.0                    0.0
Zimbabwe                             0.0                    0.0

                    TE_NUM_FS_OFX_IMMF  TE_NUM_FS_OFX_INIF  \
Country Name
Afghanistan                        0.0                 0.0
Albania                            0.0                 0.0
Algeria                            0.0                 0.0
Andorra                            0.0                 0.0
Angola                             0.0                 0.0
...                                ...                 ...
Vietnam                            0.0                 0.0
West Bank and Gaza                 0.0                 0.0
Yemen                              0.0                 0.0
Zambia                             0.0                 0.0
Zimbabwe                           0.0                 0.0

                    TE_NUM_FS_OFX_IOFI  TE_NUM_FS_OFX_IPF  between_theil  \
Country Name
Afghanistan                        0.0                0.0       1.489971
Albania                           27.2                3.4       0.167637
Algeria                            7.5                0.0       0.567862
Andorra                            0.0                0.0       0.252954
Angola                             0.0                0.0       0.424755
...                                ...                ...            ...
Vietnam                            0.0                0.0       0.026836
West Bank and Gaza                 0.0                0.0       0.000000
Yemen                              0.0                0.0       0.673786
Zambia                             0.0                0.0       0.039895
Zimbabwe                           0.0                0.0       0.046913

                    total_theil  within_theil
Country Name
Afghanistan            3.541961      2.051990
Albania                3.058120      2.890483
Algeria                5.107023      4.539161
Andorra                3.209480      2.956526
Angola                 5.483673      5.058918
...                         ...           ...
Vietnam                2.412327      2.385491
West Bank and Gaza     0.000000      0.000000
Yemen                  4.596802      3.923015
Zambia                 4.725789      4.685894
Zimbabwe               3.059015      3.012102

[196 rows x 833 columns]
Index(['DA_EUR_FS_ODX_D', 'DA_EUR_FS_ODX_I', 'DA_EUR_FS_ODX_ID',
       'DA_EUR_FS_ODX_IG', 'DA_EUR_FS_ODX_IGB', 'DA_EUR_FS_ODX_IGC',
       'DA_EUR_FS_ODX_IGCU', 'DA_EUR_FS_ODX_IGDV', 'DA_EUR_FS_ODX_IGI',
       'DA_EUR_FS_ODX_IGM',
       ...
       'TE_NUM_FS_OFX_IIC', 'TE_NUM_FS_OFX_IICLIC', 'TE_NUM_FS_OFX_IICNLIC',
       'TE_NUM_FS_OFX_IMMF', 'TE_NUM_FS_OFX_INIF', 'TE_NUM_FS_OFX_IOFI',
       'TE_NUM_FS_OFX_IPF', 'between_theil', 'total_theil', 'within_theil'],
      dtype='object', length=833)
                    DA_EUR_FS_ODX_D  DA_EUR_FS_ODX_I  DA_EUR_FS_ODX_ID  \
Country Name
Afghanistan                     0.0              0.0               0.0
Albania                         0.0              0.0               0.0
Algeria                         0.0              0.0               0.0
Andorra                         0.0              0.0               0.0
Angola                          0.0              0.0               0.0
...                             ...              ...               ...
Vietnam                         0.0              0.0               0.0
West Bank and Gaza              0.0              0.0               0.0
Yemen                           0.0              0.0               0.0
Zambia                          0.0              0.0               0.0
Zimbabwe                        0.0              0.0               0.0

                    DA_EUR_FS_ODX_IG  DA_EUR_FS_ODX_IGB  DA_EUR_FS_ODX_IGC  \
Country Name
Afghanistan                      0.0                0.0                0.0
Albania                          0.0                0.0                0.0
Algeria                          0.0                0.0                0.0
Andorra                          0.0                0.0                0.0
Angola                           0.0                0.0                0.0
...                              ...                ...                ...
Vietnam                          0.0                0.0                0.0
West Bank and Gaza               0.0                0.0                0.0
Yemen                            0.0                0.0                0.0
Zambia                           0.0                0.0                0.0
Zimbabwe                         0.0                0.0                0.0

                    DA_EUR_FS_ODX_IGCU  DA_EUR_FS_ODX_IGDV  DA_EUR_FS_ODX_IGI  \
Country Name
Afghanistan                        0.0                 0.0                0.0
Albania                            0.0                 0.0                0.0
Algeria                            0.0                 0.0                0.0
Andorra                            0.0                 0.0                0.0
Angola                             0.0                 0.0                0.0
...                                ...                 ...                ...
Vietnam                            0.0                 0.0                0.0
West Bank and Gaza                 0.0                 0.0                0.0
Yemen                              0.0                 0.0                0.0
Zambia                             0.0                 0.0                0.0
Zimbabwe                           0.0                 0.0                0.0

                    DA_EUR_FS_ODX_IGM  ...  TE_NUM_FS_OFX_XFA  \
Country Name                           ...
Afghanistan                       0.0  ...                0.0
Albania                           0.0  ...                0.0
Algeria                           0.0  ...                0.0
Andorra                           0.0  ...                0.0
Angola                            0.0  ...                0.0
...                               ...  ...                ...
Vietnam                           0.0  ...                0.0
West Bank and Gaza                0.0  ...                0.0
Yemen                             0.0  ...                0.0
Zambia                            0.0  ...                0.0
Zimbabwe                          0.0  ...                0.0

                    TE_NUM_FS_OFX_XIC  TE_NUM_FS_OFX_XICLIC  \
Country Name
Afghanistan                       0.0                   0.0
Albania                           0.0                   0.0
Algeria                           0.0                   0.0
Andorra                           0.0                   0.0
Angola                            0.0                   0.0
...                               ...                   ...
Vietnam                           0.0                   0.0
West Bank and Gaza                0.0                   0.0
Yemen                             0.0                   0.0
Zambia                            0.0                   0.0
Zimbabwe                          0.0                   0.0

                    TE_NUM_FS_OFX_XICNLIC  TE_NUM_FS_OFX_XNIH  \
Country Name
Afghanistan                           0.0                 0.0
Albania                               0.0                 0.0
Algeria                               0.0                 0.0
Andorra                               0.0                 0.0
Angola                                0.0                 0.0
...                                   ...                 ...
Vietnam                               0.0                 0.0
West Bank and Gaza                    0.0                 0.0
Yemen                                 0.0                 0.0
Zambia                                0.0                 0.0
Zimbabwe                              0.0                 0.0

                    TE_NUM_FS_OFX_XOFI  TE_NUM_FS_OFX_XPF  between_theil  \
Country Name
Afghanistan                        0.0                0.0       1.489971
Albania                            0.0                0.0       0.167637
Algeria                            0.0                0.0       0.567862
Andorra                            0.0                0.0       0.252954
Angola                             0.0                0.0       0.424755
...                                ...                ...            ...
Vietnam                            0.0                0.0       0.026836
West Bank and Gaza                 0.0                0.0       0.000000
Yemen                              0.0                0.0       0.673786
Zambia                             0.0                0.0       0.039895
Zimbabwe                           0.0                0.0       0.046913

                    total_theil  within_theil
Country Name
Afghanistan            3.541961      2.051990
Albania                3.058120      2.890483
Algeria                5.107023      4.539161
Andorra                3.209480      2.956526
Angola                 5.483673      5.058918
...                         ...           ...
Vietnam                2.412327      2.385491
West Bank and Gaza     0.000000      0.000000
Yemen                  4.596802      3.923015
Zambia                 4.725789      4.685894
Zimbabwe               3.059015      3.012102

[196 rows x 945 columns]
Index(['DA_EUR_FS_ODX_D', 'DA_EUR_FS_ODX_I', 'DA_EUR_FS_ODX_ID',
       'DA_EUR_FS_ODX_IG', 'DA_EUR_FS_ODX_IGB', 'DA_EUR_FS_ODX_IGC',
       'DA_EUR_FS_ODX_IGCU', 'DA_EUR_FS_ODX_IGDV', 'DA_EUR_FS_ODX_IGI',
       'DA_EUR_FS_ODX_IGM',
       ...
       'TE_NUM_FS_OFX_XFA', 'TE_NUM_FS_OFX_XIC', 'TE_NUM_FS_OFX_XICLIC',
       'TE_NUM_FS_OFX_XICNLIC', 'TE_NUM_FS_OFX_XNIH', 'TE_NUM_FS_OFX_XOFI',
       'TE_NUM_FS_OFX_XPF', 'between_theil', 'total_theil', 'within_theil'],
      dtype='object', length=945)

Measuring Multi-Collinearity for Endogenous Variables

In [48]:
def calc_variance_inflation_factor(train_X):
    train_X = train_X.dropna()
    train_X = add_constant(train_X)
    train_X_scaled = StandardScaler().fit(train_X).transform(train_X)
    train_X_scaled = add_constant(train_X_scaled)
    # train_X_scaled = MinMaxScaler().fit(train_X).transform(train_X)
    vif = pd.DataFrame()
    vif['features'] = train_X.columns
    vif['feature_sums'] = [x for x in train_X.sum(axis=0)]
    vif = vif[vif['feature_sums']!=0]
    train_X = train_X[vif['features']]
    vif['VIF'] = [variance_inflation_factor(train_X, i) for i in range(train_X.shape[1])]
    return(vif)

vif_df = calc_variance_inflation_factor(train_X)
vif_df = vif_df.sort_values(by=['VIF'], ascending=False).round(4)

print(vif_df)

# vif_df.to_csv(data_model_file_path+'vif_train_model_df_'+str(train_year)+'_'+str(filedate)+'.csv', index=True)
# vif_df.to_csv('vif_train_model_df_'+str(train_year)+'_'+str(filedate)+'.csv', index=True)

/Users/stephenontko/opt/anaconda3/lib/python3.9/site-packages/statsmodels/regression/linear_model.py:1736: RuntimeWarning: divide by zero encountered in double_scalars
  return 1 - self.ssr/self.centered_tss
/Users/stephenontko/opt/anaconda3/lib/python3.9/site-packages/statsmodels/stats/outliers_influence.py:195: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)

               features  feature_sums     VIF
376    FA_XDC_FS_ODX_XI  4.637529e+12     inf
502   IA_EUR_FS_OFX_IIC  9.321684e+09     inf
518   IA_USD_FS_OFX_IIC  9.193971e+10     inf
515    IA_USD_FS_ODX_XO  1.928200e+10     inf
514  IA_USD_FS_ODX_XMFI  7.869977e+09     inf
..                  ...           ...     ...
424           FD_FMA_IX  2.997170e+01  1.9839
833        within_theil  4.774708e+02  1.7598
422           FD_FIE_IX  9.277000e+01  1.3456
832         total_theil  5.786679e+02  1.1058
0                 const  1.960000e+02  0.0000

[536 rows x 3 columns]

In [49]:

iso_country_codes = {
    'Afghanistan':4,
'Albania':8,
'Algeria':12,
'American Samoa':16,
'Andorra':20,
'Angola':24,
'Antigua and Barbuda':28,
'Argentina':32,
    'Armenia':51,
    'Aruba':533,
'Australia':36,
'Austria':40,
    'Azerbaijan':31,
    'Bahamas, The':44,
    'Bahrain':48,
'Bangladesh':50,
    'Barbados':52,
    'Belarus':112,
'Belgium':56,
    'Belize':84,
    'Benin':204,
'Bermuda':60,
'Bhutan':64,
'Bolivia':68,
'Bosnia and Herzegovina':70,
'Botswana':72,
    'Brazil':76,
    'Brunei Darussalam':96,
'Bulgaria':100,
    'Burkina Faso':854,
    'Burma':104,
    'Burundi':108,
    'Cabo Verde':132,
'Cambodia':116,
'Cameroon':120,
    'Canada':124,
    'Central African Republic':140,
    'Chad':148,
    'Chile':152,
    "China, People's Republic of":156,
'Colombia':170,
'Comoros':174,
'Congo, Republic of ':178,
'Congo, Dem. Rep. of the':180,
    'Costa Rica':188,
    "CÃ´te d'Ivoire":384,
'Croatia':191,
'Cuba':192,
'Cyprus':196,
'Czech Republic':203,
    'Denmark':208,
    'Djibouti':262,
'Dominica':212,
'Dominican Republic':214,
'Ecuador':218,
    'Egypt':818,
'El Salvador':222,
'Equatorial Guinea':226,
'Eritrea':232,
'Estonia':233,
    'Eswatini':748,
    'Ethiopia':231,
'Falkland Islands':238,
'Faroe Islands':234,
'Fiji':242,
    'Finland':246,
    'France':250,
'Gabon':266,
'Gambia, The':270,
'Georgia':268,
    'Germany':276,
    'Ghana':288,
    'Greece':300,
'Grenada':308,
'Guadeloupe':312,
'Guam':316,
'Guatemala':320,
'Guernsey':831,
'Guinea':324,
'Guinea-Bissau':624,
'Guyana':328,
    'Haiti':332,
    'Honduras':340,
    'Hong Kong SAR':344,
    'Hungary':348,
    'Iceland':352,
    'India':356,
'Indonesia':360,
'Iran':364,
'Iraq':368,
'Ireland':372,
'Israel':376,
'Italy':380,
'Jamaica':388,
'Japan':392,
'Jordan':400,
'Kazakhstan':398,
'Kenya':404,
'Kiribati':296,
"Korea (Democratic People's Republic of)":408,
"Korea, Republic of":410,
    'Kosovo':None,
'Kuwait':414,
'Kyrgyz Republic':417,
"Lao P.D.R.":418,
'Latvia':428,
'Lebanon':422,
'Lesotho':426,
'Liberia':430,
'Libya':434,
'Liechtenstein':438,
'Lithuania':440,
'Luxembourg':442,
'Macao SAR':446,
'Madagascar':450,
'Malawi':454,
'Malaysia':458,
'Maldives':462,
'Mali':466,
'Malta':470,
'Marshall Islands':584,
'Mauritania':478,
'Mauritius':480,
'Mexico':484,
'Micronesia, Fed. States of':583,
'Moldova':498,
'Monaco':492,
'Mongolia':496,
'Montenegro':499,
'Montserrat':500,
'Morocco':504,
'Mozambique':508,
'Namibia':516,
'Nauru':520,
'Nepal':524,
'Netherlands':528,
'New Zealand':554,
'Nicaragua':558,
'Niger':562,
'Nigeria':566,
'Niue':570,
'Norfolk Island':574,
'North Macedonia ':807,
'Northern Mariana Islands':580,
'Norway':578,
    'Oman':512,
'Pakistan':586,
'Palau':585,
'Panama':591,
'Papua New Guinea':598,
'Paraguay':600,
'Peru':604,
'Philippines':608,
'Pitcairn':612,
'Poland':616,
'Portugal':620,
'Puerto Rico':630,
'Qatar':634,
'Romania':642,
'Russian Federation':643,
    'Rwanda':646,
    'Saint Kitts and Nevis':659,
'Saint Lucia':662,
'Saint Martin':663,
'Saint Pierre and Miquelon':666,
'Saint Vincent and the Grenadines':670,
'Samoa':882,
'San Marino':674,
'SÃ£o TomÃ© and PrÃ­ncipe':678,
'Saudi Arabia':682,
'Senegal':686,
'Serbia':688,
'Seychelles':690,
'Sierra Leone':694,
'Singapore':702,
'Slovak Republic':703,
'Slovenia':705,
'Solomon Islands':90,
'Somalia':706,
'South Africa':710,
'South Georgia':239,
    'South Sudan, Republic of':728,
    'Spain':724,
'Sri Lanka':144,
'Sudan':729,
'Suriname':740,
'Sweden':752,
'Switzerland':756,
'Syria':760,
'Taiwan':158,
'Tajikistan':762,
'Tanzania':834,
'Thailand':764,
'Timor-Leste':626,
'Togo':768,
'Tonga':776,
'Trinidad and Tobago':780,
'Tunisia':788,
'TÃ¼rkiye, Republic of':792,
'Turkmenistan':795,
'Tuvalu':798,
'Uganda':800,
'Ukraine':804,
'United Arab Emirates':784,
'United Kingdom':826,
'United States':840,
'Uruguay':858,
'Uzbekistan':860,
'Vanuatu':548,
'Venezuela':862,
'Vietnam':704,
    'West Bank and Gaza':275,
'Yemen':887,
'Zambia':894,
'Zimbabwe':716
    # ,'nan':None
}

In [50]:
def process_data_for_model(train_year, inputdate):
    print('training year: ',train_year, ' date: ',inputdate)
    train_y=train_model_df[[train_year]].replace('no data',0).fillna(0)
    test_y=test_model_df[[train_year+1]].replace('no data',0).fillna(0)

    exclude_list = [ 
        'Eastern Caribbean Currency Union (ECCU)',
        'European Central Bank'
    ]
#     train_X = pd.read_csv(course_file_path+'train_feature_data_'+str(train_year)+'_'+str(inputdate)+'.csv')
    train_X = pd.read_csv('train_feature_data_'+str(train_year)+'_'+str(inputdate)+'.csv')
    train_X.index = train_X['Country Name']
    train_X = train_X.drop(columns =['Country Name'])
    train_X = train_X[~train_X.index.isin(exclude_list)]
    print(train_X)
    print(train_X.columns)
#     test_X = pd.read_csv(course_file_path+'test_feature_data_'+str(train_year+1)+'_'+str(inputdate)+'.csv')
    test_X = pd.read_csv('test_feature_data_'+str(train_year+1)+'_'+str(inputdate)+'.csv')
    test_X.index = test_X['Country Name']
    test_X = test_X.drop(columns =['Country Name'])
    test_X = test_X[~test_X.index.isin(exclude_list)]
    print(test_X)
    print(test_X.columns)
    code_names = train_X.columns
    
    return train_X, train_y, test_X, test_y, code_names

# train_year = 2020
# filedate = '2023-04-01'

# train_X, train_y, test_X, test_y, code_names =  process_data_for_model(train_year, filedate)

In [78]:
# metadata_df = pd.read_csv(course_file_path+'/file_metadata_df.csv')


metadata_df = pd.DataFrame(columns = ['file','file_description','column_code','column_name'])

def file_metadata_processing(metafile,metadata_df):
    print(metafile)
    meta_file_df = pd.read_csv(metafile.split('/')[0]+'/metadata_'+metafile.split('/')[1])
    meta_file_description = meta_file_df[meta_file_df['Country Name'].isnull() & meta_file_df['Metadata Attribute'].isin(['Dataset','Definition'])].iloc[:,7:8].head()
    print(meta_file_description)
#     print(meta_file_df)
#     print(meta_file_df.columns)
    try:
#         print(metafile)
#         print(meta_file_df)
#         print(meta_file_df.columns)
        meta_file_df = meta_file_df[['Indicator Name','Indicator Code','Metadata Attribute','Metadata Value']]
        column_names = meta_file_df['Indicator Name'].unique()
        code_names = meta_file_df['Indicator Code'].unique()
    except:
        print(metafile)
        print(meta_file_df)
        print(meta_file_df.columns)
        if metafile == 'HPDD_04-11-2020 23-37-06-60_timeSeries/HPDD_04-11-2020 23-37-06-60_timeSeries.csv':
            code_names=meta_file_df[meta_file_df['Metadata Attribute']=='Indicator Code']['Metadata Value'].unique()
            column_names=meta_file_df[meta_file_df['Metadata Attribute']=='Indicator Name']['Metadata Value'].unique()
        else:
            meta_file_df = meta_file_df[['Indicator Name','Indicator Source Code','Metadata Attribute','Metadata Value']]
            column_names = meta_file_df['Indicator Name'].unique()
            code_names = meta_file_df['Indicator Source Code'].unique()
#     file_columns[metafile] = [column_names, code_names]
    print(meta_file_df)
    print(meta_file_df.columns)
    print(column_names)
    print(code_names)
    print(len(column_names))
    for colm,codenam in zip(column_names, code_names):
        print(colm,codenam )
        # file_column_names_df.append()
        appendrow = []
        metadata_df = pd.concat([metadata_df,pd.DataFrame([[metafile,meta_file_description,codenam,colm ]]
                                      ,columns = ['file','file_description','column_code','column_name'])])
    return metadata_df

for metafile in files[:]:
    print(metafile)
    metadata_df=file_metadata_processing(metafile,metadata_df)


# print(file_column_names_df)
metadata_df.to_csv('file_metadata_df.csv', index=True)

ED_02-07-2023 04-41-04-68_timeSeries/ED_02-07-2023 04-41-04-68_timeSeries.csv
ED_02-07-2023 04-41-04-68_timeSeries/ED_02-07-2023 04-41-04-68_timeSeries.csv
                                      Metadata Value
1                 Export Diversification and Quality
2  Covers 200 countries with data from 1962 to 20...
        Indicator Name Indicator Code    Metadata Attribute  \
0                  NaN            NaN              Category
1                  NaN            NaN               Dataset
2                  NaN            NaN            Definition
3                  NaN            NaN             Frequency
4                  NaN            NaN   Geographic Coverage
...                ...            ...                   ...
1827  Intensive Margin   within_theil   Indicator Full Name
1828  Intensive Margin   within_theil        Indicator Name
1829  Intensive Margin   within_theil   Indicator SDMX Code
1830  Intensive Margin   within_theil   Indicator SDMX Name
1831  Intensive Margin   within_theil  Indicator Short Name

                                         Metadata Value
0                                                  Main
1                    Export Diversification and Quality
2     Covers 200 countries with data from 1962 to 20...
3                                                Annual
4                                         200 countries
...                                                 ...
1827                                   Intensive Margin
1828                                   Intensive Margin
1829                                       within_theil
1830                                   Intensive Margin
1831                                   Intensive Margin

[1832 rows x 4 columns]
Index(['Indicator Name', 'Indicator Code', 'Metadata Attribute',
       'Metadata Value'],
      dtype='object')
[nan 'Export Diversification Index' 'Extensive Margin' 'Intensive Margin']
[nan 'total_theil' 'between_theil' 'within_theil']
4
nan nan
Export Diversification Index total_theil
Extensive Margin between_theil
Intensive Margin within_theil
FDI_07-14-2022 10-45-25-27_timeSeries/FDI_07-14-2022 10-45-25-27_timeSeries.csv
FDI_07-14-2022 10-45-25-27_timeSeries/FDI_07-14-2022 10-45-25-27_timeSeries.csv
                                      Metadata Value
1                         Financial Development (FD)
2  The dataset contains nine indices that summari...
               Indicator Name Indicator Code     Metadata Attribute  \
0                         NaN            NaN               Category
1                         NaN            NaN                Dataset
2                         NaN            NaN             Definition
3                         NaN            NaN              Frequency
4                         NaN            NaN    Geographic Coverage
...                       ...            ...                    ...
2101  Financial Markets Index       FD_FM_IX         Indicator Name
2102  Financial Markets Index       FD_FM_IX   Indicator Short Name
2103  Financial Markets Index       FD_FM_IX  Indicator Source Code
2104  Financial Markets Index       FD_FM_IX        Indicator Topic
2105  Financial Markets Index       FD_FM_IX         Indicator Unit

                                         Metadata Value
0                                                  Main
1                            Financial Development (FD)
2     The dataset contains nine indices that summari...
3                                                Annual
4     Over 180 advanced, emerging, and low-income de...
...                                                 ...
2101                            Financial Markets Index
2102                            Financial Markets Index
2103                                                 FM
2104                                   Financial Sector
2105                                              Index

[2106 rows x 4 columns]
Index(['Indicator Name', 'Indicator Code', 'Metadata Attribute',
       'Metadata Value'],
      dtype='object')
[nan 'Financial Development Index' 'Financial Institutions Access Index'
 'Financial Institutions Depth Index'
 'Financial Institutions Efficiency Index' 'Financial Institutions Index'
 'Financial Markets Access Index' 'Financial Markets Depth Index'
 'Financial Markets Efficiency Index' 'Financial Markets Index']
[nan 'FD_FD_IX' 'FD_FIA_IX' 'FD_FID_IX' 'FD_FIE_IX' 'FD_FI_IX' 'FD_FMA_IX'
 'FD_FMD_IX' 'FD_FME_IX' 'FD_FM_IX']
10
nan nan
Financial Development Index FD_FD_IX
Financial Institutions Access Index FD_FIA_IX
Financial Institutions Depth Index FD_FID_IX
Financial Institutions Efficiency Index FD_FIE_IX
Financial Institutions Index FD_FI_IX
Financial Markets Access Index FD_FMA_IX
Financial Markets Depth Index FD_FMD_IX
Financial Markets Efficiency Index FD_FME_IX
Financial Markets Index FD_FM_IX
FM_02-07-2023 04-43-40-20_timeSeries/FM_02-07-2023 04-43-40-20_timeSeries.csv
FM_02-07-2023 04-43-40-20_timeSeries/FM_02-07-2023 04-43-40-20_timeSeries.csv
                                      Metadata Value
1                                Fiscal Monitor (FM)
2  The Fiscal Monitor surveys and analyzes the la...
          Indicator Name  Indicator Code  \
0                    NaN             NaN
1                    NaN             NaN
2                    NaN             NaN
3                    NaN             NaN
4                    NaN             NaN
...                  ...             ...
2685  Revenue (% of GDP)  GGR_G01_GDP_PT
2686  Revenue (% of GDP)  GGR_G01_GDP_PT
2687  Revenue (% of GDP)  GGR_G01_GDP_PT
2688  Revenue (% of GDP)  GGR_G01_GDP_PT
2689  Revenue (% of GDP)  GGR_G01_GDP_PT

                         Metadata Attribute  \
0                                  Category
1                                   Dataset
2                                Definition
3                                 Frequency
4                       Geographic Coverage
...                                     ...
2685     Indicator Source Code - Collection
2686  Indicator Source Code - Dissemination
2687            Indicator Source Code - EDD
2688                        Indicator Topic
2689                         Indicator Unit

                                         Metadata Value
0                                                  Main
1                                   Fiscal Monitor (FM)
2     The Fiscal Monitor surveys and analyzes the la...
3                                                Annual
4     The Fiscal Monitor database covers 115 countri...
...                                                 ...
2685                                       GGR_G01|PGDP
2686                                           GGR_NGDP
2687                                       GGR_G01|PGDP
2688                                      Fiscal Sector
2689                                            Percent

[2690 rows x 4 columns]
Index(['Indicator Name', 'Indicator Code', 'Metadata Attribute',
       'Metadata Value'],
      dtype='object')
[nan 'Cyclically adjusted balance (% of potential GDP)'
 'Cyclically adjusted primary balance (% of potential GDP)'
 'Expenditure (% of GDP)' 'Gross debt (% of GDP)' 'Net debt (% of GDP)'
 'Net lending/borrowing (also referred as overall balance) (% of GDP)'
 'Primary net lending/borrowing (also referred as primary balance) (% of GDP)'
 'Revenue (% of GDP)']
[nan 'GGCB_G01_PGDP_PT' 'GGCBP_G01_PGDP_PT' 'G_X_G01_GDP_PT'
 'G_XWDG_G01_GDP_PT' 'GGXWDN_G01_GDP_PT' 'GGXCNL_G01_GDP_PT'
 'GGXONLB_G01_GDP_PT' 'GGR_G01_GDP_PT']
9
nan nan
Cyclically adjusted balance (% of potential GDP) GGCB_G01_PGDP_PT
Cyclically adjusted primary balance (% of potential GDP) GGCBP_G01_PGDP_PT
Expenditure (% of GDP) G_X_G01_GDP_PT
Gross debt (% of GDP) G_XWDG_G01_GDP_PT
Net debt (% of GDP) GGXWDN_G01_GDP_PT
Net lending/borrowing (also referred as overall balance) (% of GDP) GGXCNL_G01_GDP_PT
Primary net lending/borrowing (also referred as primary balance) (% of GDP) GGXONLB_G01_GDP_PT
Revenue (% of GDP) GGR_G01_GDP_PT
FSIRE_02-04-2023 08-23-40-70_timeSeries/FSIRE_02-04-2023 08-23-40-70_timeSeries.csv
FSIRE_02-04-2023 08-23-40-70_timeSeries/FSIRE_02-04-2023 08-23-40-70_timeSeries.csv
  Financial Institution Code
1                        NaN
2                        NaN
     Indicator Name Indicator Code                        Metadata Attribute  \
0               NaN            NaN                                  Category
1               NaN            NaN                                   Dataset
2               NaN            NaN                                Definition
3               NaN            NaN                                 Frequency
4               NaN            NaN                       Geographic Coverage
...             ...            ...                                       ...
3212            NaN            NaN                Financial Institution Name
3213            NaN            NaN  Financial Institution Original EcOS Code
3214            NaN            NaN           Financial Institution SDMX Code
3215            NaN            NaN           Financial Institution SDMX Name
3216            NaN            NaN         Financial Institution Source Code

                                         Metadata Value
0                                                  Main
1                  Financial Soundness Indicators (FSI)
2     The Reporting entities dataset provides inform...
3                                                Annual
4     Data on reporting entities include data for 12...
...                                                 ...
3212  Reporting entities covered in the sector of ot...
3213                                            OFX_IPF
3214                                      1C_FS_OFX_IPF
3215  Reporting entities covered in the sector of ot...
3216                                         FS_OFX_IPF

[3217 rows x 4 columns]
Index(['Indicator Name', 'Indicator Code', 'Metadata Attribute',
       'Metadata Value'],
      dtype='object')
[nan 'Number of branches of foreign bank branches, Number of'
 'Number of domestic branches of domestically controlled reporting entities, Number of'
 'Number of domestic branches of domestically incorporated foreign controlled reporting entities, Number of'
 'Number of domestic non-deposit-taking subsidiaries of domestically controlled reporting entities, Number of'
 'Number of domestic non-deposit-taking subsidiaries of domestically incorporated foreign controlled reporting entities, Number of'
 'Number of domestic subsidiaries of domestically controlled reporting entities, Number of'
 'Number of domestic subsidiaries of domestically incorporated foreign controlled reporting entities, Number of'
 'Number of domestically controlled reporting entities, Number of'
 'Number of domestically incorporated foreign controlled reporting entities, Number of'
 'Number of foreign branches of domestically controlled reporting entities, Number of'
 'Number of foreign branches of domestically incorporated foreign controlled reporting entities, Number of'
 'Number of foreign non-deposit-taking subsidiaries of domestically controlled reporting entities, Number of'
 'Number of foreign non-deposit-taking subsidiaries of domestically incorporated foreign controlled reporting entities, Number of'
 'Number of foreign subsidiaries of domestically controlled reporting entities, Number of'
 'Number of foreign subsidiaries of domestically incorporated foreign controlled reporting entities, Number of'
 'Number of reporting entities, Number of'
 'Number of reporting groups of foreign bank branches, Number of'
 'Total assets foreign bank branches, Domestic Currency'
 'Total assets foreign bank branches, Euros'
 'Total assets foreign bank branches, US Dollars'
 'Total assets of domestically controlled reporting entities, Domestic Currency'
 'Total assets of domestically controlled reporting entities, Euros'
 'Total assets of domestically controlled reporting entities, US Dollars'
 'Total assets of domestically incorporated foreign controlled reporting entities, Domestic Currency'
 'Total assets of domestically incorporated foreign controlled reporting entities, Euros'
 'Total assets of domestically incorporated foreign controlled reporting entities, US Dollars'
 'Total Assets, Domestic Currency' 'Total Assets, Euros'
 'Total Assets, US Dollars']
[nan 'FB_NUM' 'DBD_NUM' 'IBD_NUM' 'NDSD_NUM' 'NISD_NUM' 'DSD_NUM'
 'ISD_NUM' 'DE_NUM' 'IE_NUM' 'DBF_NUM' 'IBF_NUM' 'NDSF_NUM' 'NISF_NUM'
 'DSF_NUM' 'ISF_NUM' 'TE_NUM' 'FG_NUM' 'FA_XDC' 'FA_EUR' 'FA_USD' 'DA_XDC'
 'DA_EUR' 'DA_USD' 'IA_XDC' 'IA_EUR' 'IA_USD' 'TA_XDC' 'TA_EUR' 'TA_USD']
30
nan nan
Number of branches of foreign bank branches, Number of FB_NUM
Number of domestic branches of domestically controlled reporting entities, Number of DBD_NUM
Number of domestic branches of domestically incorporated foreign controlled reporting entities, Number of IBD_NUM
Number of domestic non-deposit-taking subsidiaries of domestically controlled reporting entities, Number of NDSD_NUM
Number of domestic non-deposit-taking subsidiaries of domestically incorporated foreign controlled reporting entities, Number of NISD_NUM
Number of domestic subsidiaries of domestically controlled reporting entities, Number of DSD_NUM
Number of domestic subsidiaries of domestically incorporated foreign controlled reporting entities, Number of ISD_NUM
Number of domestically controlled reporting entities, Number of DE_NUM
Number of domestically incorporated foreign controlled reporting entities, Number of IE_NUM
Number of foreign branches of domestically controlled reporting entities, Number of DBF_NUM
Number of foreign branches of domestically incorporated foreign controlled reporting entities, Number of IBF_NUM
Number of foreign non-deposit-taking subsidiaries of domestically controlled reporting entities, Number of NDSF_NUM
Number of foreign non-deposit-taking subsidiaries of domestically incorporated foreign controlled reporting entities, Number of NISF_NUM
Number of foreign subsidiaries of domestically controlled reporting entities, Number of DSF_NUM
Number of foreign subsidiaries of domestically incorporated foreign controlled reporting entities, Number of ISF_NUM
Number of reporting entities, Number of TE_NUM
Number of reporting groups of foreign bank branches, Number of FG_NUM
Total assets foreign bank branches, Domestic Currency FA_XDC
Total assets foreign bank branches, Euros FA_EUR
Total assets foreign bank branches, US Dollars FA_USD
Total assets of domestically controlled reporting entities, Domestic Currency DA_XDC
Total assets of domestically controlled reporting entities, Euros DA_EUR
Total assets of domestically controlled reporting entities, US Dollars DA_USD
Total assets of domestically incorporated foreign controlled reporting entities, Domestic Currency IA_XDC
Total assets of domestically incorporated foreign controlled reporting entities, Euros IA_EUR
Total assets of domestically incorporated foreign controlled reporting entities, US Dollars IA_USD
Total Assets, Domestic Currency TA_XDC
Total Assets, Euros TA_EUR
Total Assets, US Dollars TA_USD
HPDD_04-11-2020 23-37-06-60_timeSeries/HPDD_04-11-2020 23-37-06-60_timeSeries.csv
HPDD_04-11-2020 23-37-06-60_timeSeries/HPDD_04-11-2020 23-37-06-60_timeSeries.csv
   Frequency
1        NaN
2        NaN
HPDD_04-11-2020 23-37-06-60_timeSeries/HPDD_04-11-2020 23-37-06-60_timeSeries.csv
                       Dataset Name Dataset Code Country Name  Country Code  \
0     Historical Public Debt (HPDD)         HPDD          NaN           NaN
1     Historical Public Debt (HPDD)         HPDD          NaN           NaN
2     Historical Public Debt (HPDD)         HPDD          NaN           NaN
3     Historical Public Debt (HPDD)         HPDD          NaN           NaN
4     Historical Public Debt (HPDD)         HPDD          NaN           NaN
...                             ...          ...          ...           ...
1203  Historical Public Debt (HPDD)         HPDD     Zimbabwe         698.0
1204  Historical Public Debt (HPDD)         HPDD          NaN           NaN
1205  Historical Public Debt (HPDD)         HPDD          NaN           NaN
1206  Historical Public Debt (HPDD)         HPDD          NaN           NaN
1207  Historical Public Debt (HPDD)         HPDD          NaN           NaN

         Indicator Name   Metadata Attribute  \
0                   NaN             Category
1                   NaN              Dataset
2                   NaN           Definition
3                   NaN  Geographic Coverage
4                   NaN   Latest Update Date
...                 ...                  ...
1203                NaN    Country SDMX Name
1204  Debt to GDP Ratio       Indicator Code
1205  Debt to GDP Ratio       Indicator Name
1206  Debt to GDP Ratio  Indicator SDMX Code
1207  Debt to GDP Ratio  Indicator SDMX Name

                                         Metadata Value  Frequency
0                                                  Main        NaN
1                         Historical Public Debt (HPDD)        NaN
2     The Historical Public Debt Database contains u...        NaN
3                                         187 countries        NaN
4                                            11/30/2016        NaN
...                                                 ...        ...
1203                                           Zimbabwe        NaN
1204                                         GGXWDG_GDP        NaN
1205                                  Debt to GDP Ratio        NaN
1206                                                NaN        NaN
1207                                                NaN        NaN

[1208 rows x 8 columns]
Index(['Dataset Name', 'Dataset Code', 'Country Name', 'Country Code',
       'Indicator Name', 'Metadata Attribute', 'Metadata Value', 'Frequency'],
      dtype='object')
                       Dataset Name Dataset Code Country Name  Country Code  \
0     Historical Public Debt (HPDD)         HPDD          NaN           NaN
1     Historical Public Debt (HPDD)         HPDD          NaN           NaN
2     Historical Public Debt (HPDD)         HPDD          NaN           NaN
3     Historical Public Debt (HPDD)         HPDD          NaN           NaN
4     Historical Public Debt (HPDD)         HPDD          NaN           NaN
...                             ...          ...          ...           ...
1203  Historical Public Debt (HPDD)         HPDD     Zimbabwe         698.0
1204  Historical Public Debt (HPDD)         HPDD          NaN           NaN
1205  Historical Public Debt (HPDD)         HPDD          NaN           NaN
1206  Historical Public Debt (HPDD)         HPDD          NaN           NaN
1207  Historical Public Debt (HPDD)         HPDD          NaN           NaN

         Indicator Name   Metadata Attribute  \
0                   NaN             Category
1                   NaN              Dataset
2                   NaN           Definition
3                   NaN  Geographic Coverage
4                   NaN   Latest Update Date
...                 ...                  ...
1203                NaN    Country SDMX Name
1204  Debt to GDP Ratio       Indicator Code
1205  Debt to GDP Ratio       Indicator Name
1206  Debt to GDP Ratio  Indicator SDMX Code
1207  Debt to GDP Ratio  Indicator SDMX Name

                                         Metadata Value  Frequency
0                                                  Main        NaN
1                         Historical Public Debt (HPDD)        NaN
2     The Historical Public Debt Database contains u...        NaN
3                                         187 countries        NaN
4                                            11/30/2016        NaN
...                                                 ...        ...
1203                                           Zimbabwe        NaN
1204                                         GGXWDG_GDP        NaN

Creating Decision Tree Model Function
Model within a model is also being processed - the first decition tree is used to evaluated the significant 
features of the data, which is then fed into the second decision tree for more honed model predition

In [80]:
dt_col_results = pd.DataFrame(columns = ['filename', 'train_year', 'first_model_score', 'second_model_score', 'max_features','max_depth','ccp_alpha','percent_threshold','column','column_significance', 'column_descr'])

def dt_w_sig_cols(train_year, date, max_features, max_depth, ccp_alpha, percent_threshold,iteration):

    train_X, train_y, test_X, test_y, code_names =  process_data_for_model(train_year, filedate)


    feature_list = [x for x in train_X.columns]
    feature_list = [x for x in feature_list if x in test_X.columns]

    train_X = train_X[feature_list].dropna()
    test_X = test_X[feature_list].dropna()

    random_state = 0
    max_features = 'log2'
    max_depth = 100
    
    dt_init_regr = DecisionTreeRegressor(max_features= max_features, max_depth= max_depth, ccp_alpha = ccp_alpha).fit(train_X, train_y)
    dt_regr_predict = dt_init_regr.predict(test_X)
    dt_init_regr_score = dt_init_regr.score(test_X,test_y)
    
    significant_score_indicies =[list(dt_init_regr.feature_importances_).index(x) for x in dt_init_regr.feature_importances_ if x > percent_threshold]
    sig_list = []
    for sig_i, sig_column in enumerate([code_names[x] for x in [list(dt_init_regr.feature_importances_).index(x) for x in dt_init_regr.feature_importances_ if x > percent_threshold]]):
        sig_col_score = round([dt_init_regr.feature_importances_[x] for x in [list(dt_init_regr.feature_importances_).index(x) for x in dt_init_regr.feature_importances_ if x > percent_threshold]][sig_i]*100,6)
        try:
            sig_col_meta_descr = metadata_df[metadata_df['column_code']==sig_column]['column_name'].unique()[0]
        except:
            sig_col_meta_descr = None
        sig_list.append((sig_col_score ,sig_column, sig_col_meta_descr))
    sig_list = sorted(sig_list)
    
    train_X = train_X.iloc[:,significant_score_indicies]
    test_X = test_X.iloc[:,significant_score_indicies]

    print('second data model for significant columns')
    dt_regr2 = DecisionTreeRegressor(max_features= max_features,max_depth= max_depth, ccp_alpha = ccp_alpha).fit(train_X, train_y)
    dt_regr_predict2 = dt_regr2.predict(test_X)    
    dt_regr_score2 = dt_regr2.score(test_X,test_y)
    for sig_i, sig_column in enumerate([code_names[x] for x in [list(dt_init_regr.feature_importances_).index(x) for x in dt_init_regr.feature_importances_ if x > percent_threshold]]):
        sig_col_score = round([dt_init_regr.feature_importances_[x] for x in [list(dt_init_regr.feature_importances_).index(x) for x in dt_init_regr.feature_importances_ if x > percent_threshold]][sig_i]*100,6)
        try:
            sig_col_meta_descr = metadata_df[metadata_df['column_code']==sig_column]['column_name'].unique()[0]
        except:
            sig_col_meta_descr = None
        iter_df = pd.DataFrame([[train_year,dt_regr_score2, dt_init_regr_score, max_features, max_depth, ccp_alpha, percent_threshold, sig_column ,sig_col_score,sig_col_meta_descr, iteration]]
                               ,columns = ['train_year', 'first_model_score', 'second_model_score', 'max_features','max_depth','ccp_alpha','percent_threshold','column','column_significance', 'column_descr','iteration'])
        global dt_col_results
        dt_col_results = dt_col_results.append(iter_df)
        
    return dt_regr2, train_year, test_y, dt_regr_predict2, dt_regr_score2, max_features, max_depth, ccp_alpha, dt_init_regr_score

Dataframe Processing to input Data into Choropleth World Map

In [81]:
def choropleth_dfs(test_y, train_year, predictions):
    choropleth_df = test_y.copy().astype(float)
    choropleth_df['Country Name'] = choropleth_df.index
    choropleth_df['GDP Per Capita'] = [x for x in predictions]
    choropleth_df['id'] = [iso_country_codes[x] for x in choropleth_df.index]

    choropleth_actual_df = choropleth_df[['Country Name',train_year+1,'id']]
    choropleth_actual_df.rename(columns={train_year+1:'GDP Per Capita'},inplace=True)
    choropleth_actual_df = choropleth_actual_df[['Country Name','GDP Per Capita','id']]

    choropleth_df = choropleth_df[['Country Name','GDP Per Capita','id']]
    return choropleth_df, choropleth_actual_df

Choropleth Process for Mapping GDP Per Capita Results from Model onto the Map

In [82]:

def chart_compilation(choropleth_df, choropleth_actual_df, train_year, model, model_score):
    gdpactual= alt.Chart(
        world
          , title = ["Actual GDP Per Capita"
                    ,'for Year: ' + str(train_year +1)]).mark_geoshape(stroke='black' #'white'
                                                                ,fillOpacity=1,strokeWidth=.05).transform_lookup(
    lookup='id',
    from_=alt.LookupData(data=choropleth_actual_df, key = 'id', fields=['id','Country Name','GDP Per Capita'])
    ).encode(
    # tooltip='properties.geounit:N',
    color=alt.Color('GDP Per Capita:Q'
                    ,scale= alt.Scale(domain=[
                                                # 0,100000
                                            choropleth_actual_df['GDP Per Capita'].min()
                                              ,choropleth_actual_df['GDP Per Capita'].max()
                                              ]
                                        # ,range=['red','yellow','green']
                                        ,range=['lightgreen','darkblue']
                                      ))
    , tooltip=['Country Name:N', 'GDP Per Capita:Q']

    ).project(
    type='mercator'
    ).properties(
    width=800,
    height=800
    )
    gdpactual#.show()

    gdpforecast= alt.Chart(
        world
          , title = ["GDP Per Capita Forecasting : "
                    ,'Forecast Year: ' + str(train_year +1) 
                    ,'Model: '+model.__class__.__name__+ ' Score: '+str(round(model_score,4))]
                    ).mark_geoshape(stroke='black' #'white'
                                    ,fillOpacity=1,strokeWidth=.05).transform_lookup(
    lookup='id',
    from_=alt.LookupData(data=choropleth_df, key = 'id', fields=['id','Country Name','GDP Per Capita'])
    ).encode(
    # tooltip='properties.geounit:N',
    color=alt.Color('GDP Per Capita:Q'
                    ,scale= alt.Scale(domain=[
                                           # 0
                                        choropleth_df['GDP Per Capita'].min()
                                              ,choropleth_df['GDP Per Capita'].max()]
                                        # ,range=['red','yellow','green']
                                        ,range=['lightgreen','darkblue']
                                      ))
    , tooltip=['Country Name:N', 'GDP Per Capita:Q']

    ).project(
    type='mercator'
    ).properties(
    width=800,
    height=800
    )
    gdpforecast#.show()
    return alt.hconcat(gdpactual, gdpforecast)

In [86]:
train_year = 2020
filedate = '2023-04-01'

world = alt.topo_feature(data.world_110m.url, feature='countries')

for alpha_denom in range(1,5):
    print('alpha: ', alpha_denom, alpha_denom/4)
    percent_threshold = 0.009
    # percent_threshold = 0.02
    # alpha = alpha_denom/4
    alpha = .000000000000001
    # alpha = .9
    model, train_year, test_y, predictions, model_score, max_features, max_depth, ccp_alpha, dt_init_regr_score = dt_w_sig_cols(train_year, filedate, 'log2', 100, alpha,percent_threshold, alpha_denom)

    choropleth_df, choropleth_actual_df = choropleth_dfs(test_y, train_year, predictions)
    chart_compilation(choropleth_df, choropleth_actual_df, train_year, model, model_score).show()

alpha:  1 0.25
training year:  2020  date:  2023-04-01
                    DA_EUR_FS_ODX_D  DA_EUR_FS_ODX_I  DA_EUR_FS_ODX_ID  \
Country Name
Afghanistan                     0.0              0.0               0.0
Albania                         0.0              0.0               0.0
Algeria                         0.0              0.0               0.0
Andorra                         0.0              0.0               0.0
Angola                          0.0              0.0               0.0
...                             ...              ...               ...
Vietnam                         0.0              0.0               0.0
West Bank and Gaza              0.0              0.0               0.0
Yemen                           0.0              0.0               0.0
Zambia                          0.0              0.0               0.0
Zimbabwe                        0.0              0.0               0.0

                    DA_EUR_FS_ODX_IG  DA_EUR_FS_ODX_IGB  DA_EUR_FS_ODX_IGC  \
Country Name
Afghanistan                      0.0                0.0                0.0
Albania                          0.0                0.0                0.0
Algeria                          0.0                0.0                0.0
Andorra                          0.0                0.0                0.0
Angola                           0.0                0.0                0.0
...                              ...                ...                ...
Vietnam                          0.0                0.0                0.0
West Bank and Gaza               0.0                0.0                0.0
Yemen                            0.0                0.0                0.0
Zambia                           0.0                0.0                0.0
Zimbabwe                         0.0                0.0                0.0

                    DA_EUR_FS_ODX_IGCU  DA_EUR_FS_ODX_IGDV  DA_EUR_FS_ODX_IGI  \
Country Name
Afghanistan                        0.0                 0.0                0.0
Albania                            0.0                 0.0                0.0
Algeria                            0.0                 0.0                0.0
Andorra                            0.0                 0.0                0.0
Angola                             0.0                 0.0                0.0
...                                ...                 ...                ...
Vietnam                            0.0                 0.0                0.0
West Bank and Gaza                 0.0                 0.0                0.0
Yemen                              0.0                 0.0                0.0
Zambia                             0.0                 0.0                0.0
Zimbabwe                           0.0                 0.0                0.0

                    DA_EUR_FS_ODX_IGM  ...  TE_NUM_FS_OFX_IIC  \
Country Name                           ...
Afghanistan                       0.0  ...                0.0
Albania                           0.0  ...               11.2
Algeria                           0.0  ...                0.0
Andorra                           0.0  ...                0.0
Angola                            0.0  ...                0.0
...                               ...  ...                ...
Vietnam                           0.0  ...                0.0
West Bank and Gaza                0.0  ...               10.0
Yemen                             0.0  ...                0.0
Zambia                            0.0  ...                0.0
Zimbabwe                          0.0  ...                0.0

                    TE_NUM_FS_OFX_IICLIC  TE_NUM_FS_OFX_IICNLIC  \
Country Name
Afghanistan                          0.0                    0.0
Albania                              0.0                    0.0
Algeria                              0.0                    0.0
Andorra                              0.0                    0.0
Angola                               0.0                    0.0
...                                  ...                    ...
Vietnam                              0.0                    0.0
West Bank and Gaza                   0.0                    0.0
Yemen                                0.0                    0.0
Zambia                               0.0                    0.0
Zimbabwe                             0.0                    0.0

                    TE_NUM_FS_OFX_IMMF  TE_NUM_FS_OFX_INIF  \
Country Name
Afghanistan                        0.0                 0.0
Albania                            0.0                 0.0
Algeria                            0.0                 0.0
Andorra                            0.0                 0.0
Angola                             0.0                 0.0
...                                ...                 ...
Vietnam                            0.0                 0.0
West Bank and Gaza                 0.0                 0.0
Yemen                              0.0                 0.0
Zambia                             0.0                 0.0
Zimbabwe                           0.0                 0.0

                    TE_NUM_FS_OFX_IOFI  TE_NUM_FS_OFX_IPF  between_theil  \
Country Name
Afghanistan                        0.0                0.0       1.489971
Albania                           27.2                3.4       0.167637
Algeria                            7.5                0.0       0.567862
Andorra                            0.0                0.0       0.252954
Angola                             0.0                0.0       0.424755
...                                ...                ...            ...
Vietnam                            0.0                0.0       0.026836
West Bank and Gaza                 0.0                0.0       0.000000
Yemen                              0.0                0.0       0.673786
Zambia                             0.0                0.0       0.039895
Zimbabwe                           0.0                0.0       0.046913

                    total_theil  within_theil
Country Name
Afghanistan            3.541961      2.051990
Albania                3.058120      2.890483
Algeria                5.107023      4.539161
Andorra                3.209480      2.956526
Angola                 5.483673      5.058918
...                         ...           ...
Vietnam                2.412327      2.385491
West Bank and Gaza     0.000000      0.000000
Yemen                  4.596802      3.923015
Zambia                 4.725789      4.685894
Zimbabwe               3.059015      3.012102

[196 rows x 833 columns]
Index(['DA_EUR_FS_ODX_D', 'DA_EUR_FS_ODX_I', 'DA_EUR_FS_ODX_ID',
       'DA_EUR_FS_ODX_IG', 'DA_EUR_FS_ODX_IGB', 'DA_EUR_FS_ODX_IGC',
       'DA_EUR_FS_ODX_IGCU', 'DA_EUR_FS_ODX_IGDV', 'DA_EUR_FS_ODX_IGI',
       'DA_EUR_FS_ODX_IGM',
       ...
       'TE_NUM_FS_OFX_IIC', 'TE_NUM_FS_OFX_IICLIC', 'TE_NUM_FS_OFX_IICNLIC',
       'TE_NUM_FS_OFX_IMMF', 'TE_NUM_FS_OFX_INIF', 'TE_NUM_FS_OFX_IOFI',
       'TE_NUM_FS_OFX_IPF', 'between_theil', 'total_theil', 'within_theil'],
      dtype='object', length=833)
                    DA_EUR_FS_ODX_D  DA_EUR_FS_ODX_I  DA_EUR_FS_ODX_ID  \
Country Name
Afghanistan                     0.0              0.0               0.0
Albania                         0.0              0.0               0.0
Algeria                         0.0              0.0               0.0
Andorra                         0.0              0.0               0.0
Angola                          0.0              0.0               0.0
...                             ...              ...               ...
Vietnam                         0.0              0.0               0.0
West Bank and Gaza              0.0              0.0               0.0
Yemen                           0.0              0.0               0.0
Zambia                          0.0              0.0               0.0
Zimbabwe                        0.0              0.0               0.0

                    DA_EUR_FS_ODX_IG  DA_EUR_FS_ODX_IGB  DA_EUR_FS_ODX_IGC  \
Country Name
Afghanistan                      0.0                0.0                0.0
Albania                          0.0                0.0                0.0
Algeria                          0.0                0.0                0.0
Andorra                          0.0                0.0                0.0
Angola                           0.0                0.0                0.0
...                              ...                ...                ...
Vietnam                          0.0                0.0                0.0
West Bank and Gaza               0.0                0.0                0.0
Yemen                            0.0                0.0                0.0
Zambia                           0.0                0.0                0.0
Zimbabwe                         0.0                0.0                0.0

                    DA_EUR_FS_ODX_IGCU  DA_EUR_FS_ODX_IGDV  DA_EUR_FS_ODX_IGI  \
Country Name
Afghanistan                        0.0                 0.0                0.0
Albania                            0.0                 0.0                0.0
Algeria                            0.0                 0.0                0.0
Andorra                            0.0                 0.0                0.0
Angola                             0.0                 0.0                0.0
...                                ...                 ...                ...
Vietnam                            0.0                 0.0                0.0
West Bank and Gaza                 0.0                 0.0                0.0
Yemen                              0.0                 0.0                0.0
Zambia                             0.0                 0.0                0.0
Zimbabwe                           0.0                 0.0                0.0

                    DA_EUR_FS_ODX_IGM  ...  TE_NUM_FS_OFX_XFA  \
Country Name                           ...
Afghanistan                       0.0  ...                0.0
Albania                           0.0  ...                0.0
Algeria                           0.0  ...                0.0
Andorra                           0.0  ...                0.0
Angola                            0.0  ...                0.0
...                               ...  ...                ...
Vietnam                           0.0  ...                0.0
West Bank and Gaza                0.0  ...                0.0
Yemen                             0.0  ...                0.0
Zambia                            0.0  ...                0.0
Zimbabwe                          0.0  ...                0.0

                    TE_NUM_FS_OFX_XIC  TE_NUM_FS_OFX_XICLIC  \
Country Name
Afghanistan                       0.0                   0.0
Albania                           0.0                   0.0
Algeria                           0.0                   0.0
Andorra                           0.0                   0.0
Angola                            0.0                   0.0
...                               ...                   ...
Vietnam                           0.0                   0.0
West Bank and Gaza                0.0                   0.0
Yemen                             0.0                   0.0
Zambia                            0.0                   0.0
Zimbabwe                          0.0                   0.0

                    TE_NUM_FS_OFX_XICNLIC  TE_NUM_FS_OFX_XNIH  \
Country Name
Afghanistan                           0.0                 0.0
Albania                               0.0                 0.0
Algeria                               0.0                 0.0
Andorra                               0.0                 0.0
Angola                                0.0                 0.0
...                                   ...                 ...
Vietnam                               0.0                 0.0
West Bank and Gaza                    0.0                 0.0
Yemen                                 0.0                 0.0
Zambia                                0.0                 0.0
Zimbabwe                              0.0                 0.0

                    TE_NUM_FS_OFX_XOFI  TE_NUM_FS_OFX_XPF  between_theil  \
Country Name
Afghanistan                        0.0                0.0       1.489971
Albania                            0.0                0.0       0.167637
Algeria                            0.0                0.0       0.567862
Andorra                            0.0                0.0       0.252954
Angola                             0.0                0.0       0.424755
...                                ...                ...            ...
Vietnam                            0.0                0.0       0.026836
West Bank and Gaza                 0.0                0.0       0.000000
Yemen                              0.0                0.0       0.673786
Zambia                             0.0                0.0       0.039895
Zimbabwe                           0.0                0.0       0.046913

                    total_theil  within_theil
Country Name
Afghanistan            3.541961      2.051990
Albania                3.058120      2.890483
Algeria                5.107023      4.539161
Andorra                3.209480      2.956526
Angola                 5.483673      5.058918
...                         ...           ...
Vietnam                2.412327      2.385491
West Bank and Gaza     0.000000      0.000000
Yemen                  4.596802      3.923015
Zambia                 4.725789      4.685894
Zimbabwe               3.059015      3.012102

[196 rows x 945 columns]
Index(['DA_EUR_FS_ODX_D', 'DA_EUR_FS_ODX_I', 'DA_EUR_FS_ODX_ID',
       'DA_EUR_FS_ODX_IG', 'DA_EUR_FS_ODX_IGB', 'DA_EUR_FS_ODX_IGC',
       'DA_EUR_FS_ODX_IGCU', 'DA_EUR_FS_ODX_IGDV', 'DA_EUR_FS_ODX_IGI',
       'DA_EUR_FS_ODX_IGM',
       ...
       'TE_NUM_FS_OFX_XFA', 'TE_NUM_FS_OFX_XIC', 'TE_NUM_FS_OFX_XICLIC',
       'TE_NUM_FS_OFX_XICNLIC', 'TE_NUM_FS_OFX_XNIH', 'TE_NUM_FS_OFX_XOFI',
       'TE_NUM_FS_OFX_XPF', 'between_theil', 'total_theil', 'within_theil'],
      dtype='object', length=945)
second data model for significant columns

/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/2099723327.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  choropleth_actual_df.rename(columns={train_year+1:'GDP Per Capita'},inplace=True)

Displaying chart at http://localhost:58245/
alpha:  2 0.5
training year:  2020  date:  2023-04-01
                    DA_EUR_FS_ODX_D  DA_EUR_FS_ODX_I  DA_EUR_FS_ODX_ID  \
Country Name
Afghanistan                     0.0              0.0               0.0
Albania                         0.0              0.0               0.0
Algeria                         0.0              0.0               0.0
Andorra                         0.0              0.0               0.0
Angola                          0.0              0.0               0.0
...                             ...              ...               ...
Vietnam                         0.0              0.0               0.0
West Bank and Gaza              0.0              0.0               0.0
Yemen                           0.0              0.0               0.0
Zambia                          0.0              0.0               0.0
Zimbabwe                        0.0              0.0               0.0

                    DA_EUR_FS_ODX_IG  DA_EUR_FS_ODX_IGB  DA_EUR_FS_ODX_IGC  \
Country Name
Afghanistan                      0.0                0.0                0.0
Albania                          0.0                0.0                0.0
Algeria                          0.0                0.0                0.0
Andorra                          0.0                0.0                0.0
Angola                           0.0                0.0                0.0
...                              ...                ...                ...
Vietnam                          0.0                0.0                0.0
West Bank and Gaza               0.0                0.0                0.0
Yemen                            0.0                0.0                0.0
Zambia                           0.0                0.0                0.0
Zimbabwe                         0.0                0.0                0.0

                    DA_EUR_FS_ODX_IGCU  DA_EUR_FS_ODX_IGDV  DA_EUR_FS_ODX_IGI  \
Country Name
Afghanistan                        0.0                 0.0                0.0
Albania                            0.0                 0.0                0.0
Algeria                            0.0                 0.0                0.0
Andorra                            0.0                 0.0                0.0
Angola                             0.0                 0.0                0.0
...                                ...                 ...                ...
Vietnam                            0.0                 0.0                0.0
West Bank and Gaza                 0.0                 0.0                0.0
Yemen                              0.0                 0.0                0.0
Zambia                             0.0                 0.0                0.0
Zimbabwe                           0.0                 0.0                0.0

                    DA_EUR_FS_ODX_IGM  ...  TE_NUM_FS_OFX_IIC  \
Country Name                           ...
Afghanistan                       0.0  ...                0.0
Albania                           0.0  ...               11.2
Algeria                           0.0  ...                0.0
Andorra                           0.0  ...                0.0
Angola                            0.0  ...                0.0
...                               ...  ...                ...
Vietnam                           0.0  ...                0.0
West Bank and Gaza                0.0  ...               10.0
Yemen                             0.0  ...                0.0
Zambia                            0.0  ...                0.0
Zimbabwe                          0.0  ...                0.0

                    TE_NUM_FS_OFX_IICLIC  TE_NUM_FS_OFX_IICNLIC  \
Country Name
Afghanistan                          0.0                    0.0
Albania                              0.0                    0.0
Algeria                              0.0                    0.0
Andorra                              0.0                    0.0
Angola                               0.0                    0.0
...                                  ...                    ...
Vietnam                              0.0                    0.0
West Bank and Gaza                   0.0                    0.0
Yemen                                0.0                    0.0
Zambia                               0.0                    0.0
Zimbabwe                             0.0                    0.0

                    TE_NUM_FS_OFX_IMMF  TE_NUM_FS_OFX_INIF  \
Country Name
Afghanistan                        0.0                 0.0
Albania                            0.0                 0.0
Algeria                            0.0                 0.0
Andorra                            0.0                 0.0
Angola                             0.0                 0.0
...                                ...                 ...
Vietnam                            0.0                 0.0
West Bank and Gaza                 0.0                 0.0
Yemen                              0.0                 0.0
Zambia                             0.0                 0.0
Zimbabwe                           0.0                 0.0

                    TE_NUM_FS_OFX_IOFI  TE_NUM_FS_OFX_IPF  between_theil  \
Country Name
Afghanistan                        0.0                0.0       1.489971
Albania                           27.2                3.4       0.167637
Algeria                            7.5                0.0       0.567862
Andorra                            0.0                0.0       0.252954
Angola                             0.0                0.0       0.424755
...                                ...                ...            ...
Vietnam                            0.0                0.0       0.026836
West Bank and Gaza                 0.0                0.0       0.000000
Yemen                              0.0                0.0       0.673786
Zambia                             0.0                0.0       0.039895
Zimbabwe                           0.0                0.0       0.046913

                    total_theil  within_theil
Country Name
Afghanistan            3.541961      2.051990
Albania                3.058120      2.890483
Algeria                5.107023      4.539161
Andorra                3.209480      2.956526
Angola                 5.483673      5.058918
...                         ...           ...
Vietnam                2.412327      2.385491
West Bank and Gaza     0.000000      0.000000
Yemen                  4.596802      3.923015
Zambia                 4.725789      4.685894
Zimbabwe               3.059015      3.012102

[196 rows x 833 columns]
Index(['DA_EUR_FS_ODX_D', 'DA_EUR_FS_ODX_I', 'DA_EUR_FS_ODX_ID',
       'DA_EUR_FS_ODX_IG', 'DA_EUR_FS_ODX_IGB', 'DA_EUR_FS_ODX_IGC',
       'DA_EUR_FS_ODX_IGCU', 'DA_EUR_FS_ODX_IGDV', 'DA_EUR_FS_ODX_IGI',
       'DA_EUR_FS_ODX_IGM',
       ...
       'TE_NUM_FS_OFX_IIC', 'TE_NUM_FS_OFX_IICLIC', 'TE_NUM_FS_OFX_IICNLIC',
       'TE_NUM_FS_OFX_IMMF', 'TE_NUM_FS_OFX_INIF', 'TE_NUM_FS_OFX_IOFI',
       'TE_NUM_FS_OFX_IPF', 'between_theil', 'total_theil', 'within_theil'],
      dtype='object', length=833)
                    DA_EUR_FS_ODX_D  DA_EUR_FS_ODX_I  DA_EUR_FS_ODX_ID  \
Country Name
Afghanistan                     0.0              0.0               0.0
Albania                         0.0              0.0               0.0
Algeria                         0.0              0.0               0.0
Andorra                         0.0              0.0               0.0
Angola                          0.0              0.0               0.0
...                             ...              ...               ...
Vietnam                         0.0              0.0               0.0
West Bank and Gaza              0.0              0.0               0.0
Yemen                           0.0              0.0               0.0
Zambia                          0.0              0.0               0.0
Zimbabwe                        0.0              0.0               0.0

                    DA_EUR_FS_ODX_IG  DA_EUR_FS_ODX_IGB  DA_EUR_FS_ODX_IGC  \
Country Name
Afghanistan                      0.0                0.0                0.0
Albania                          0.0                0.0                0.0
Algeria                          0.0                0.0                0.0
Andorra                          0.0                0.0                0.0
Angola                           0.0                0.0                0.0
...                              ...                ...                ...
Vietnam                          0.0                0.0                0.0
West Bank and Gaza               0.0                0.0                0.0
Yemen                            0.0                0.0                0.0
Zambia                           0.0                0.0                0.0
Zimbabwe                         0.0                0.0                0.0

                    DA_EUR_FS_ODX_IGCU  DA_EUR_FS_ODX_IGDV  DA_EUR_FS_ODX_IGI  \
Country Name
Afghanistan                        0.0                 0.0                0.0
Albania                            0.0                 0.0                0.0
Algeria                            0.0                 0.0                0.0
Andorra                            0.0                 0.0                0.0
Angola                             0.0                 0.0                0.0
...                                ...                 ...                ...
Vietnam                            0.0                 0.0                0.0
West Bank and Gaza                 0.0                 0.0                0.0
Yemen                              0.0                 0.0                0.0
Zambia                             0.0                 0.0                0.0
Zimbabwe                           0.0                 0.0                0.0

                    DA_EUR_FS_ODX_IGM  ...  TE_NUM_FS_OFX_XFA  \
Country Name                           ...
Afghanistan                       0.0  ...                0.0
Albania                           0.0  ...                0.0
Algeria                           0.0  ...                0.0
Andorra                           0.0  ...                0.0
Angola                            0.0  ...                0.0
...                               ...  ...                ...
Vietnam                           0.0  ...                0.0
West Bank and Gaza                0.0  ...                0.0
Yemen                             0.0  ...                0.0
Zambia                            0.0  ...                0.0
Zimbabwe                          0.0  ...                0.0

                    TE_NUM_FS_OFX_XIC  TE_NUM_FS_OFX_XICLIC  \
Country Name
Afghanistan                       0.0                   0.0
Albania                           0.0                   0.0
Algeria                           0.0                   0.0
Andorra                           0.0                   0.0
Angola                            0.0                   0.0
...                               ...                   ...
Vietnam                           0.0                   0.0
West Bank and Gaza                0.0                   0.0
Yemen                             0.0                   0.0
Zambia                            0.0                   0.0
Zimbabwe                          0.0                   0.0

                    TE_NUM_FS_OFX_XICNLIC  TE_NUM_FS_OFX_XNIH  \
Country Name
Afghanistan                           0.0                 0.0
Albania                               0.0                 0.0
Algeria                               0.0                 0.0
Andorra                               0.0                 0.0
Angola                                0.0                 0.0
...                                   ...                 ...
Vietnam                               0.0                 0.0
West Bank and Gaza                    0.0                 0.0
Yemen                                 0.0                 0.0
Zambia                                0.0                 0.0
Zimbabwe                              0.0                 0.0

                    TE_NUM_FS_OFX_XOFI  TE_NUM_FS_OFX_XPF  between_theil  \
Country Name
Afghanistan                        0.0                0.0       1.489971
Albania                            0.0                0.0       0.167637
Algeria                            0.0                0.0       0.567862
Andorra                            0.0                0.0       0.252954
Angola                             0.0                0.0       0.424755
...                                ...                ...            ...
Vietnam                            0.0                0.0       0.026836
West Bank and Gaza                 0.0                0.0       0.000000
Yemen                              0.0                0.0       0.673786
Zambia                             0.0                0.0       0.039895
Zimbabwe                           0.0                0.0       0.046913

                    total_theil  within_theil
Country Name
Afghanistan            3.541961      2.051990
Albania                3.058120      2.890483
Algeria                5.107023      4.539161
Andorra                3.209480      2.956526
Angola                 5.483673      5.058918
...                         ...           ...
Vietnam                2.412327      2.385491
West Bank and Gaza     0.000000      0.000000
Yemen                  4.596802      3.923015
Zambia                 4.725789      4.685894
Zimbabwe               3.059015      3.012102

[196 rows x 945 columns]
Index(['DA_EUR_FS_ODX_D', 'DA_EUR_FS_ODX_I', 'DA_EUR_FS_ODX_ID',
       'DA_EUR_FS_ODX_IG', 'DA_EUR_FS_ODX_IGB', 'DA_EUR_FS_ODX_IGC',
       'DA_EUR_FS_ODX_IGCU', 'DA_EUR_FS_ODX_IGDV', 'DA_EUR_FS_ODX_IGI',
       'DA_EUR_FS_ODX_IGM',
       ...
       'TE_NUM_FS_OFX_XFA', 'TE_NUM_FS_OFX_XIC', 'TE_NUM_FS_OFX_XICLIC',
       'TE_NUM_FS_OFX_XICNLIC', 'TE_NUM_FS_OFX_XNIH', 'TE_NUM_FS_OFX_XOFI',
       'TE_NUM_FS_OFX_XPF', 'between_theil', 'total_theil', 'within_theil'],
      dtype='object', length=945)

second data model for significant columns

/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/2099723327.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  choropleth_actual_df.rename(columns={train_year+1:'GDP Per Capita'},inplace=True)

Displaying chart at http://localhost:58245/
alpha:  3 0.75
training year:  2020  date:  2023-04-01
                    DA_EUR_FS_ODX_D  DA_EUR_FS_ODX_I  DA_EUR_FS_ODX_ID  \
Country Name
Afghanistan                     0.0              0.0               0.0
Albania                         0.0              0.0               0.0
Algeria                         0.0              0.0               0.0
Andorra                         0.0              0.0               0.0
Angola                          0.0              0.0               0.0
...                             ...              ...               ...
Vietnam                         0.0              0.0               0.0
West Bank and Gaza              0.0              0.0               0.0
Yemen                           0.0              0.0               0.0
Zambia                          0.0              0.0               0.0
Zimbabwe                        0.0              0.0               0.0

                    DA_EUR_FS_ODX_IG  DA_EUR_FS_ODX_IGB  DA_EUR_FS_ODX_IGC  \
Country Name
Afghanistan                      0.0                0.0                0.0
Albania                          0.0                0.0                0.0
Algeria                          0.0                0.0                0.0
Andorra                          0.0                0.0                0.0
Angola                           0.0                0.0                0.0
...                              ...                ...                ...
Vietnam                          0.0                0.0                0.0
West Bank and Gaza               0.0                0.0                0.0
Yemen                            0.0                0.0                0.0
Zambia                           0.0                0.0                0.0
Zimbabwe                         0.0                0.0                0.0

                    DA_EUR_FS_ODX_IGCU  DA_EUR_FS_ODX_IGDV  DA_EUR_FS_ODX_IGI  \
Country Name
Afghanistan                        0.0                 0.0                0.0
Albania                            0.0                 0.0                0.0
Algeria                            0.0                 0.0                0.0
Andorra                            0.0                 0.0                0.0
Angola                             0.0                 0.0                0.0
...                                ...                 ...                ...
Vietnam                            0.0                 0.0                0.0
West Bank and Gaza                 0.0                 0.0                0.0
Yemen                              0.0                 0.0                0.0
Zambia                             0.0                 0.0                0.0
Zimbabwe                           0.0                 0.0                0.0

                    DA_EUR_FS_ODX_IGM  ...  TE_NUM_FS_OFX_IIC  \
Country Name                           ...
Afghanistan                       0.0  ...                0.0
Albania                           0.0  ...               11.2
Algeria                           0.0  ...                0.0
Andorra                           0.0  ...                0.0
Angola                            0.0  ...                0.0
...                               ...  ...                ...
Vietnam                           0.0  ...                0.0
West Bank and Gaza                0.0  ...               10.0
Yemen                             0.0  ...                0.0
Zambia                            0.0  ...                0.0
Zimbabwe                          0.0  ...                0.0

                    TE_NUM_FS_OFX_IICLIC  TE_NUM_FS_OFX_IICNLIC  \
Country Name
Afghanistan                          0.0                    0.0
Albania                              0.0                    0.0
Algeria                              0.0                    0.0
Andorra                              0.0                    0.0
Angola                               0.0                    0.0
...                                  ...                    ...
Vietnam                              0.0                    0.0
West Bank and Gaza                   0.0                    0.0
Yemen                                0.0                    0.0
Zambia                               0.0                    0.0
Zimbabwe                             0.0                    0.0

                    TE_NUM_FS_OFX_IMMF  TE_NUM_FS_OFX_INIF  \
Country Name
Afghanistan                        0.0                 0.0
Albania                            0.0                 0.0
Algeria                            0.0                 0.0
Andorra                            0.0                 0.0
Angola                             0.0                 0.0
...                                ...                 ...
Vietnam                            0.0                 0.0
West Bank and Gaza                 0.0                 0.0
Yemen                              0.0                 0.0
Zambia                             0.0                 0.0
Zimbabwe                           0.0                 0.0

                    TE_NUM_FS_OFX_IOFI  TE_NUM_FS_OFX_IPF  between_theil  \
Country Name
Afghanistan                        0.0                0.0       1.489971
Albania                           27.2                3.4       0.167637
Algeria                            7.5                0.0       0.567862
Andorra                            0.0                0.0       0.252954
Angola                             0.0                0.0       0.424755
...                                ...                ...            ...
Vietnam                            0.0                0.0       0.026836
West Bank and Gaza                 0.0                0.0       0.000000
Yemen                              0.0                0.0       0.673786
Zambia                             0.0                0.0       0.039895
Zimbabwe                           0.0                0.0       0.046913

                    total_theil  within_theil
Country Name
Afghanistan            3.541961      2.051990
Albania                3.058120      2.890483
Algeria                5.107023      4.539161
Andorra                3.209480      2.956526
Angola                 5.483673      5.058918
...                         ...           ...
Vietnam                2.412327      2.385491
West Bank and Gaza     0.000000      0.000000
Yemen                  4.596802      3.923015
Zambia                 4.725789      4.685894
Zimbabwe               3.059015      3.012102

[196 rows x 833 columns]
Index(['DA_EUR_FS_ODX_D', 'DA_EUR_FS_ODX_I', 'DA_EUR_FS_ODX_ID',
       'DA_EUR_FS_ODX_IG', 'DA_EUR_FS_ODX_IGB', 'DA_EUR_FS_ODX_IGC',
       'DA_EUR_FS_ODX_IGCU', 'DA_EUR_FS_ODX_IGDV', 'DA_EUR_FS_ODX_IGI',
       'DA_EUR_FS_ODX_IGM',
       ...
       'TE_NUM_FS_OFX_IIC', 'TE_NUM_FS_OFX_IICLIC', 'TE_NUM_FS_OFX_IICNLIC',
       'TE_NUM_FS_OFX_IMMF', 'TE_NUM_FS_OFX_INIF', 'TE_NUM_FS_OFX_IOFI',
       'TE_NUM_FS_OFX_IPF', 'between_theil', 'total_theil', 'within_theil'],
      dtype='object', length=833)
                    DA_EUR_FS_ODX_D  DA_EUR_FS_ODX_I  DA_EUR_FS_ODX_ID  \
Country Name
Afghanistan                     0.0              0.0               0.0
Albania                         0.0              0.0               0.0
Algeria                         0.0              0.0               0.0
Andorra                         0.0              0.0               0.0
Angola                          0.0              0.0               0.0
...                             ...              ...               ...
Vietnam                         0.0              0.0               0.0
West Bank and Gaza              0.0              0.0               0.0
Yemen                           0.0              0.0               0.0
Zambia                          0.0              0.0               0.0
Zimbabwe                        0.0              0.0               0.0

                    DA_EUR_FS_ODX_IG  DA_EUR_FS_ODX_IGB  DA_EUR_FS_ODX_IGC  \
Country Name
Afghanistan                      0.0                0.0                0.0
Albania                          0.0                0.0                0.0
Algeria                          0.0                0.0                0.0
Andorra                          0.0                0.0                0.0
Angola                           0.0                0.0                0.0
...                              ...                ...                ...
Vietnam                          0.0                0.0                0.0
West Bank and Gaza               0.0                0.0                0.0
Yemen                            0.0                0.0                0.0
Zambia                           0.0                0.0                0.0
Zimbabwe                         0.0                0.0                0.0

                    DA_EUR_FS_ODX_IGCU  DA_EUR_FS_ODX_IGDV  DA_EUR_FS_ODX_IGI  \
Country Name
Afghanistan                        0.0                 0.0                0.0
Albania                            0.0                 0.0                0.0
Algeria                            0.0                 0.0                0.0
Andorra                            0.0                 0.0                0.0
Angola                             0.0                 0.0                0.0
...                                ...                 ...                ...
Vietnam                            0.0                 0.0                0.0
West Bank and Gaza                 0.0                 0.0                0.0
Yemen                              0.0                 0.0                0.0
Zambia                             0.0                 0.0                0.0
Zimbabwe                           0.0                 0.0                0.0

                    DA_EUR_FS_ODX_IGM  ...  TE_NUM_FS_OFX_XFA  \
Country Name                           ...
Afghanistan                       0.0  ...                0.0
Albania                           0.0  ...                0.0
Algeria                           0.0  ...                0.0
Andorra                           0.0  ...                0.0
Angola                            0.0  ...                0.0
...                               ...  ...                ...
Vietnam                           0.0  ...                0.0
West Bank and Gaza                0.0  ...                0.0
Yemen                             0.0  ...                0.0
Zambia                            0.0  ...                0.0
Zimbabwe                          0.0  ...                0.0

                    TE_NUM_FS_OFX_XIC  TE_NUM_FS_OFX_XICLIC  \
Country Name
Afghanistan                       0.0                   0.0
Albania                           0.0                   0.0
Algeria                           0.0                   0.0
Andorra                           0.0                   0.0
Angola                            0.0                   0.0
...                               ...                   ...
Vietnam                           0.0                   0.0
West Bank and Gaza                0.0                   0.0
Yemen                             0.0                   0.0
Zambia                            0.0                   0.0
Zimbabwe                          0.0                   0.0

                    TE_NUM_FS_OFX_XICNLIC  TE_NUM_FS_OFX_XNIH  \
Country Name
Afghanistan                           0.0                 0.0
Albania                               0.0                 0.0
Algeria                               0.0                 0.0
Andorra                               0.0                 0.0
Angola                                0.0                 0.0
...                                   ...                 ...
Vietnam                               0.0                 0.0
West Bank and Gaza                    0.0                 0.0
Yemen                                 0.0                 0.0
Zambia                                0.0                 0.0
Zimbabwe                              0.0                 0.0

                    TE_NUM_FS_OFX_XOFI  TE_NUM_FS_OFX_XPF  between_theil  \
Country Name
Afghanistan                        0.0                0.0       1.489971
Albania                            0.0                0.0       0.167637
Algeria                            0.0                0.0       0.567862
Andorra                            0.0                0.0       0.252954
Angola                             0.0                0.0       0.424755
...                                ...                ...            ...
Vietnam                            0.0                0.0       0.026836
West Bank and Gaza                 0.0                0.0       0.000000
Yemen                              0.0                0.0       0.673786
Zambia                             0.0                0.0       0.039895
Zimbabwe                           0.0                0.0       0.046913

                    total_theil  within_theil
Country Name
Afghanistan            3.541961      2.051990
Albania                3.058120      2.890483
Algeria                5.107023      4.539161
Andorra                3.209480      2.956526
Angola                 5.483673      5.058918
...                         ...           ...
Vietnam                2.412327      2.385491
West Bank and Gaza     0.000000      0.000000
Yemen                  4.596802      3.923015
Zambia                 4.725789      4.685894
Zimbabwe               3.059015      3.012102

[196 rows x 945 columns]
Index(['DA_EUR_FS_ODX_D', 'DA_EUR_FS_ODX_I', 'DA_EUR_FS_ODX_ID',
       'DA_EUR_FS_ODX_IG', 'DA_EUR_FS_ODX_IGB', 'DA_EUR_FS_ODX_IGC',
       'DA_EUR_FS_ODX_IGCU', 'DA_EUR_FS_ODX_IGDV', 'DA_EUR_FS_ODX_IGI',
       'DA_EUR_FS_ODX_IGM',
       ...
       'TE_NUM_FS_OFX_XFA', 'TE_NUM_FS_OFX_XIC', 'TE_NUM_FS_OFX_XICLIC',
       'TE_NUM_FS_OFX_XICNLIC', 'TE_NUM_FS_OFX_XNIH', 'TE_NUM_FS_OFX_XOFI',
       'TE_NUM_FS_OFX_XPF', 'between_theil', 'total_theil', 'within_theil'],
      dtype='object', length=945)
second data model for significant columns

/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/2099723327.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  choropleth_actual_df.rename(columns={train_year+1:'GDP Per Capita'},inplace=True)

Displaying chart at http://localhost:58245/
alpha:  4 1.0
training year:  2020  date:  2023-04-01
                    DA_EUR_FS_ODX_D  DA_EUR_FS_ODX_I  DA_EUR_FS_ODX_ID  \
Country Name
Afghanistan                     0.0              0.0               0.0
Albania                         0.0              0.0               0.0
Algeria                         0.0              0.0               0.0
Andorra                         0.0              0.0               0.0
Angola                          0.0              0.0               0.0
...                             ...              ...               ...
Vietnam                         0.0              0.0               0.0
West Bank and Gaza              0.0              0.0               0.0
Yemen                           0.0              0.0               0.0
Zambia                          0.0              0.0               0.0
Zimbabwe                        0.0              0.0               0.0

                    DA_EUR_FS_ODX_IG  DA_EUR_FS_ODX_IGB  DA_EUR_FS_ODX_IGC  \
Country Name
Afghanistan                      0.0                0.0                0.0
Albania                          0.0                0.0                0.0
Algeria                          0.0                0.0                0.0
Andorra                          0.0                0.0                0.0
Angola                           0.0                0.0                0.0
...                              ...                ...                ...
Vietnam                          0.0                0.0                0.0
West Bank and Gaza               0.0                0.0                0.0
Yemen                            0.0                0.0                0.0
Zambia                           0.0                0.0                0.0
Zimbabwe                         0.0                0.0                0.0

                    DA_EUR_FS_ODX_IGCU  DA_EUR_FS_ODX_IGDV  DA_EUR_FS_ODX_IGI  \
Country Name
Afghanistan                        0.0                 0.0                0.0
Albania                            0.0                 0.0                0.0
Algeria                            0.0                 0.0                0.0
Andorra                            0.0                 0.0                0.0
Angola                             0.0                 0.0                0.0
...                                ...                 ...                ...
Vietnam                            0.0                 0.0                0.0
West Bank and Gaza                 0.0                 0.0                0.0
Yemen                              0.0                 0.0                0.0
Zambia                             0.0                 0.0                0.0
Zimbabwe                           0.0                 0.0                0.0

                    DA_EUR_FS_ODX_IGM  ...  TE_NUM_FS_OFX_IIC  \
Country Name                           ...
Afghanistan                       0.0  ...                0.0
Albania                           0.0  ...               11.2
Algeria                           0.0  ...                0.0
Andorra                           0.0  ...                0.0
Angola                            0.0  ...                0.0
...                               ...  ...                ...
Vietnam                           0.0  ...                0.0
West Bank and Gaza                0.0  ...               10.0
Yemen                             0.0  ...                0.0
Zambia                            0.0  ...                0.0
Zimbabwe                          0.0  ...                0.0

                    TE_NUM_FS_OFX_IICLIC  TE_NUM_FS_OFX_IICNLIC  \
Country Name
Afghanistan                          0.0                    0.0
Albania                              0.0                    0.0
Algeria                              0.0                    0.0
Andorra                              0.0                    0.0
Angola                               0.0                    0.0
...                                  ...                    ...
Vietnam                              0.0                    0.0
West Bank and Gaza                   0.0                    0.0
Yemen                                0.0                    0.0
Zambia                               0.0                    0.0
Zimbabwe                             0.0                    0.0

                    TE_NUM_FS_OFX_IMMF  TE_NUM_FS_OFX_INIF  \
Country Name
Afghanistan                        0.0                 0.0
Albania                            0.0                 0.0
Algeria                            0.0                 0.0
Andorra                            0.0                 0.0
Angola                             0.0                 0.0
...                                ...                 ...
Vietnam                            0.0                 0.0
West Bank and Gaza                 0.0                 0.0
Yemen                              0.0                 0.0
Zambia                             0.0                 0.0
Zimbabwe                           0.0                 0.0

                    TE_NUM_FS_OFX_IOFI  TE_NUM_FS_OFX_IPF  between_theil  \
Country Name
Afghanistan                        0.0                0.0       1.489971
Albania                           27.2                3.4       0.167637
Algeria                            7.5                0.0       0.567862
Andorra                            0.0                0.0       0.252954
Angola                             0.0                0.0       0.424755
...                                ...                ...            ...
Vietnam                            0.0                0.0       0.026836
West Bank and Gaza                 0.0                0.0       0.000000
Yemen                              0.0                0.0       0.673786
Zambia                             0.0                0.0       0.039895
Zimbabwe                           0.0                0.0       0.046913

                    total_theil  within_theil
Country Name
Afghanistan            3.541961      2.051990
Albania                3.058120      2.890483
Algeria                5.107023      4.539161
Andorra                3.209480      2.956526
Angola                 5.483673      5.058918
...                         ...           ...
Vietnam                2.412327      2.385491
West Bank and Gaza     0.000000      0.000000
Yemen                  4.596802      3.923015
Zambia                 4.725789      4.685894
Zimbabwe               3.059015      3.012102

[196 rows x 833 columns]
Index(['DA_EUR_FS_ODX_D', 'DA_EUR_FS_ODX_I', 'DA_EUR_FS_ODX_ID',
       'DA_EUR_FS_ODX_IG', 'DA_EUR_FS_ODX_IGB', 'DA_EUR_FS_ODX_IGC',
       'DA_EUR_FS_ODX_IGCU', 'DA_EUR_FS_ODX_IGDV', 'DA_EUR_FS_ODX_IGI',
       'DA_EUR_FS_ODX_IGM',
       ...
       'TE_NUM_FS_OFX_IIC', 'TE_NUM_FS_OFX_IICLIC', 'TE_NUM_FS_OFX_IICNLIC',
       'TE_NUM_FS_OFX_IMMF', 'TE_NUM_FS_OFX_INIF', 'TE_NUM_FS_OFX_IOFI',
       'TE_NUM_FS_OFX_IPF', 'between_theil', 'total_theil', 'within_theil'],
      dtype='object', length=833)
                    DA_EUR_FS_ODX_D  DA_EUR_FS_ODX_I  DA_EUR_FS_ODX_ID  \
Country Name
Afghanistan                     0.0              0.0               0.0
Albania                         0.0              0.0               0.0
Algeria                         0.0              0.0               0.0
Andorra                         0.0              0.0               0.0
Angola                          0.0              0.0               0.0
...                             ...              ...               ...
Vietnam                         0.0              0.0               0.0
West Bank and Gaza              0.0              0.0               0.0
Yemen                           0.0              0.0               0.0
Zambia                          0.0              0.0               0.0
Zimbabwe                        0.0              0.0               0.0

                    DA_EUR_FS_ODX_IG  DA_EUR_FS_ODX_IGB  DA_EUR_FS_ODX_IGC  \
Country Name
Afghanistan                      0.0                0.0                0.0
Albania                          0.0                0.0                0.0
Algeria                          0.0                0.0                0.0
Andorra                          0.0                0.0                0.0
Angola                           0.0                0.0                0.0
...                              ...                ...                ...
Vietnam                          0.0                0.0                0.0
West Bank and Gaza               0.0                0.0                0.0
Yemen                            0.0                0.0                0.0
Zambia                           0.0                0.0                0.0
Zimbabwe                         0.0                0.0                0.0

                    DA_EUR_FS_ODX_IGCU  DA_EUR_FS_ODX_IGDV  DA_EUR_FS_ODX_IGI  \
Country Name
Afghanistan                        0.0                 0.0                0.0
Albania                            0.0                 0.0                0.0
Algeria                            0.0                 0.0                0.0
Andorra                            0.0                 0.0                0.0
Angola                             0.0                 0.0                0.0
...                                ...                 ...                ...
Vietnam                            0.0                 0.0                0.0
West Bank and Gaza                 0.0                 0.0                0.0
Yemen                              0.0                 0.0                0.0
Zambia                             0.0                 0.0                0.0
Zimbabwe                           0.0                 0.0                0.0

                    DA_EUR_FS_ODX_IGM  ...  TE_NUM_FS_OFX_XFA  \
Country Name                           ...
Afghanistan                       0.0  ...                0.0
Albania                           0.0  ...                0.0
Algeria                           0.0  ...                0.0
Andorra                           0.0  ...                0.0
Angola                            0.0  ...                0.0
...                               ...  ...                ...
Vietnam                           0.0  ...                0.0
West Bank and Gaza                0.0  ...                0.0
Yemen                             0.0  ...                0.0
Zambia                            0.0  ...                0.0
Zimbabwe                          0.0  ...                0.0

                    TE_NUM_FS_OFX_XIC  TE_NUM_FS_OFX_XICLIC  \
Country Name
Afghanistan                       0.0                   0.0
Albania                           0.0                   0.0
Algeria                           0.0                   0.0
Andorra                           0.0                   0.0
Angola                            0.0                   0.0
...                               ...                   ...
Vietnam                           0.0                   0.0
West Bank and Gaza                0.0                   0.0
Yemen                             0.0                   0.0
Zambia                            0.0                   0.0
Zimbabwe                          0.0                   0.0

                    TE_NUM_FS_OFX_XICNLIC  TE_NUM_FS_OFX_XNIH  \
Country Name
Afghanistan                           0.0                 0.0
Albania                               0.0                 0.0
Algeria                               0.0                 0.0
Andorra                               0.0                 0.0
Angola                                0.0                 0.0
...                                   ...                 ...
Vietnam                               0.0                 0.0
West Bank and Gaza                    0.0                 0.0
Yemen                                 0.0                 0.0
Zambia                                0.0                 0.0
Zimbabwe                              0.0                 0.0

                    TE_NUM_FS_OFX_XOFI  TE_NUM_FS_OFX_XPF  between_theil  \
Country Name
Afghanistan                        0.0                0.0       1.489971
Albania                            0.0                0.0       0.167637
Algeria                            0.0                0.0       0.567862
Andorra                            0.0                0.0       0.252954
Angola                             0.0                0.0       0.424755
...                                ...                ...            ...
Vietnam                            0.0                0.0       0.026836
West Bank and Gaza                 0.0                0.0       0.000000
Yemen                              0.0                0.0       0.673786
Zambia                             0.0                0.0       0.039895
Zimbabwe                           0.0                0.0       0.046913

                    total_theil  within_theil
Country Name
Afghanistan            3.541961      2.051990
Albania                3.058120      2.890483
Algeria                5.107023      4.539161
Andorra                3.209480      2.956526
Angola                 5.483673      5.058918
...                         ...           ...
Vietnam                2.412327      2.385491
West Bank and Gaza     0.000000      0.000000
Yemen                  4.596802      3.923015
Zambia                 4.725789      4.685894
Zimbabwe               3.059015      3.012102

[196 rows x 945 columns]
Index(['DA_EUR_FS_ODX_D', 'DA_EUR_FS_ODX_I', 'DA_EUR_FS_ODX_ID',
       'DA_EUR_FS_ODX_IG', 'DA_EUR_FS_ODX_IGB', 'DA_EUR_FS_ODX_IGC',
       'DA_EUR_FS_ODX_IGCU', 'DA_EUR_FS_ODX_IGDV', 'DA_EUR_FS_ODX_IGI',
       'DA_EUR_FS_ODX_IGM',
       ...
       'TE_NUM_FS_OFX_XFA', 'TE_NUM_FS_OFX_XIC', 'TE_NUM_FS_OFX_XICLIC',
       'TE_NUM_FS_OFX_XICNLIC', 'TE_NUM_FS_OFX_XNIH', 'TE_NUM_FS_OFX_XOFI',
       'TE_NUM_FS_OFX_XPF', 'between_theil', 'total_theil', 'within_theil'],
      dtype='object', length=945)
second data model for significant columns

/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/1855982633.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dt_col_results = dt_col_results.append(iter_df)
/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/2099723327.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  choropleth_actual_df.rename(columns={train_year+1:'GDP Per Capita'},inplace=True)

Displaying chart at http://localhost:58245/

In [87]:
chart_iterations_dict = {}


for iter in range(1,5):
    iter_df = dt_col_results[dt_col_results['iteration'] == iter].sort_values(by=['column_significance'], ascending=False).iloc[:10,:]

    print(iter_df)
    iter_df['count'] = iter_df['column']
    iter_df['count'] = [dt_col_results.groupby(['column']).size().loc[x] for x in iter_df['column']]
    print(iter_df.columns)


    chart_iterations_dict[iter] = alt.Chart(iter_df).mark_bar().encode(
    x = alt.X('column_significance:Q',scale = alt.Scale(domain=[dt_col_results['column_significance'].min(),
                                                                dt_col_results['column_significance'].max()])),  
    y="column:O"
    , tooltip='column_descr:O',

    color=alt.Color('count:Q', scale= alt.Scale(range=['lightgreen','darkblue'] ))

    ).properties(height=100, width = 700)

    print(iter_df)
    print(iter_df.columns)


choropleth_df, choropleth_actual_df = choropleth_dfs(test_y, train_year, predictions)
chart_compilation(choropleth_df, choropleth_actual_df, train_year, model, model_score).show()

alt.vconcat(chart_iterations_dict[1], chart_iterations_dict[2], chart_iterations_dict[3], chart_iterations_dict[4]).show()

  filename train_year first_model_score second_model_score max_features  \
0      NaN       2020          0.952356           0.952019         log2
0      NaN       2020          0.952356           0.952019         log2
0      NaN       2020          0.958866           0.948016         log2
0      NaN       2020          0.952356           0.952019         log2
0      NaN       2020          0.958866           0.948016         log2
0      NaN       2020          0.958866           0.948016         log2
0      NaN       2020          0.958866           0.948016         log2
0      NaN       2020          0.952356           0.952019         log2
0      NaN       2020          0.958866           0.948016         log2
0      NaN       2020          0.958866           0.948016         log2

  max_depth ccp_alpha percent_threshold             column  \
0       100       0.0             0.009  DBF_NUM_FS_ODX_IP
0       100       0.0             0.009  GGCBP_G01_PGDP_PT
0       100       0.0             0.009          FD_FIA_IX
0       100       0.0             0.009           FD_FD_IX
0       100       0.0             0.009           FD_FD_IX
0       100       0.0             0.009  DE_NUM_FS_ODX_IPS
0       100       0.0             0.009   FG_NUM_FS_ODX_IP
0       100       0.0             0.009     GGR_G01_GDP_PT
0       100       0.0             0.009      between_theil
0       100       0.0             0.009  GGXCNL_G01_GDP_PT

  column_significance                                       column_descr  \
0           15.449658                                               None
0           14.722418  Cyclically adjusted primary balance (% of pote...
0           14.582288                Financial Institutions Access Index
0           14.134111                        Financial Development Index
0           10.607808                        Financial Development Index
0           10.206092                                               None
0            8.556913                                               None
0            8.102967                                 Revenue (% of GDP)
0            8.097988                                   Extensive Margin
0            7.715881  Net lending/borrowing (also referred as overal...

   iteration
0        1.0
0        1.0
0        1.0
0        1.0
0        1.0
0        1.0
0        1.0
0        1.0
0        1.0
0        1.0
Index(['filename', 'train_year', 'first_model_score', 'second_model_score',
       'max_features', 'max_depth', 'ccp_alpha', 'percent_threshold', 'column',
       'column_significance', 'column_descr', 'iteration', 'count'],
      dtype='object')
  filename train_year first_model_score second_model_score max_features  \
0      NaN       2020          0.952356           0.952019         log2
0      NaN       2020          0.952356           0.952019         log2
0      NaN       2020          0.958866           0.948016         log2
0      NaN       2020          0.952356           0.952019         log2
0      NaN       2020          0.958866           0.948016         log2
0      NaN       2020          0.958866           0.948016         log2
0      NaN       2020          0.958866           0.948016         log2
0      NaN       2020          0.952356           0.952019         log2
0      NaN       2020          0.958866           0.948016         log2
0      NaN       2020          0.958866           0.948016         log2

  max_depth ccp_alpha percent_threshold             column  \
0       100       0.0             0.009  DBF_NUM_FS_ODX_IP
0       100       0.0             0.009  GGCBP_G01_PGDP_PT
0       100       0.0             0.009          FD_FIA_IX
0       100       0.0             0.009           FD_FD_IX
0       100       0.0             0.009           FD_FD_IX
0       100       0.0             0.009  DE_NUM_FS_ODX_IPS
0       100       0.0             0.009   FG_NUM_FS_ODX_IP
0       100       0.0             0.009     GGR_G01_GDP_PT
0       100       0.0             0.009      between_theil
0       100       0.0             0.009  GGXCNL_G01_GDP_PT

  column_significance                                       column_descr  \
0           15.449658                                               None
0           14.722418  Cyclically adjusted primary balance (% of pote...
0           14.582288                Financial Institutions Access Index
0           14.134111                        Financial Development Index
0           10.607808                        Financial Development Index
0           10.206092                                               None
0            8.556913                                               None
0            8.102967                                 Revenue (% of GDP)
0            8.097988                                   Extensive Margin
0            7.715881  Net lending/borrowing (also referred as overal...

   iteration  count
0        1.0      2
0        1.0      1
0        1.0      5
0        1.0      7
0        1.0      7
0        1.0      1
0        1.0      2
0        1.0      6
0        1.0      4
0        1.0      2
Index(['filename', 'train_year', 'first_model_score', 'second_model_score',
       'max_features', 'max_depth', 'ccp_alpha', 'percent_threshold', 'column',
       'column_significance', 'column_descr', 'iteration', 'count'],
      dtype='object')
  filename train_year first_model_score second_model_score max_features  \
0      NaN       2020          0.949734           0.950654         log2
0      NaN       2020          0.949734           0.950654         log2
0      NaN       2020          0.926877           0.898374         log2
0      NaN       2020          0.926877           0.898374         log2
0      NaN       2020          0.926877           0.898374         log2
0      NaN       2020          0.926877           0.898374         log2
0      NaN       2020          0.926877           0.898374         log2
0      NaN       2020          0.926877           0.898374         log2
0      NaN       2020          0.949734           0.950654         log2
0      NaN       2020          0.926877           0.898374         log2

  max_depth ccp_alpha percent_threshold              column  \
0       100       0.0             0.009           FD_FME_IX
0       100       0.0             0.009            FD_FD_IX
0       100       0.0             0.009       between_theil
0       100       0.0             0.009    FG_NUM_FS_ODX_IP
0       100       0.0             0.009           FD_FME_IX
0       100       0.0             0.009    GGCB_G01_PGDP_PT
0       100       0.0             0.009          GGXWDG_GDP
0       100       0.0             0.009  GGXONLB_G01_GDP_PT
0       100       0.0             0.009      G_X_G01_GDP_PT
0       100       0.0             0.009   DBF_NUM_FS_ODX_IG

  column_significance                                       column_descr  \
0           25.472046                 Financial Markets Efficiency Index
0           21.622135                        Financial Development Index
0            9.530909                                   Extensive Margin
0            9.352737                                               None
0            6.496802                 Financial Markets Efficiency Index
0            6.276754   Cyclically adjusted balance (% of potential GDP)
0            5.782833                                  Debt to GDP Ratio
0            5.042039  Primary net lending/borrowing (also referred a...
0            4.955909                             Expenditure (% of GDP)
0            4.951508                                               None

   iteration
0        2.0
0        2.0
0        2.0
0        2.0
0        2.0
0        2.0
0        2.0
0        2.0
0        2.0
0        2.0
Index(['filename', 'train_year', 'first_model_score', 'second_model_score',
       'max_features', 'max_depth', 'ccp_alpha', 'percent_threshold', 'column',
       'column_significance', 'column_descr', 'iteration', 'count'],
      dtype='object')
  filename train_year first_model_score second_model_score max_features  \
0      NaN       2020          0.949734           0.950654         log2
0      NaN       2020          0.949734           0.950654         log2
0      NaN       2020          0.926877           0.898374         log2
0      NaN       2020          0.926877           0.898374         log2
0      NaN       2020          0.926877           0.898374         log2
0      NaN       2020          0.926877           0.898374         log2
0      NaN       2020          0.926877           0.898374         log2
0      NaN       2020          0.926877           0.898374         log2
0      NaN       2020          0.949734           0.950654         log2
0      NaN       2020          0.926877           0.898374         log2

  max_depth ccp_alpha percent_threshold              column  \
0       100       0.0             0.009           FD_FME_IX
0       100       0.0             0.009            FD_FD_IX
0       100       0.0             0.009       between_theil
0       100       0.0             0.009    FG_NUM_FS_ODX_IP
0       100       0.0             0.009           FD_FME_IX
0       100       0.0             0.009    GGCB_G01_PGDP_PT
0       100       0.0             0.009          GGXWDG_GDP
0       100       0.0             0.009  GGXONLB_G01_GDP_PT
0       100       0.0             0.009      G_X_G01_GDP_PT
0       100       0.0             0.009   DBF_NUM_FS_ODX_IG

  column_significance                                       column_descr  \
0           25.472046                 Financial Markets Efficiency Index
0           21.622135                        Financial Development Index
0            9.530909                                   Extensive Margin
0            9.352737                                               None
0            6.496802                 Financial Markets Efficiency Index
0            6.276754   Cyclically adjusted balance (% of potential GDP)
0            5.782833                                  Debt to GDP Ratio
0            5.042039  Primary net lending/borrowing (also referred a...
0            4.955909                             Expenditure (% of GDP)
0            4.951508                                               None

   iteration  count
0        2.0      5
0        2.0      7
0        2.0      4
0        2.0      2
0        2.0      5
0        2.0      2
0        2.0      4
0        2.0      5
0        2.0      4
0        2.0      1
Index(['filename', 'train_year', 'first_model_score', 'second_model_score',
       'max_features', 'max_depth', 'ccp_alpha', 'percent_threshold', 'column',
       'column_significance', 'column_descr', 'iteration', 'count'],
      dtype='object')
  filename train_year first_model_score second_model_score max_features  \
0      NaN       2020          0.958331           0.960615         log2
0      NaN       2020          0.960177           0.969094         log2
0      NaN       2020          0.960177           0.969094         log2
0      NaN       2020          0.960177           0.969094         log2
0      NaN       2020          0.958331           0.960615         log2
0      NaN       2020          0.960177           0.969094         log2
0      NaN       2020          0.960177           0.969094         log2
0      NaN       2020          0.958331           0.960615         log2
0      NaN       2020          0.960177           0.969094         log2
0      NaN       2020          0.960177           0.969094         log2

  max_depth ccp_alpha percent_threshold              column  \
0       100       0.0             0.009           FD_FID_IX
0       100       0.0             0.009           FD_FIA_IX
0       100       0.0             0.009           FD_FID_IX
0       100       0.0             0.009   IE_NUM_FS_ODX_IPI
0       100       0.0             0.009           FD_FME_IX
0       100       0.0             0.009         total_theil
0       100       0.0             0.009  GGXONLB_G01_GDP_PT
0       100       0.0             0.009           FD_FIA_IX
0       100       0.0             0.009   GGXCNL_G01_GDP_PT
0       100       0.0             0.009        within_theil

  column_significance                                       column_descr  \
0           57.616367                 Financial Institutions Depth Index
0           42.691334                Financial Institutions Access Index
0            9.200105                 Financial Institutions Depth Index
0             7.41348                                               None
0            6.400869                 Financial Markets Efficiency Index
0            5.879495                       Export Diversification Index
0            4.250931  Primary net lending/borrowing (also referred a...
0            4.238406                Financial Institutions Access Index
0            3.343585  Net lending/borrowing (also referred as overal...
0            3.176054                                   Intensive Margin

   iteration
0        3.0
0        3.0
0        3.0
0        3.0
0        3.0
0        3.0
0        3.0
0        3.0
0        3.0
0        3.0
Index(['filename', 'train_year', 'first_model_score', 'second_model_score',
       'max_features', 'max_depth', 'ccp_alpha', 'percent_threshold', 'column',
       'column_significance', 'column_descr', 'iteration', 'count'],
      dtype='object')
  filename train_year first_model_score second_model_score max_features  \
0      NaN       2020          0.958331           0.960615         log2
0      NaN       2020          0.960177           0.969094         log2
0      NaN       2020          0.960177           0.969094         log2
0      NaN       2020          0.960177           0.969094         log2
0      NaN       2020          0.958331           0.960615         log2
0      NaN       2020          0.960177           0.969094         log2
0      NaN       2020          0.960177           0.969094         log2
0      NaN       2020          0.958331           0.960615         log2
0      NaN       2020          0.960177           0.969094         log2
0      NaN       2020          0.960177           0.969094         log2

  max_depth ccp_alpha percent_threshold              column  \
0       100       0.0             0.009           FD_FID_IX
0       100       0.0             0.009           FD_FIA_IX
0       100       0.0             0.009           FD_FID_IX
0       100       0.0             0.009   IE_NUM_FS_ODX_IPI
0       100       0.0             0.009           FD_FME_IX
0       100       0.0             0.009         total_theil
0       100       0.0             0.009  GGXONLB_G01_GDP_PT
0       100       0.0             0.009           FD_FIA_IX
0       100       0.0             0.009   GGXCNL_G01_GDP_PT
0       100       0.0             0.009        within_theil

  column_significance                                       column_descr  \
0           57.616367                 Financial Institutions Depth Index
0           42.691334                Financial Institutions Access Index
0            9.200105                 Financial Institutions Depth Index
0             7.41348                                               None
0            6.400869                 Financial Markets Efficiency Index
0            5.879495                       Export Diversification Index
0            4.250931  Primary net lending/borrowing (also referred a...
0            4.238406                Financial Institutions Access Index
0            3.343585  Net lending/borrowing (also referred as overal...
0            3.176054                                   Intensive Margin

   iteration  count
0        3.0      5
0        3.0      5
0        3.0      5
0        3.0      1
0        3.0      5
0        3.0      7
0        3.0      5
0        3.0      5
0        3.0      2
0        3.0      3
Index(['filename', 'train_year', 'first_model_score', 'second_model_score',
       'max_features', 'max_depth', 'ccp_alpha', 'percent_threshold', 'column',
       'column_significance', 'column_descr', 'iteration', 'count'],
      dtype='object')
  filename train_year first_model_score second_model_score max_features  \
0      NaN       2020          0.955741            0.96679         log2
0      NaN       2020          0.968117           0.928187         log2
0      NaN       2020          0.955741            0.96679         log2
0      NaN       2020          0.968117           0.928187         log2
0      NaN       2020          0.968117           0.928187         log2
0      NaN       2020          0.955741            0.96679         log2
0      NaN       2020          0.968117           0.928187         log2
0      NaN       2020          0.955741            0.96679         log2
0      NaN       2020          0.968117           0.928187         log2
0      NaN       2020          0.968117           0.928187         log2

  max_depth ccp_alpha percent_threshold              column  \
0       100       0.0             0.009            FD_FI_IX
0       100       0.0             0.009      GGR_G01_GDP_PT
0       100       0.0             0.009           FD_FMA_IX
0       100       0.0             0.009    DA_EUR_FS_ODX_IP
0       100       0.0             0.009     FB_NUM_FS_ODX_I
0       100       0.0             0.009   DSD_NUM_FS_ODX_IP
0       100       0.0             0.009   TE_NUM_FS_ODX_IPC
0       100       0.0             0.009  GGXONLB_G01_GDP_PT
0       100       0.0             0.009          GGXWDG_GDP
0       100       0.0             0.009         total_theil

  column_significance                                       column_descr  \
0           47.976247                       Financial Institutions Index
0           14.892751                                 Revenue (% of GDP)
0            9.008098                     Financial Markets Access Index
0            8.556268                                               None
0            8.505628                                               None
0            8.286535                                               None
0            7.031501                                               None
0            6.460484  Primary net lending/borrowing (also referred a...
0            6.298608                                  Debt to GDP Ratio
0            5.542938                       Export Diversification Index

   iteration
0        4.0
0        4.0
0        4.0
0        4.0
0        4.0
0        4.0
0        4.0
0        4.0
0        4.0
0        4.0
Index(['filename', 'train_year', 'first_model_score', 'second_model_score',
       'max_features', 'max_depth', 'ccp_alpha', 'percent_threshold', 'column',
       'column_significance', 'column_descr', 'iteration', 'count'],
      dtype='object')
  filename train_year first_model_score second_model_score max_features  \
0      NaN       2020          0.955741            0.96679         log2
0      NaN       2020          0.968117           0.928187         log2
0      NaN       2020          0.955741            0.96679         log2
0      NaN       2020          0.968117           0.928187         log2
0      NaN       2020          0.968117           0.928187         log2
0      NaN       2020          0.955741            0.96679         log2
0      NaN       2020          0.968117           0.928187         log2
0      NaN       2020          0.955741            0.96679         log2
0      NaN       2020          0.968117           0.928187         log2
0      NaN       2020          0.968117           0.928187         log2

  max_depth ccp_alpha percent_threshold              column  \
0       100       0.0             0.009            FD_FI_IX
0       100       0.0             0.009      GGR_G01_GDP_PT
0       100       0.0             0.009           FD_FMA_IX
0       100       0.0             0.009    DA_EUR_FS_ODX_IP
0       100       0.0             0.009     FB_NUM_FS_ODX_I

/var/folders/7l/v039n9y14dl1p58v4l2n14_r0000gn/T/ipykernel_19996/2099723327.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  choropleth_actual_df.rename(columns={train_year+1:'GDP Per Capita'},inplace=True)

Displaying chart at http://localhost:58245/
Displaying chart at http://localhost:58245/